{% extends "base.html" %}

{% macro parse_node(node) %}
{% set label = node.label|trim %}
{% set series = node.path|urlencode%}
{% if not label %}
{% set label = "Ingen titel" %}
{% endif %}
<a href="/search?collection={{ collection['id'] }}&series={{ series }}">{{ label }}</a>
{% endmacro %}

{% macro parse_tree(nodes) %}
    <ul>
    {% for node in nodes %}
        <li>
            {% if node.children %}
                <details>
                    <summary>{{ parse_node(node) }}</summary>
                    {{ parse_tree(node.children) }}
                </details>
            {% else %}
                {{ parse_node(node) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro parse_section(title, section) %}
{% if collection[section] %}
    <div class="record-content">
        <div class="label">
            {{ title }}
        </div>
        <div class="content">
            {{ paragraphs(collection[section])|safe }}
        </div>
    </div>
{% endif %}
{% endmacro %}

{% macro parse_link_list(title, section) %}
{% if collection[section] %}
<div class="record-content">
    <div class="label">
        {{ title }}
    </div>
    <div class="content">
        {% for source in collection[section] %}
        <p>
            <a href="{{ source }}">{{ urldecode(source)|truncate(40) }}</a>
        </p>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endmacro %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/collections.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}
{% include "includes/main_title.html" %}
<p>
    <a href="/search?collection={{ collection['id'] }}">Vis alle resultater i samlingen</a>
</p>


<h3 class="record-header">Abstrakt</h3>
{{ parse_section('Abstrakt', 'summary')}}
{{ parse_section('Beskrivelse', 'description')}}
{{ parse_section('Opbygning', 'content_and_scope')}}

<h3 class="record-header">Tilgængelighed og brug</h3>
{{ parse_section('Tilgængelighed', 'access')}}
{{ parse_section('Juridiske forhold', 'legal_status')}}
{{ parse_section('Digitalisering', 'level_of_digitisation')}}
{{ parse_section('Citation', 'citation')}}

<h3 class="record-header">Afleveringshistorik</h3>
{{ parse_section('Afleveringshistorik', 'custodial_history')}}
{{ parse_section('Kassation', 'level_of_kassation')}}

<h3 class="record-header">Litteratur</h3>
{{ parse_section('Kassation', 'level_of_kassation')}}
{{ parse_link_list('Litteratur', 'sources')}}

<h3 class="record-header">Arkivserier</h3>
<p>
    Browse i samlingens serier. Klik på en given serie for at se, hvilke materialer, der er placeret her
</p>
{{ parse_tree (collection['series']) }}

<h3 class="record-header">Samlingstags</h3>
<p>
    Browse i samlingens tags. Klik på et tag for at se, hvilke materialer, der er opmærket med dette.
</p>
{{ parse_tree (collection['collection_tags']) }}

<p><a href="/collections/{{ collection['id'] }}/json">JSON</a></p>

{% endblock content %}