{% extends "base.html" %}

{% import "macros/common_fields.html" as common_fields %}
{# if common_fields.settings.update({'skip_translate': True}) %} {% endif #}

{% macro parse_node(node) %}
{% set label = node.label|trim %}
{% set series = node.path|urlencode%}
{% if not label %}
{% set label = "Ingen titel" %}
{% endif %}
<a href="/search?collection={{ collection['id'] }}&series={{ series }}">{{ label }}</a>
{% endmacro %}

{% macro parse_tree(nodes) %}
    <ul>
    {% for node in nodes %}
        <li>
            {% if node.children %}
                <details>
                    <summary>{{ parse_node(node) }}</summary>
                    {{ parse_tree(node.children) }}
                </details>
            {% else %}
                {{ parse_node(node) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro parse_slideshow(images) %}
<div class="slideshow-container">
    {% for image in images %}
    <div class="slide">
        <img src="{{ image }}" alt="Slide {{ loop.index }}">
    </div>
    {% endfor %}

    <a href="#" class="prev">&#10094;</a>
    <a href="#" class="next">&#10095;</a>

    <div class="slide-counter">
        <span class="current-slide"></span> / <span class="total-slides"></span>
    </div>
</div>
<script type="module">
    import { } from "/static/js/slideshow.js";
</script>
{% endmacro %}



{% macro parse_abstract() %}
<div class="record-main">
    <div>
        {# collectors, curators, date_from, date_to, bulk_years, extent #}
        {# parse_string_list("Test", 'collectors') #}
    </div>
</div>
{% endmacro %}

{% macro parse_block_section(field) %}

{% set type = field["type"] %}
{% set value = field["value"] %}
{% set key = field["name"] %}

{% if type == "string" %}
{{ common_fields.parse_string(key, value) }}
{% elif type == "paragraphs" %}
{{ common_fields.parse_paragraphs(key, value) }}
{% elif type == "date" %}
{{ common_fields.parse_date(key, value) }}

{% elif type == "key_value_dicts" %}
{{ common_fields.parse_key_value_dicts(value ) }}
{% elif type == "string_list" %}
{{ common_fields.parse_string_list(key, value ) }}
{% elif type == "link_list" %}
{{ common_fields.parse_link_list(key, value ) }}
{% elif type == "link_list_external" %}
{{ common_fields.parse_link_list_external(key, value ) }}
{% elif type == "link_dict" %}
{{ common_fields.parse_link_dict(key, value ) }}
{% elif type == "link_list_hierarchy" %}
{{ common_fields.parse_link_list_hierarchy(key, value ) }}
{% else %}
{{ key }} {{ field }}
{% endif %}

{% endmacro %}

{% macro parse_block_common(title, block_keys) %}
{% if key_exist_in_dict(block_keys, collection) %}
<div class="record-section">
    <div class="record-main">
        <h3 class="record-header">{{ title }}</h3>
        {% for key in block_keys %}
        {% if key in collection %}
        {{ parse_block_section(collection[key]) }}
        {% endif %}
        {% endfor %}
    </div>
</div> 
{% endif %}
{% endmacro %}

{% macro parse_block_first(block_keys) %}

{% if key_exist_in_dict(block_keys, collection) %}
<div class="record-section">
    
    
    {% if collection['highlights'] %}
    <div class="record-representation">
        {{ parse_slideshow(collection['highlights'])}}
    </div>
    {% endif %}

    <div class="record-main">
        {% for key in block_keys %}
        {% if key in collection %}
        {{ parse_block_section(collection[key]) }}
        {% endif %}
        {% endfor %}
    </div>
</div> 
{% endif %}
{% endmacro %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/collections.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/slideshow.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "includes/main_title.html" %}

<p>
    <a href="/search?collection={{ collection['id'] }}">Vis alle resultater i samlingen</a>
</p>

{% set keys = ['collectors', 'curators', 'outer_years', 'bulk_years', 'extent'] %}
{{ parse_block_first(keys) }}

{% set keys = ["summary", "description", "content_and_scope"] %}
{{ parse_block_common('Abstrakt', keys) }}

{% set keys = ["access", "legal_status", "level_of_digitisation", 'citation', 'associated_material'] %}
{{ parse_block_common('Tilgængelighed og brug', keys) }}

{% set keys = ["custodial_history", "accumulation_range", "level_of_kassation", "accrual_status"] %}
{{ parse_block_common('Afleveringshistorik', keys) }}

{% set keys = ["sources"] %}
{{ parse_block_common('Literatur og kilder', keys) }}

{% set keys = ["series"] %}
{% if key_exist_in_dict(keys, collection) %}
<div class="record-section">
    <div class="record-main">
    <h3 class="record-header">Arkivserier</h3>
    <p>
        Browse i samlingens serier. Klik på en given serie for at se, hvilke materialer, der er placeret her
    </p>
    {{ parse_tree (collection['series']) }}
    </div>
</div>
{% endif %}

{% set keys = ["collection_tags"] %}
{% if key_exist_in_dict(keys, collection) %}
<div class="record-section">
    <div class="record-main">
    <h3 class="record-header">Samlingstags</h3>
    <p>
        Browse i samlingens tags. Klik på et tag for at se, hvilke materialer, der er opmærket med dette.
    </p>
    {{ parse_tree (collection['collection_tags']) }}
    </div>
</div>
{% endif %}

{% if get_setting('debug') %}
<div class="record-main">
<h3 class="record-header">Metadata</h3>
<p><a href="/collections/{{ collection['id'] }}/json">JSON</a></p>
</div>
{% endif %}
{% endblock content %}