{% set record_search_url = "/records-search" %}

{% macro parse_facets(facets, top_level_key) %}
<ul>
    {% for facet in facets %}
    <li>

        {% if 'children' in facet %}
        <details>
            <summary>
                <a href="{{ record_search_url }}?{{ top_level_key }}={{ facet['id'] }}">{{ facet['label'] }}</a>
            </summary>
            {{ parse_facets(facet['children'], top_level_key) }}
        </details>
        {% else %}
        <a href="{{ record_search_url }}?{{ top_level_key }}={{ facet['id'] }}">{{ facet['label'] }}</a>
        {% endif %}

    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro parse_top_level_facets(facets) %}
<ul>
    {% for top_level_key, top_level_value in facets.items() %}
    <li>
        <details>
            <summary>
                <a href="{{ record_search_url }}">{{ top_level_value['label'] }}</a>
            </summary>
            {{ parse_facets(top_level_value['content'], top_level_key) }}
        </details>
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% extends "base.html" %}
{% block content %}
{% include "includes/main_title.html" %}
<style>
    ul {
        list-style: none;
        padding-left: 0;
    }

    ul li {
        margin-left: 5px;
    }

    ul li ul {
        margin-left: 10px;
    }
</style>
{{ parse_top_level_facets(facets)}}
{% endblock content %}