{% import "macros/common_macros.html" as common_macros with context %}
{% import "macros/record_macros.html" as record_macros with context %}

{% extends "base.html" %}

{% block body_class %}page-records-view{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/overlay.css') }}?v={{ get_setting('version') }}">
<script type="module">
    import {  } from "/static/js/record.js";
    import { activateOverlay } from "/static/js/overlay.js";
    activateOverlay();
</script>
{% endblock head %}

{% block content %}

{{ html | safe }}

{% endblock content %}

