{% extends "search.html" %}
{% set settings = {'skip_translate': False} %}
{% set truncate_summary = 300 %}
{% set search_base_url = get_setting('search_base_url') %}

{% macro parse_facets_filters(facets_filters) %}
<ul>
    {% for facet in facets_filters %}
    <li>
        <a class="remove" href="{{ search_base_url }}?{{ facet['remove_query'] }}">{{ translate('Remove facet') }}</a>
        {% if facet["entity_url"] %}
        <span><a href="{{ facet['entity_url'] }}">{{ facet['checked_label'] }}</a></span>
        {% else %}
        <span>{{ facet['checked_label'] }}</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro parse_facet_link(top_level_key, facet) %}
{% if facet["checked"] %}
{{ facet['label'] }} ({{ facet["count"] }}) <span class="disabled">({{ translate('Selected') }})</span>
{% elif facet["count"] == 0 %}
{{ facet['label'] }} ({{ facet["count"] }}) <span class="disabled"></span>
{% else %}
<a href="{{ search_base_url }}?{{ facet['search_query'] }}">{{ facet['label'] }} ({{ facet["count"] }})</a>
{% endif %}
{% endmacro %}

{% macro parse_facets(top_level_key, facets_content) %}
<ul>
    {% for facet in facets_content %}
    <li>
        {% if 'children' in facet and facet["count"] %}
        <details data-id="{{ facet['id'] }}">
            <summary class="facets-clickable">
                {{ parse_facet_link(top_level_key, facet) }}
            </summary>
            {{ parse_facets(top_level_key, facet['children'] ) }}
        </details>
        {% else %}
        <details data-id="{{ facet['id'] }}">
            <summary class="inactive">
                {{ parse_facet_link(top_level_key, facet) }}
            </summary>
        </details>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro parse_resource_links(top_level_value) %}
{% set content = top_level_value['content'] %}
{% set resource_type = top_level_value["resource_type"] %}
<ul>
    {% for facet in content %}
    <li>
        <details data-id="{{facet['id'] }}">
            <summary class="facets-clickable">
                {{ facet['label'] }}
                
            </summary>
            <ul>
                {% for link in facet['children'] %}
                <li>
                    <details data-id="{{ link['id']}}">
                        <summary class="inactive">
                            <a href="/{{ resource_type }}/{{link['id']}}">{{ link['label'] }}</a>
                        </summary>
                    </details>
                    
                </li>
                {% endfor %}
            </ul>
            
        </details>
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro parse_top_level_facets(facets, facets_class, date_form_class ) %}
<div class="{{ facets_class }}">
    <ul>

        {% for top_level_key, top_level_value in facets.items() %}
        {% set type = top_level_value.get('type', 'default') %}

        {% if type == 'default' %}
        <li>
            <details data-id="{{ top_level_key }}">
                <summary class="facets-clickable">
                    {{ top_level_value['label'] }}
                </summary>
                {{ parse_facets(top_level_key, top_level_value['content']) }}
            </details>
        </li>
        {% endif %}

        {% if type == 'resource_links' %}
        <li>
            <details data-id="{{ top_level_key }}">
                <summary class="facets-clickable">
                    {{ top_level_value['label'] }}
                </summary>
                <ul>
                    {{ parse_resource_links(top_level_value) }}
                </ul>
            </details>
        </li>
        {% endif %}

        {% if type == 'date_form' %}
        <li>
            <details>
                <summary data-id="date_search" class="facets-clickable">
                    {{ translate('Search date') }}
                </summary>
                {{ parse_date_form(date_form_class) }}
            </details>
        </li>
        {% endif %}
        {% endfor %}

    </ul>
</div>
{% endmacro %}

{% macro parse_search_form() %}
<div>
    <form id="search" method="get" action="{{ url_for('records_search')}}">
        {% for key, value in query_params if key not in ['start', 'q'] %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
        <input type="text" name="q" placeholder="{{ translate('Search') }}" aria-label="{{ translate('search') }}"
            value="{{ q }}">
        <button type="submit" class="search-button">{{ translate('Search') }}</button>
    </form>
</div>
{% endmacro %}

{% macro parse_size_form() %}
<div class="search-option">
    <form class="size" id="size" method="get" action="{{ url_for('records_search')}}">
        {% for key, value in query_params if key not in ['start', 'size'] %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
        <select name="size" class="select-size">
            <option value="20" {% if size=="20" %}selected{% endif %}>{{ translate('20 per page') }}</option>
            <option value="50" {% if size=="50" %}selected{% endif %}>{{ translate('50 per page') }}</option>
            <option value="100" {% if size=="100" %}selected{% endif %}>{{ translate('100 per page') }}</option>
        </select>
    </form>
</div>
{% endmacro %}

{% macro parse_sort_form() %}
<div class="search-option">
    <form class="sort" id="sort" method="get" action="{{ url_for('records_search')}}">
        {% for key, value in query_params if key not in ['sort', 'direction'] %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
        <select name="sort" class="select-sort">
            <option value="_score" {% if sort=="_score" %}selected{% endif %}>{{ translate('Relavance') }}</option>
            <option value="date_from" {% if sort=="date_from" %}selected{% endif %}>{{ translate('Oldest date first') }}
            </option>
            <option value="date_to" {% if sort=="date_to" %}selected{% endif %}>{{ translate('Newest date first') }}
            </option>
        </select>
    </form>
</div>
{% endmacro %}

{% macro parse_search() %}
<div class="search-form">
    {{ parse_search_form() }}
    <div class="search-options">
        {{ parse_size_form() }}
        {{ parse_sort_form() }}
    </div>
</div>
{% endmacro %}

{% macro parse_search_title(result) %}
{% if result.label %}
<div class="search-summary">{{ result.label|truncate(truncate_summary) }}</div>
{% endif %}
{% if result.summary %}
<div class="search-summary">{{ result.summary|truncate(truncate_summary) }}</div>
{% endif %}
{% endmacro %}

{% macro parse_search_title(result) %}
{% if result.label %}
<div class="search-summary">{{ result.label|truncate(truncate_summary) }}</div>
{% endif %}
{% if result.summary %}
<div class="search-summary">{{ result.summary|truncate(truncate_summary) }}</div>
{% endif %}
{% endmacro %}

{% macro parse_record_label (label) %}
<div class="label">
    {% if settings.skip_translate %}
    <strong>{{ label }} </strong>
    {% else %}
    {% set label = "label_record_" + label %}
    <strong>{{ translate(label) }} </strong>
    {% endif %}
</div>
{% endmacro %}

{% macro parse_string (key, value) %}
<div class="record-content">
    {{ parse_record_label(key)}}
    <div class="content">
        <p>
            {{ value }}
        </p>
    </div>
</div>
{% endmacro %}

{% macro pagination_total(pagination_data) %}
{% set total = pagination_data["total"] %}
<div class="pagination-total">
    {% if total == 0 %}
    {{ translate('No search results') }}
    {% elif total == 1 %}
    {{ total }} {{ translate('Search result') }}
    {% elif total == 10000 %}
    {{ translate('More than 10.000 search results') }}
    {% else %}
    {{ total }} {{ translate('Search results') }}
    {% endif %}
</div>
{% endmacro %}

{% macro parse_pagination (pagination_data) %}
{% set size = pagination_data["size"] %}
{% set start = pagination_data["start"] %}
{% set total_pages = pagination_data["total_pages"] %}
{% set current_page = pagination_data["current_page"] %}

<div class="pagination">
    <div class="pagination-pages">
        {% if current_page > 1 %}
        <a href="{{ search_base_url }}?{{ query_str_display }}start=0">{{ translate('First page') }}</a>
        <a href="{{ search_base_url }}?{{ query_str_display }}start={{ start - size }}">{{ translate('Previous')
            }}</a>
        {% else %}
        <span class="disabled">{{ translate('First page') }}</span>
        <span class="disabled">{{ translate('Previous') }}</span>
        {% endif %}
        {% if current_page < total_pages %} <a href="{{ search_base_url }}?{{ query_str_display }}start={{ start + size }}">{{
            translate('Next')}}</a>
            <a href="{{ search_base_url }}?{{ query_str_display }}start={{ (total_pages - 1) * size }}">{{ translate('Last page') }}</a>
            {% else %}
            <span class="disabled">{{ translate('Next') }}</span>
            <span class="disabled">{{ translate('Last page') }}</span>
            {% endif %}
    </div>
</div>
{% endmacro %}

{% macro parse_search_result(search_result) %}
{% set start = search_result["start"]|int %}
{% set size = search_result["size"]|int %}
<div class="search-results">
    {% for result in search_result.result %}
    {% set serie = None %}
    {% if result.series is iterable %}
    {% set serie = result.series | last %}
    {% endif %}
    {% set current = loop.index + start %}

    <div class="search-result">
        <a class="search-link" href="/records/{{ result.id }}?search={{ current }}">

            {% if result.thumbnail %}
            <div class="search-thumbnail">
                <img src="{{ result.thumbnail }}" alt="{{ result.label }}">
            </div>
            {% endif %}

            <div class="search-details">
                {{ parse_search_title(result) }}
                {% if result.collectors_label %}
                {{ parse_string('collectors_label', result.collectors_label) }}
                {% endif %}
                {% if result.collection %}
                {{ parse_string('collection', result.collection) }}
                {% endif %}
                {% if serie %}
                {{ parse_string('series', serie) }}
                {% endif %}
                {{ parse_string('date_normalized', result.date_normalized) }}
                {% if result.content_type %}
                {{ parse_string('content_type', result.content_type) }}
                {% endif %}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro parse_date_form (date_form_class) %}
<div>
    <form class="{{ date_form_class }}">
        {% set ignore_keys = ['date_to', 'date_from'] %}
        {% for key, value in query_params if key not in ignore_keys %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
        <label for="from-year" title="{{ translate('The date shall be between 1200 and the current date')}}">{{
            translate('Date From') }}</label><br />
        <input type="text" maxlength="4" id="from-year" class="from-year" name="from-year" placeholder="1600"
            value="{{ dates['from_year']}}">
        <input type="text" maxlength="2" id="from-month" class="from-month" name="from-month" placeholder="01"
            value="{{ dates['from_month']}}">
        <input type="text" maxlength="2" id="from-day" class="from-day" name="from-day" placeholder="01"
            value="{{ dates['from_day']}}">
        <br>
        <label for="to-year" title="{{ translate('The date shall be between 1200 and the current date')}}">{{
            translate('Date To') }}</label><br />
        <input type="text" maxlength="4" id="to-year" class="to-year" name="to-year" placeholder="2020"
            value="{{ dates['to_year']}}">
        <input type="text" maxlength="2" id="to-month" class="to-month" name="to-month" placeholder="12"
            value="{{ dates['to_month']}}">
        <input type="text" maxlength="2" id="to-day" class="to-day" name="to-day" placeholder="31"
            value="{{ dates['to_day']}}">
        <br>
        <input type="submit" value="{{ translate('Search') }}">
    </form>
</div>
{% endmacro %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/search.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}
<div class="container-left">
    {{ parse_top_level_facets(facets, "facets", "search-date") }}
</div>
<div class="container-main-center">

    {{ parse_search() }}
    {{ parse_facets_filters(facets_filters) }}
    <div class="container-main-facets">
        {{ parse_top_level_facets(facets, 'facets', 'search-date-main') }}
    </div>
    {{ pagination_total(pagination_data) }}
    {{ parse_pagination(pagination_data) }}
    {{ parse_search_result(search_result) }}
    {% if pagination_data["total"] > pagination_data["size"] * pagination_data["current_page"] %}
    {{ parse_pagination(pagination_data) }}
    {% endif %}
    {% if get_setting('debug') %}
    <p>
        <a href="/search/json?{{ query_str_search }}">JSON</a>
    </p>
    {% endif %}
</div>

<script type="module">
    import { searchEvents } from "/static/js/search.js";
    searchEvents();
</script>

{% endblock content %}