html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

:root {


    /* * primitives */

    /* * color primitives */


    --color-white: #FFFFFF;
    --color-gray-50: #FDFDFD;
    --color-gray-alternate: #f9f9f9;
    --color-gray-100: #F5F5F5;
    --color-gray-300: #D5D7DA;
    --color-gray-500: #717680;
    --color-gray-700: #414651;
    --color-gray-900: #181D27;
    --color-brand-color-600: #444ce7;
    --color-brand-color-700: #3538cd;





    /* * font primitives */


    /* * Tokens */


    --numbers-spacing-2xl: var(--numbers-sizing-5);
    --background-bg-primary: var(--color-white);
    --background-bg-secondary: var(--color-gray-alternate);
    --background-bg-tertiary: var(--color-gray-100);
    --background-bg-brand-solid: var(--color-brand-color-600);
    --background-bg-brand-solid-hover: var(--color-brand-color-700);


    --text-colors-text-primary: var(--color-gray-900);
    --text-colors-text-secondary: var(--color-gray-700);
    --text-colors-text-primary-on-brand: var(--color-white);
    --text-colors-text-placeholder: var(--color-gray-500);
    --border-border-primary: var(--color-gray-300);


    /* * application */


    --background-body: var(--background-bg-primary);
    --background-secondary: var(--background-bg-secondary);
    --background-alt: var(--background-bg-tertiary);
    --text-main: var(--text-colors-text-primary);
    --text-bright: #000;
    --text-muted: var(--text-colors-text-secondary);
    --links: var(--text-colors-text-secondary);
    --border: var(--border-border-primary);
    --code: #000;
    --animation-duration: 0.1s;
    --button-base: var(--background-bg-brand-solid);
    --button-hover: var(--background-bg-brand-solid-hover);
    --form-placeholder: var(--text-colors-text-placeholder);
    --form-text: var(--text-colors-text-primary);
    --variable: #39a33c;
    --highlight: #ff0;
    --body-width: 100%;


    /* *  default.css */

    --navigation-background: var(--background-bg-primary);
    --navigation-background-hover: var(--background-bg-secondary);


    /* * record.css */


    --record-header-border: none;
    --record-title: var(--text-main);
    --record-prev-next: var(--text-main);
    --record-prev-next-disabled: var(--text-muted);



    /* * search.css */

    --search-result-background: var(--background-bg-primary);
    --search-result-border: var(--border);
    --search-result-background-hover: var(--background-secondary);
    --search-link-text: black;

    --background-disabled: var(--background-alt);
    --text-disabled: var(--text-muted);


    /* * footer.css */


    --footer-text: var(--text-main);
    --footer-heading: var(--text-main);


    /* * slideshow.css */

    --slideshow-background: rgba(0, 0, 0, 0.5);
    --slideshow-background-alt: rgba(0, 0, 0, 0.8);
    --slideshow-text: white;
}

body {
    background-color: var(--background-bg-primary);
}

.menu-text:hover {
    background-color: var(--navigation-background-hover);
}

.search-option select {
    height: 44px;
    border: 1px solid var(--color-gray-300, #D5D7DA);
    border-radius: 8px;
    gap: 8px;
    padding-top: 10px;
    padding-right: 40px;
    /* Add extra padding to create space for the chevron */
    padding-bottom: 10px;
    padding-left: 14px;
    background: var(--background-bg-primary, #ffffff);
    box-shadow: 0px 1px 2px 0px #0A0D120D;
    appearance: none;
    /* Remove default styling */
    -webkit-appearance: none;
    /* For WebKit browsers */
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"%3E%3Cpath fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/%3E%3C/svg%3E');
    /* Add your chevron icon */
    background-repeat: no-repeat;
    background-position: calc(100% - 14px) 50%;
    /* Dynamically position chevron */
}


.search-result {
    border: none;
}



#submit {
    color: var(--text-colors-text-primary-on-brand)
}

.menu-text {
    color: var(--text-colors-text-primary);
}

.menu-text :hover {
    background-color: var(--background-alt);
}

#q {
    background-color: var(--background-alt);
}

.action-links>a {
    background-color: var(--bg-brand-solid);
    color: var(--hvid);
}

.action-links>a:hover {
    background-color: var(--bg-brand-solid_hover);
}


.footer {
    background-color: var(--background-bg-secondary);
}

.main-menu-overlay {
    background-color: var(--background-bg-primary);
    box-shadow: 0px 12px 16px -4px rgba(10, 13, 18, 0.08), 0px 4px 6px -2px rgba(10, 13, 18, 0.03);
}

.menu-text-overlay {
    padding: 12px 16px;
}



/* * potentielle styles */
/*
.search-result {
 border-radius: 16px;
}

*/