/** salling local css */

/** only display #menu-hamburger menu devices where max-width is 768px */
#menu-hamburger {
    display: none;
}

@media (max-width: 768px) {
    #menu-hamburger {
        display: block;
    }
}

@media (min-width: 769px) {
    .main-menu-overlay {
        /** 
         * This is the absolute simplest way to hide the overlay menu on desktop
         * without changing the html structure or adding javascript.
        */
        display: none !important;
    }
}

.page-about .container-medium, .page-cookies .container-medium {
    max-width: 700px;
}

.logo img {
    height: 51px;
}

.page-records-search .record_content_collectors,
.page-records-search .record_content_collection
{
    display: none;
}

.page-records-view .record-section:nth-of-type(2) {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .page-records-view .record-section:nth-of-type(2) {
        flex-direction: column;
    }
}

.record-content {
    flex-direction: column;
    gap: unset;
}

.record-content .content {
    max-width: var(--text-max-width);
}

.logo svg {
    height: 61px;
}

.footer {
    align-items: center;
}
