<div class="footer-content" id="item-1">
    <div class="footer-logo">
        <a href="http://www.aarhus.dk/stadsarkivet"><img src="/static/assets/as_logo_white_300px.png" alt="Besøg Aarhus Stadsarkiv"></a>
    </div>
</div>

<div class="footer-content" id="item-2">
    <ul class="contact-info">
        <li class="heading">aarhus stadsarkiv</li>
        <li>Hack Kampmanns Plads 2</li>
        <li>DOKK1, niveau 2.2</li>
        <li>8000 Aarhus C</li>
        <li>Tlf.: 41856545</li>
        <li>Mail: stadsarkiv@aarhus.dk</li>
        <li>Web: aarhusstadsarkiv.dk</li>
        <li>
            &nbsp;
        </li>
        <li><a href="https://app.heyloyalty.com/subscribe/10234/3176">Tilmeld dig stadsarkivets nyhedsbrev</a></li>

        {% if get_setting('show_version') %}
        {% set version = get_setting('version') %}
            <li>
                &nbsp;
            </li>
            <li class="version">{{ version }}</li>
        {% endif %}
    </ul>
</div>

<div class="footer-content" id="item-3">
    <ul class="reading-room">
        <li class="heading">læsesal</li>
        <li><span class="left">Tirsdag</span><span class="right">9.00 - 16.00</span></li>
        <li><span class="left">Onsdag</span><span class="right">9.00 - 16.00</span></li>
        <li><span class="left">Torsdag</span><span class="right">9.00 - 16.00</span></li>
        <li>
            &nbsp;
        </li>
        <li><a href="https://www.facebook.com/aarhusstadsarkiv/">Facebook</a></li>
        <li>&nbsp;</li>
        <li><a href="https://www.instagram.com/aarhusstadsarkiv/?hl=da">Instagram</a></li>
        <li>&nbsp;</li>
        <li><a href="/about/privacy" style="color:white;">Privatlivspolitik</a></li>
    </ul>
</div>

<div class="footer-content" id="item-4">
    <div class="footer-logo-right">
        <a href="http://sallingfondene.dk"><img src="/static/assets/Salling_Fondene_white_300px.png" alt="Besøg Salling Fondene"></a>
    </div>
</div>