{% extends "base.html" %}

{% import "macros/basic_macros.html" as basic_macros %}

{% block body_class %}page-auth-bookmarks{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "auth/menu.html" %}

{{ basic_macros.page_title(title) }}

{% if bookmarks_data|length == 0 %}

<p>Du har ingen bogmærker.</p>

{% else %}

{% for bookmark in bookmarks_data %}

<div class="table-container">
    <table>
        <tr>
            <td colspan="2"><a href="{{ bookmark.record_link }}">{{ bookmark.title }}</a></td>
        </tr>
        <tr>
            <td>Datering</td>
            <td>{{ bookmark.date_normalized }}</td>

        </tr>
        {% if bookmark.collection_label %}
        <tr>
            <td>Arkivskaber</td>
            <td>{{ bookmark.collection_label }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Indholdstype</td>
            <td>{{ bookmark.content_types }}</td>

        </tr>
        <tr>
            <td>Handling</td>
            <td><a class="bookmark-delete" data-id="{{ bookmark.record_id }}" href="#">Slet</a></td>
        </tr>
    </table>
</div>
{% endfor %}
{% endif %}

<div class="loadingspinner hidden"></div>
<script type="module">

import "/static/js/bookmarks-user.js";

</script>

{% endblock content %}