{% extends "base.html" %}

{% import "macros/basic_macros.html" as basic_macros %}

{% block body_class %}page-auth-bookmarks{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
<style>
    .record-header > a {
        text-decoration: none;
    }
</style>
{% endblock head %}

{% block content %}

{% include "auth/menu.html" %}

{{ basic_macros.page_title(title) }}

{% if bookmarks_data|length == 0 %}

<p>Du har ingen bogmærker.</p>

{% else %}


{% for bookmark in bookmarks_data %}
<div class="record-section">
    <div class="record-main">
        <h3 class="record-header"><a href="{{ bookmark.record_link }}">{{ sub_string(bookmark.title, 75)}}</a></h3>

        <div class="record-content">
            <div class="label">Titel</div>
            <div class="content">
                <p>
                    {{ bookmark.title }}
                </p>
            </div>
        </div>

        <div class="record-content">
            <div class="label">Datering</div>
            <div class="content">
                <p>
                    {{ bookmark.date_normalized }}
                </p>
            </div>
        </div>

        {% if bookmark.collection_label %}

        <div class="record-content">
            <div class="label">Arkivskaber</div>
            <div class="content">
                <p>
                    {{ bookmark.collection_label }}
                </p>
            </div>
        </div>

        {% endif %}

        <div class="record-content">
            <div class="label">Indholdstype</div>
            <div class="content">
                <p>
                    {{ bookmark.content_types }}
                </p>
            </div>
        </div>

        <div class="record-content">
            <div class="label">Handling</div>
            <div class="content">
                <p>
                    <a class="bookmark-delete" data-id="{{ bookmark.record_id }}" href="#">Slet</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}


<div class="loadingspinner hidden"></div>
<script type="module">

    import "/static/js/bookmarks-user.js";

</script>

{% endblock content %}