{% extends "base.html" %}

{% block body_class %}page-auth-me{% endblock %}

{% block content %}

{% include "auth/menu.html" %}

{% include "includes/main_title.html" %}


<table>
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tr>
        <td>Email</td>
        <td> {{ me["email"] }} </td>
    </tr>

    <tr>
        <td>is_active</td>
        <td> {{ me["is_active"] }} </td>
    </tr>

    <tr>
        <td>is_verified</td>
        <td> {{ me["is_verified"] }} </td>
    </tr>

    {% for key, value in me["permissions"].items() %}
    <tr>
        <td>{{ key }}</td>
        <td> {{ value }} </td>
    </tr>
    {% endfor %}
</table>

<p>
    {% if not me["is_verified"] %}
    <a href="/auth/send-verify-email">{{ translate("Send verification email") }}</a>
    {% endif %}
</p>

{% endblock content %}