{% extends "base.html" %}

{% import "macros/basic_macros.html" as basic_macros %}

{% block body_class %}page-auth-me{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "auth/menu.html" %}

{{ basic_macros.page_title(title) }}

<div class="record-section">
    <div class="record-main">
        <div class="record-content">
            <div class="label">Email</div>
            <div class="content">
                <p>{{ me["email"] }}</p>
            </div>
        </div>

        <div class="record-content">
            <div class="label">Verificeret</div>
            <div class="content">
                <p>
                    {% if me["is_verified"] %}
                    <span class="label label-success">Ja</span>
                    {% else %}
                    <span class="label label-danger">Nej</span>
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="record-content">
            <div class="label">Rettighed</div>
            <div class="content">
                <p>
                    {{ permission_translated }}
                </p>
            </div>
        </div>

        {% if get_setting('debug') %}
        <div class="record-content">
            <div class="label">Token</div>
            <div class="content">
                <p>{{ me["token"] }}</p>
            </div>
        </div>
        {% endif %}

        {% if not me["is_verified"] %}
        <div class="record-content">
            <div class="label">Verfificer e-mail</div>
            <div class="content">
                <p><a href="/auth/send-verify-email">{{ translate("Send verification email") }}</a></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}