{% extends "base.html" %}

{% import "macros/basic_macros.html" as basic_macros %}

{% block body_class %}page-auth-me{% endblock %}

{% block content %}

{% include "auth/menu.html" %}

{{ basic_macros.page_title(title) }}

<table>
    <thead>

    </thead>
    <tr>
        <td>Email</td>
        <td> {{ me["email"] }} </td>
    </tr>

    <tr>
        <td>Aktiveret</td>
        <td>
            {% if me["is_active"] %}
            <span class="label label-success">Ja</span>
            {% else %}
            <span class="label label-danger">Nej</span>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Verificeret</td>
        <td>
            {% if me["is_verified"] %}
            <span class="label label-success">Ja</span>
            {% else %}
            <span class="label label-danger">Nej</span>
            {% endif %}
        </td>
    </tr>
    </table>

{{ basic_macros.page_title("Brugerrettigheder") }}
<table>


    {% for permission in permissions %}
    <tr>
        <td>{{ permission }}</td>
        <td>
            <span class="label label-default">✓</span>
        </td>
    </tr>
    {% endfor %}

</table>

<p>
    {% if not me["is_verified"] %}
    <a href="/auth/send-verify-email">{{ translate("Send verification email") }}</a>
    {% endif %}
</p>

{% endblock content %}