{% extends "base.html" %}

{% import "macros/basic_macros.html" as basic_macros %}

{% block body_class %}page-auth-orders{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "auth/menu.html" %}

{{ basic_macros.page_title(title) }}

{% if orders|length == 0 %}
    <p>Du har ingen ordrer.</p>
{% else %}

<div class="record-section">
    <div class="record-main">
    {% for order in orders %}

        <div class="record-content">
            <div class="label">Materiale</div>
            <div class="content">
                <a href="/records/{{ order.record_id}}">{{ order.label }}</a>
            </div>
        </div>

        <div class="record-content">
            <div class="label">Materiale ID </div>
            <div class="content">{{ order.record_id}}</div>
        </div>

        <div class="record-content">
            <div class="label">Status</div>
            <div class="content">{{ order.status }}</div>
        </div>

        <div class="record-content">
            <div class="label">Oprettet</div>
            <div class="content">{{ order.created }}</div>
        </div>

        <div class="record-content">
            <div class="label">Opdateret</div>
            <div class="content">{{ order.status_modified }}</div>
        </div>
        <hr>

    {% endfor %}
    </div>
</div>
{% endif %}


{% endblock content %}