{% extends "base.html" %}

{% block body_class %}page-auth-register{% endblock %}

{% block content %}

{% include "includes/main_title.html" %}

<form id="auth_register_post" method="post" action="{{ url_for('auth_register_post')}}">
    <input type="text" name="captcha" placeholder="Postnummer Aarhus C" aria-label="Capcha" autocomplete="off">
    <input type="text" name="display_name" placeholder="{{ translate('Username') }}">
    <input type="text" name="email" placeholder="{{ translate('Email') }}" aria-label="Login" autocomplete="email">
    <input type="password" name="password" placeholder="{{ translate('Password') }}" aria-label="Password">
    <input type="password" name="password_2" placeholder="{{ translate('Repeat Password') }}" aria-label="Repeat Password">
    <button id="submit" type="submit">{{ translate('Register') }}</button>
</form>
<div class="loadingspinner hidden"></div>
<script type="module">

    import { asyncLogError } from "/static/js/error.js";
    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";
    import { config } from "/static/js/config.js";

    const spinner = document.querySelector('.loadingspinner');
    const submit = document.getElementById('submit');
    submit.addEventListener('click', async function(event) {

        event.preventDefault();
        spinner.classList.toggle('hidden');

        try {
            const url = '/auth/register';
            const form = document.getElementById('auth_register_post');
            const formData = new FormData(form);
            const res = await Requests.asyncPost(url, formData);

            if (res.error) {
                Flash.setMessage(res.message, 'error');
            } else {
                window.location.href = '/auth/login';
            }
            
        } catch (e) {
            Flash.setMessage(config.jsExceptionMessage, 'error');
            asyncLogError(e);
            console.error(e);
        } finally {
            spinner.classList.toggle('hidden');
        }   
    });

</script>

{% endblock content %}
