{% extends "base.html" %}

{% block body_class %}page-auth-register{% endblock %}

{% block content %}

{% include "includes/main_title.html" %}

<form method="post" action="{{ url_for('auth_register_post')}}">
    <input type="text" name="email" placeholder="{{ translate('Email') }}" aria-label="Login" autocomplete="email">
    <input type="password" name="password" placeholder="{{ translate('Password') }}" aria-label="Password">
    <input type="password" name="password_2" placeholder="{{ translate('Repeat Password') }}" aria-label="Repeat Password">
    <button type="submit">{{ translate('Register') }}</button>
</form>

{% endblock content %}
