{% extends "base.html" %}

{% block content %}
{% include "includes/main_title.html" %}

<form method="post" action="{{ url_for('post_register')}}">
    <input type="text" name="email" placeholder="{{ translate('Email') }}" aria-label="Login" autocomplete="email"
        required>
    <input type="password" name="password" placeholder="{{ translate('Password') }}" aria-label="Password"
        autocomplete="current-password" required>
    <button type="submit" class="contrast">{{ translate('Register') }}</button>
</form>

{% endblock content %}