{% extends "base.html" %}

{% block content %}
{% include "includes/main_title.html" %}

<p>{{ translate('Password should be at least 8 characters long') }}</p>

<form method="post" action="/auth/post-reset-password/{{ token }}">
    <input type="password" name="password" placeholder="{{ translate('Password') }}" aria-label="Login" autocomplete="email"
        required>
    <input type="password" name="password_2" placeholder="{{ translate('Repeat Password') }}" aria-label="Login" autocomplete="email"
        required>
    <button type="submit" class="contrast">{{ translate('Update Password') }}</button>
</form>

{% endblock content %}