{% extends "empty.html" %}

{% block body_class %}page-home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/search.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/home.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

<nav class="container-fluid navigation sticky-top">
    {% include "includes/logo.html" %}
    {% include "includes/navigation.html" %}
</nav>

<main>
    <div class="container-fluid" >
        <div class="home-search-container">
            <div class="home-search-form">
                <form id="search" method="get" action="{{ url_for('proxies_search_get')}}" role="search">
                    <input id="q" type="text" name="q" placeholder="{{ translate('Search') }}" value="{{ q }}">
                    <button id="submit" type="submit" class="search-button">{{ translate('Search') }}</button>
                </form>
                <div class="search-suggestions"></div>
            </div>
        </div>

        <div class="home-content">

            {# include "includes/main_title.html" #}
            <h2>Velkommen til AARHUS TEATER ARKIV</h2><br />
        
            <p>Her kan du gå på opdagelse i Aarhus Teaters historie fra år 1900 til nu.</p><br />
            <p>Find oplysninger om og billeder af:</p><br />
            <ul>
                <li>Forestillinger</li>
                <li>Skuespillere og andet personale</li>
                <li>Sæsoner</li>
            </ul><br />
        
            <a class="text" href="/how-to-search">Sådan søger du</a>
        </div>
    </div>
</main>

<script type="module">

    import { autoCompleteInit } from '/static/js/auto-complete-instance.js';

    const searchBaseUrl = '/search?{{ query_str_display }}';
    window.addEventListener("pageshow", function(event) {
        autoCompleteInit(searchBaseUrl);
    });
</script>

{% endblock content %}