{% extends "empty.html" %}

{% block body_class %}page-home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/search.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/home.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

<header>
    {% include "includes/navigation.html" %}
</header>

<main>
    <div class="container-fluid" >
        <div class="home-search-container">
            <!--
            <div class="home-search-form">
                <form id="search" method="get" action="{{ url_for('search_get')}}" role="search">
                    <input id="q" type="text" name="q" placeholder="{{ translate('Search') }}" value="{{ q }}" autocomplete="off">
                    <button id="submit" type="submit" class="search-button">{{ translate('Search') }}</button>
                </form>
                <div class="search-suggestions"></div>
            </div>
            -->
        </div>
    </div>
    <div class="home-search-links">

        <div class="home-search-link">
            <a href="/about">
                <img src="/static/assets/arkiv_kasser_768.jpg" alt="Samling">
                <div class="headline">Samling</div>
            </a>            
        </div>
        
        <div class="home-search-link">
            <a href="/history">
                <img src="/static/assets/svane_flugt_768.jpg" alt="Historie">
                <div class="headline">Historie</div>
            </a>
        </div>

        <div class="home-search-link">
            <a href="/architecture">
                <img src="/static/assets/buegang_768.jpg" alt="Arkitektur">
                <div class="headline">Arkitektur</div>
            </a>
        </div>

        <div class="home-search-link">
            <a href="/scenes">
                <img src="/static/assets/aarhus_teater_768.jpg" alt="Scener">
                <div class="headline">Scener</div>
            </a>
        </div>

        <div class="home-search-link">
            <a href="/contact">
                <img src="/static/assets/drage_himmel_black_768.jpg" alt="Kontakt">
                <div class="headline">Kontakt</div>
            </a>
        </div>
    </div>
</main>

<style>

    

</style>

<script type="module">

    /*
    import { autoCompleteInit } from '/static/js/auto-complete-instance.js';

    const searchBaseUrl = '/search?{{ query_str_display }}';
    window.addEventListener("pageshow", function(event) {
        if (!event.persisted) {
            autoCompleteInit(searchBaseUrl);
        }
    });

    document.getElementById('q').focus();
    */
</script>

{% endblock content %}