{% extends "about_guides.html" %}

{% block body_class %}page-about-scenes{% endblock %}

{% block content %}

<p>Teater er en flygtig kunstart. Når tæppet falder den sidste aften efter en
    forestilling, eksisterer den ikke længere som noget konkret sanseligt og visuelt. Teatret er og har altid
    været en oplevelse i nuet. Det er teatrets ”nu”, som Aarhus Teaters Arkiv bevarer og dokumenterer for
    fremtiden.</p>
<p>Aarhus Teaters arkivalier er dateret fra 1898 og frem. Aarhus Teaters arkiv rummer over 300 hyldemeter
    analoge arkivalier af stor kulturhistorisk værdi. Der er tale om historie og kulturarv, som dækker det nære
    lokale, det nationale samt det internationale udsyn indenfor dansk scenekunst og kultur.</p>
<h3>Samlingerne</h3>
<p>Aarhus Teaters Arkiv er delt i to samlinger: Aarhus Teaters Kunstneriske Samling og Aarhus Teaters
    Administrative Samling.</p>
<p>Arkivets kunstneriske samling befinder sig fysisk på Aarhus Teaters Arkiv, mens den administrative samling
    gennem de seneste par år blevet overdraget til Aarhus Stadsarkiv, hvor det registreres på
    www.aarhusarkivet.dk</p>
<p>Blandt de tusindvis af arkivalier i Aarhus Teaters Kunstneriske Samling er manuskripter, fotografier,
    programmer, plakater, scene- og kostumetegninger, breve, dagbøger, forhandlings-, rekvisit- og
    kostumeprotokoller, noder og meget mere.</p>
<h3>Aarhus Teaters digitale arkiv</h3>
<p>I Aarhus Teaters digitale arkiv kan man søge på forestillinger, personer eller sæsoner og via disse komme på
    en rundtur i hele teatrets historie eller få specifikke oplysninger om enkelte forestillinger, skuespillere
    og øvrige ansatte.</p>
<p>Det digitale arkiv opdateres konstant og løbende med oplysninger om og digitalisering af arkivalier.</p>
<p>Der ligger (pr. februar 2019) ca. 7.000 beskrevne forestillingsbilleder tilgængeligt på online-arkivet. De
    udgør knap en fjerdedel af Aarhus Teaters billedarkiv.</p>
<p><a href="/how-to-search">Se her hvordan du bruger det digitale arkiv</a></p>


{% endblock content %}