{% extends "base.html" %}

{% block body_class %}page-about{% endblock %}

{% block head %}
{% endblock head %}

{% block content %}
<h1>About</h1>

<p>
MAYA (My Archieve Your Archieve) is used to make web clients that can interact with aarhus stadsarkivs API service. Aarhus stadsarkiv contains a lot of public archives and the API service is used to search and retrieve data from the archives.</p>

<p>
    This page contains some information about the project and how to use it. The project is open source and the code is available on 
    <a href="https://github.com/aarhusstadsarkiv/stadsarkiv-client">GitHub</a>. The project is developed by Aarhus Stadsarkiv and is used in the
    <a href="https://aarhusarkivet.dk">aarhusarkivet.dk</a> website. 
</p>

<style>
    .container-medium {
        width: 800px;
    }

</style>

{% endblock content %}