{% import "macros/page_macros.html" as page_macros %}

{% extends "base.html" %}

{% block body_class %}page-schemas-view{% endblock %}

{% block content %}

{% include "admin/menu.html" %}

{{ page_macros.page_title(title) }}

<table>
{% for schema in schemas %}
<tr>
    <td><a href="/schemas/{{ schema.type }}"> {{ translate('View schema') }}: {{ schema.type }} </a></td>
</tr>
</tr>
{% endfor %}
</table>

<form method="post" action="{{ url_for('schemas_post')}}">
    <input type="text" name="type" placeholder="Type" aria-label="Type">
    <textarea name="data" placeholder="Data"></textarea>
    <button type="submit" class="contrast">{{ 'Opret skema' }}</button>
</form>

{% endblock content %}