{% extends "base.html" %}
{% block content %}

<div>
    <hgroup>
        {% include "includes/main_title.html" %}
        <h2>{{ translate('Create schema') }}</h2>
    </hgroup>
    <form method="post" action="/schemas/post-schema">
        <input type="text" name="type" placeholder="Type" aria-label="Type" >
        <textarea name="data" placeholder="Data" ></textarea>
        <button type="submit" class="contrast">Create Schema</button>
    </form>
</div>

{% for schema in schemas %}
<div>
    <a href="/schema/{{ schema.type }}"> {{ translate('View schema') }}: {{ schema.type }} </a> |
    <a href="/entities/{{ schema.type }}"> {{ translate('Create entity') }}: {{ schema.type }} </a>
</div>
{% endfor %}


{% endblock content %}
