{% extends "base.html" %}

{% block body_class %}page-schemas-view{% endblock %}

{% block content %}


{% include "includes/main_title.html" %}

<form method="post" action="/schemas/post-schema">
    <input type="text" name="type" placeholder="Type" aria-label="Type">
    <textarea name="data" placeholder="Data"></textarea>
    <button type="submit" class="contrast">{{ translate('Create Schema') }}</button>
</form>

<table>
{% for schema in schemas %}
<tr>
    <td><a href="/schema/{{ schema.type }}"> {{ translate('View schema') }}: {{ schema.type }} </a></td>
    <td><a href="/entities/{{ schema.type }}"> {{ translate('Create entity') }}: {{ schema.type }} </a></td>
</tr>
</tr>
{% endfor %}
</table>


{% endblock content %}