h1,
h2,
h3,
h4,
h5,
h6 {
    scroll-margin-top: var(--main-menu-top);
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: var(--navigation-background);
}

.logo {
    margin-left: 10px;
    align-self: flex-start;
}

.logo img {
    margin-top: 10px;
    max-height: 40px;
}

.navigation-right-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

/** 
 * The main title of a page
 */
.main-title {
    text-transform: uppercase;
    margin: 20px 0;
}

/**
 * The main menu is hidden by default
 * When the hamburger menu is clicked, the main menu is shown
 */
.main-menu-overlay {
    display: none;
    position: absolute;
    top: var(--main-menu-top);
    right: 0px;
    background-color: rgba(var(--navigation-background-rgb), 0.975);
    padding: 10px;
    font-size: 0.9rem;
    min-width: 175px;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 110;
}

.main-menu-overlay::-webkit-scrollbar {
    width: 0px;
}

/** 
 When device is smaller than 576px the width should be 100%
 */
@media (max-width: 576px) {
    .main-menu-overlay {
        width: 100%;
    }
}

.main-menu-overlay h3,
.main-menu-overlay a {
    display: flex;
    color: var(--main-menu);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
    padding: 8px;
    transition: background-color 0.2s ease-in-out;
    text-transform: uppercase;
}

.main-menu-overlay a {
    font-size: 0.9rem;
}

.main-menu-overlay a:hover {
    background-color: var(--main-menu-hover);
}

.main-menu-overlay h3 {
    font-size: 0.9rem;
    padding: 0;
    color: var(--text-main);
}

.main-menu-overlay.active {
    display: block;
}

/**
 * main menu icons
 */ 
.menu-icon svg {
    color: white;
    fill: white;
    height: 40px;
    width: 40px;
    padding: 4px;
}

.menu-icon {
    color: var(--main-menu);
    cursor: pointer;
    margin-top: 10px;
    font-size: 2rem;
    padding-right: 10px;
}

.menu-icon svg:hover  {
    border-radius: 6px;
    transition: background-color 0.2s ease-in-out;
    background-color: var(--main-menu-hover);
}

/**
 * main-menu menu-text
 */
.menu-text a {
    display: flex;
    color: var(--main-menu);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
    padding: 8px;
    margin: 4px;
    transition: background-color 0.2s ease-in-out;
    text-transform: uppercase;
}

.menu-text a:hover {
    background-color: var(--main-menu-hover);
}

.menu-text {
    display: flex;
    flex-direction: row;
}

/**
 * flash messages
 */
.flash-messages {
    bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;

}

.flash {
    padding: 25px;
    opacity: 0.9;
    cursor: pointer;
}

.flash-success {
    background-color: var(--flash-success-color);
    color: var(--flash-color);
}

.flash-error {
    background-color: var(--flash-error-color);
    color: var(--flash-color);
}

.flash-notice {
    background-color: var(--flash-notice-color);
    color: var(--flash-color);
}

/**
 * a set of containers 
 */

.container {
    padding: 20px 20px;
    max-width: 100%;
    width: var(--container-width-small);
    margin: 0 auto;

}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 100;
}

.container-fluid {
    margin: 0 auto;
    min-width: 100%;
}

.container-fluid-left-main {
    margin-top: 20px;
    max-width: 100%;
    display: flex;
}

.container-large {
    width: var(--container-width-large);
    max-width: 100%;
    margin: auto;
    margin-top: 20px;
}

.container-left {
    min-width: 350px;
    margin-left: 20px;
    max-width: 350px;
}

.sticky-left {
    position: sticky;
    top: var(--main-menu-top);
    align-self: flex-start;
    max-height: 100vh;
    overflow-y: auto;
}

.container-main {
    width: 100%;
    margin: 0 20px;
}

.container-main-facets {
    display: none;
}

#toc>ul {
    margin-top: 0.5em;
}


.action-links {
    display: flex;
    gap: 10px;
    padding: 7px 0;
}


.action-links>span {
    padding: 4px;
}

.action-links>a {
    background-color: var(--navigation-background);
    color: var(--main-menu);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    white-space: nowrap;
    height: 100%;
}

.action-links>a:hover {
    background-color: rgba(var(--navigation-background-rgb), 0.75);
}

.action-links .disabled {
    padding: 5px 10px;
    background-color: var(--search-pagination-background-disabled);
    color: var(--search-pagination-disabled);
    border-radius: 5px;
}

.loadingspinner {
    margin-top: 10px;
    pointer-events: none;
    width: 1.5em;
    height: 1.5em;
    border: 0.4em solid transparent;
    border-color: var(--focus);
    border-top-color: var(--selection);
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: calc(50% - 12px)
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg)
    }
}

.hidden {
    visibility: hidden;
}

/**
 * When the width goes 992px or below, the container-left is hidden
 * When changing this you will need to change search.js as well 
 */
@media (max-width: 992px) {
    .container-left {
        display: none;
    }

    .container-main-facets {
        display: block;
        margin: 10px 0;
    }
}

summary {
    cursor: pointer;
}

main {
    flex: 1;
}