.app-menu {
    display: table;
}

.app-menu>a {
    color: var(--text-muted);
    font-size: 0.9em;
    padding: 4px;
    margin-right: 4px;
    text-decoration: none;
    border-radius: 6px;
    background-color: var(--background-alt);
}

.app-menu>a:hover {
    background: var(--button-hover);
}

.app-menu>a.active {
    color: var(--form-text);
}

.app-menu-admin {
    margin-top: 10px;
}

/**
  * Default CSS style for template
  */
  :root {
    --flash-color: white;
    --flash-success-color: #28a745;
    --flash-notice-color: #1b1f23;
    --flash-error-color: #d73a49;
}

body {
    overflow: scroll;
}


.flash-messages {

    margin-top: 10px;
    bottom: 10px;
    position: fixed;
    max-width: 95%;
    width: (--width);
    z-index: 1000;
}

.flash {
    padding: 10px;
    opacity: 0.9;
    cursor: pointer;
}

.flash-success {
    background-color: var(--flash-success-color);
    color: var(--flash-color);
    opacity: 0.9;
}


.flash-error {
    background-color: var(--flash-error-color);
    color: var(--flash-color);
}

.flash-notice {
    background-color: var(--flash-notice-color);
    color: var(--flash-color);
}
