h1,
h2,
h3,
h4,
h5,
h6 {
    scroll-margin-top: var(--main-menu-top);
}

/** 
 * The main title of a page
 */
 .main-title {
    text-transform: uppercase;
}


/**
 * flash messages
 */
.flash-messages {
    bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;

}

.flash {
    padding: 25px;
    opacity: 0;
    cursor: pointer;
    margin: 2px 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0.9;
    }
}

.flash-success {
    background-color: var(--flash-success-color);
    color: var(--flash-color);
}

.flash-error {
    background-color: var(--flash-error-color);
    color: var(--flash-color);
}

.flash-notice {
    background-color: var(--flash-notice-color);
    color: var(--flash-color);
}


/**
 * Container-fluid but with no padding
 * Used for main menu
 */
.container-fluid {
    margin: 0 auto;
    min-width: 100%;
}

/**
 * used for the main menu top bar
 */
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 100;
}

/**
 * a set of containers with 
 * - different widths
 * - padding on top and bottom
 * - width is set by css variables
 * - centered 
 */
.container-small {
    padding: 20px 0px;
    max-width: 100%;
    width: var(--container-width-small);
    display: flex;
    margin: 0 auto;
}

.container-medium {
    padding: 20px 0px;
    max-width: 100%;
    width: var(--container-width-medium);
    display: flex;
    margin: 0 auto;
}

.container-large {
    padding: 20px 0px;
    max-width: 100%;
    width: var(--container-width-large);
    display: flex;
    margin: 0 auto;
}

/**
 * Same as above container
 * - full width 
 */
.container-max {
    padding: 20px 0px;
    max-width: 100%;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

/**
 * Should be used for the main content
 * margin on the sides
 */
.container-main {
    width: 100%;
    margin: 0 20px;
}

.container-left {
    min-width: 350px;
    margin-left: 20px;
}

@media (max-width: 992px) {
    .container-left {
        display: none;
    }
}

/**
 * main content facets is hidden by default
 */
.container-main-facets {
    display: none;
}

/**
 * display the facets on the left side
 */
@media (max-width: 992px) {
    .container-main-facets {
        display: block;
        margin: 10px 0;
    }
}

.sticky-left {
    position: sticky;
    top: var(--main-menu-top);
    align-self: flex-start;
    max-height: 100vh;
    overflow-y: auto;
}

.action-links {
    display: flex;
    gap: 10px;
    padding: 7px 0;
    flex-wrap: wrap;
}

.action-links>span {
    padding: 4px;
}

.action-links>a {
    background-color: var(--navigation-background);
    color: var(--main-menu);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    white-space: nowrap;
    height: 100%;
}

.action-links>a:hover {
    background-color: rgba(var(--navigation-background-rgb), 0.75);
}

.action-links>.disabled {
    padding: 5px 10px;
    background-color: var(--background-disabled);
    color: var(--text-disabled);
    border-radius: 5px;
    pointer-events: none;
}

/** 
 * The .active link is current the same as .disabled
 */
.action-links>.active {
    background-color: rgba(var(--navigation-background-rgb), 0.75);
}

.action-link {
    background-color: var(--navigation-background);
    color: var(--main-menu);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    white-space: nowrap;
    height: 100%;
}

.action-link:hover {
    background-color: rgba(var(--navigation-background-rgb), 0.75);
    text-decoration: none;
}

/**
 * The disabled attribute is used to disable the link
 */
.action-links>a[disabled] {
    background-color: var(--background-disabled);
    color: var(--text-disabled);
    border-radius: 5px;
    cursor: not-allowed;
    opacity: .5;
}

.sub-menu a {
    padding: 5px;
    background-color: var(--navigation-background);
    border-radius: 5px;
    text-decoration: none;
    color: var(--main-menu);
}

.sub-menu a:hover {
    background-color: rgba(var(--navigation-background-rgb), 0.75);
    color: var(--main-menu);
}

.sub-menu a.active {
    background-color: rgba(var(--navigation-background-rgb), 0.75);
    color: var(--main-menu); 
}


.loadingspinner {
    margin-top: 10px;
    pointer-events: none;
    width: 1.5em;
    height: 1.5em;
    border: 0.4em solid transparent;
    border-color: var(--focus);
    border-top-color: var(--selection);
    border-radius: 50%;
    animation: loadingspin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: calc(50% - 12px)
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg)
    }
}

.hidden {
    visibility: hidden;
}

summary {
    cursor: pointer;
}

main {
    flex: 1;
}