:root {
  --background-body: #fff;
  --background: #efefef; 
  --background-alt: aliceblue;
  --selection: #9e9e9e;
  --text-main: #363636;
  --text-bright: #000;
  --text-muted: #70777f;
  --links: #0076d1;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #000;
  --animation-duration: 0.1s;
  --button-base: #d0cfcf;
  --button-hover: #9b9b9b;
  --scrollbar-thumb: color-mod(var(--button-hover) lightness(+6%));
  --scrollbar-thumb-hover: var(--button-hover);
  --form-placeholder: #949494;
  --form-text: #1d1d1d;
  --variable: #39a33c;
  --highlight: #ff0;
  --body-width: 100%;
  --container-width: 1200px;
  --navigation-background-color: cornflowerblue;
  --flash-color: white;
  --flash-success-color: forestgreen;
  --flash-notice-color: #1b1f23;
  --flash-error-color: crimson;
  --breakpoint-small: 576px; /* can not be used in media queries - just to remember */
  --breakpoint-medium: 768px;
  --breakpoint-large: 992px;
  --transparent-black: rgba(0, 0, 0, 0.5);
  --transparent-blacker: rgba(0, 0, 0, 0.8);
}