.navigation {
    display: flex;
    justify-content: space-between;
    background-color: var(--navigation-background);
    height: var(--main-menu-top);
    align-items: stretch;
}

.logo {
    margin-left: 10px;
    display: flex;
    align-items: end;
}

.navigation-right-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation-right-group a {
    padding: 5px;
}

/**
 * The main menu is hidden by default
 * When the hamburger menu is clicked, the main menu is shown
 */
.main-menu-overlay {
    display: none;
    position: absolute;
    top: calc(var(--main-menu-top) + 2px);
    right: 0px;
    background-color: rgba(var(--navigation-background-rgb), 0.975);
    padding: 10px;
    font-size: 0.9rem;
    min-width: 175px;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 110;
}

.main-menu-overlay::-webkit-scrollbar {
    width: 0px;
}

/** 
 When device is smaller than 576px the width should be 100%
 */
@media (max-width: 576px) {
    .main-menu-overlay {
        width: 100%;
    }
}

.main-menu-overlay h3,
.main-menu-overlay a {
    display: flex;
    color: var(--main-menu);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
    padding: 8px;
    transition: background-color 0.2s ease-in-out;
    text-transform: uppercase;
}

.main-menu-overlay a {
    font-size: 0.9rem;
}

.main-menu-overlay a:hover {
    background-color: var(--main-menu-hover);
}

.main-menu-overlay h3 {
    font-size: 0.9rem;
    padding: 0;
    color: var(--text-main);
}

.main-menu-overlay.active {
    display: block;
}

/**
 * main menu icons
 */
.menu-icon svg {
    color: var(--main-menu);
    fill: var(--main-menu);
    height: 40px;
    width: 40px;
}



.menu-icon {
    padding: 0 5px;
}


.menu-icon:hover {
    color: var(--main-menu-hover);
}

/**
 * main-menu menu-text
 */
.menu-text a {
    display: flex;
    color: var(--main-menu);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
    padding: 8px;
    margin: 4px;
    transition: background-color 0.2s ease-in-out;
    text-transform: uppercase;
}

.menu-text a:hover {
    background-color: var(--main-menu-hover);
}

.menu-text {
    display: flex;
    flex-direction: row;
}

 .menu-text-overlay {
    display: none;
}

@media (max-width: 768px) {
    .navigation-right-group .menu-text {
        display: none;
    }

    .menu-text-overlay {
        display: block;
    }
}