/**
 * a basic overlay
 */

.overlay-hidden {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--overlay-background);
    z-index: 1000;
}

.overlay-hidden img {
    max-width: 95vw;
    max-height: 95vh;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: auto;
}

.overlay-actions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 40px;
}

.overlay-actions>div {
    margin: 2px;
    padding: 2px;
}

.overlay-actions svg {
    cursor: pointer;
    color: var(--svg-color);
}
