/* article div:nth-of-type(2) {

    background-color: #374956;
    background-image: url("/static/assets/login-image.jpg");
    background-position: center;
    background-size: cover;
} */

/**
 * align vertical in the middle
 */ 
.auth-image {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    background-size: cover;
}

/**
 * hide auth image when screen is small
 */
@media (max-width: 992px) {
    .auth-image {
        display: none;
    }
}



  /* Nav */
  summary[role="link"].contrast:is([aria-current],:hover,:active,:focus) {
    background-color: transparent;
    color: var(--contrast-hover);
  }

