.media-object {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: nowrap;
}

.media-object > .label {
    /* text-transform: uppercase; */
    font-weight: bold;
    padding-top: 0.2rem;
    font-size: 75%;
    color: #424242;
    width: 11em;
}

.media-object > .content {
    flex: 1 1 0px;
}