.record-section {
    display: flex;
    flex-direction: row;
    gap: 20px; 
}

h3.record-header {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 0.2rem;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    width: 100%;
}

.record-representation {
    flex: 1 0 40%;
    min-width: 40%;
    text-align: center;
    
}

.record-icon > span {
    padding-top: 0px;
    font-size: 12em;
    
}

@media (max-width: 992px) {

    .record-section {
        flex-direction: column;
    }

    .record-image {
        flex: 0 0 100%;
        min-width: 100%;
        width: 100%;
    }

    .record-representation {
        margin-bottom: 20px;
    }
}

.record-image > img {
    box-shadow: 2px 2px 5px #555; 
}

.record-main {
    width: 100%;
}

.record-content {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: nowrap;
}

.record-content > .label {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 0.2rem;
    font-size: 75%;
    width: 13em;
    min-width: 13em;
    word-wrap: break-word;

}

.record-content > .content {
    flex: 1 1 0px;
}

.record-content > .content > p {
    margin: 0; 
    padding: 0; 
}

.record-content > .content > p.spacing {
    margin-bottom: 10px;
}

.record-content > .content > p.spacing:last-child {
    margin-bottom: 0px;
}

.record-sejrs-sedler {
    white-space: pre-line;
    font-family: courier;
    padding: 1.5em;
    background-color: rgb(250, 250, 196);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    text-align: left;
}

.record-title {
    font-style: italic;
    margin-bottom: 1.5rem;
    color: #2b2b2b;
}

.record-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

@media (max-width: 992px) {
    .record-pagination {
        justify-content: center;
    }
}

.record-prev-next {
    display: flex;
    gap: 10px; 
}

.record-search-link, .record-pages-info {
    font-size: 1.0em;
    margin-right: 20px; 
}

@media screen and (max-width: 568px) {
    .record-pages-info {
        display: none;
    }
}

.record-prev-next a, .record-prev-next span {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid var(--border);
    border-radius: 3px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.record-prev-next a:hover {
    background-color: #e0e0e0;
    border-color: #c0c0c0;
}

.record-prev-next span.disabled {
    color: var(--text-muted);
    cursor: not-allowed;
    background-color: var(--selection);
}

.record-prev-next a, .record-prev-next span {
    min-width: 40px;
}
