.search-results {
    display: flex;
    flex-direction: column;
}


.search-result {
    background-color: var(--search-result-background);
    padding: 10px 0;
    border-top: 1px solid var(--search-result-border);
}

.search-result:hover {
    background-color: var(--search-result-background-hover);
}

.facets ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.facets ul li {
    margin-left: 5px;
}

.facets ul li ul {
    margin-left: 10px;
}

.remove {
    color: var(--flash-error-color);
}

.pagination-total {
    font-weight: 600;
    color: var(--text-bright);
    background-color: var(--background-body);

}

.pagination {
    display: flex;
    padding: 20px 0;
}

.pagination-pages {
    display: flex;
    gap: 10px;
}

.pagination-pages a {
    background-color: var(--navigation-background);
    color: var(--text-bright);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination-pages a:hover {
    background-color: var(--background-alt);
}

.pagination-pages .disabled {
    padding: 5px 10px;
    background-color: var(--search-pagination-background-disabled);
    color: var(--search-pagination-disabled);
    border-radius: 5px;
}

#q, #submit {
    display: inline-block;
}

.from-year,
.to-year {
    width: 60px;
}

.from-month,
.to-month,
.from-day,
.to-day {
    width: 50px;
}


summary {
    margin: 0 auto;
    margin-bottom: .1rem;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.2px;
    padding: 0.05rem;

}

details>summary.inactive {
    list-style: none;
    cursor: unset;
}

.search-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
}

.search-citation {
    background-color: var(--highlight);
    display: inline-block;
}

.search-option,
.search-button {
    margin-right: 10px;
}

.search-link {
    color: var(--search-link-text);
    text-decoration: none;
}

.search-link:hover {
    text-decoration: none;
}

.search-link {
    display: flex;
}

.search-thumbnail {
    margin-right: 10px;
}

.search-thumbnail img {
    min-width: 120px;
    height: auto;
    width: 120px;

}

.search-details {
    flex-grow: 1;
}

.search-summary {
    color: var(--links);
}

.search-summary:first-of-type {
    font-weight: 600;
    margin-bottom: 0.2em;
}

/**
 * Search suggestions
 */

.search-suggestions {
    position: absolute;
    background-color: whitesmoke;
    display: none;
    padding: 5px;
    width: 295px;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}


.search-suggestion-item,
.search-suggestion-info {
    flex: 2;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.search-suggestion-focus {
    background-color: white;
}

/**
 * Override of the general record.css
 */
.record-content {
    padding-top: 0.2em;
    margin-bottom: 0.2em
}

.record-content>.label {
    width: 8em;
    min-width: 8em;
}
