.search-results {
    display: flex;
    flex-direction: column;
}

.search-result {
    box-sizing: border-box;
    background-color: #fefefe;

    padding: 20px;
    border-top: 1px solid #e6e6e6;

}

.search-result:hover {
    background-color: #f0f0f0;
}

.pagination {}

.search-link {
    text-decoration: none;
}

.search-link:hover {
    text-decoration: none;
}

.search-label {
    color: #646464;
    display: inline-block;
    width: 5em;
    font-weight: bold;
}

.search-content {
    color: grey;
}

.facets ul {
    list-style: none;
    padding-left: 0;
}

.facets ul li {
    margin-left: 5px;
}

.facets ul li ul {
    margin-left: 10px;
}

.facets details summary {
    position: relative;
    padding-right: 1em;
}

.remove {
    color: var(--flash-error-color);
}

.record-content {
    padding-top: 0.2em; margin-bottom: 0.2em
}

.record-content > label {
    width: 6em;
}

.pagination {
    border: 1px darkblue solid;
    padding: 10px;

}

input, button {
    display: inline-block !important;
}

#from-year, #to-year {
    width: 60px;
}

#from-month, #to-month, #from-day, #to-day {
    width: 50px;
}

details > summary.red {
    
    list-style: none;
}
