.slideshow-container {
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio; adjust as needed */
    position: relative;
    background-color: #f5f5f5; /* to fill gaps with a color */
}

.slideshow-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide {
    display: none;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: grey;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slide-counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 3px;
}