#toc {
    position: sticky;
    top: 65px;
    line-height: 1.6;
    max-width: 600px;
    margin: 5px auto;
    padding: 5px;
    background-color: var(--background-alt);
    border: 1px solid var(--text-muted);
    border-radius: 8px;
}

#toc>ul {
    margin-top: 0.5em;
}

#toc ul {
    list-style-type: none;
    padding-left: 5px;
}

#toc a {
    text-decoration: none;
    color: var(--text-bright);
    padding: 5px 10px;
    display: block;
    border-radius: 4px;
}

#toc a:hover {
    background-color: var(--background-body);    
}