{% import "macros/common_macros.html" as common_macros %}

{% macro parse_search_pagination(search_result, meta, type) %}
{% set start = search_result["start"]|int %}
{% set size = search_result["size"]|int %}
{% set total = search_result["total"]|int %}
{% if size > total %}
{% set size = total %}
{% endif %}

<h3 class="record-header">Arkivalier</h3>
<p>
    Viser {{ size }} ud af {{ total }} arkivalier
    {% if total > 0 %}
    <a href="/search?{{ type }}={{ meta['id_real'] }}">Vis alle relevante arkivalier</a>
    {% endif %}
</p>
{% endmacro %}
