{% import "macros/common_macros.html" as common_macros %}
{% import "macros/relations_macros.html" as relations_macros %}

{% extends "base.html" %}

{% block body_class %}page-resources-events{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/overlay.css') }}?v={{ get_setting('version') }}">
<script type="module">
    import { activateOverlay } from "/static/js/overlay.js";
    activateOverlay();
</script>
{% endblock head %}

{% block content %}

{% include "includes/main_title.html" %}

<p>
    <a href="/search?events={{ meta['id_real'] }}">{{ translate('Show all results in the collection') }}</a>
</p>

{% set options = {'icon': 'event', 'icon_label': 'Begivenhed'} %}
{% set keys = ["date_from", "event_type", "addr_nr", "zipcode", "latitude_longitude_normalized", "parish", "rotation", "local_area"] %}
{{ common_macros.parse_image_block('', keys, resource, options) }}

{% set keys = [ "description"] %}
{{ common_macros.parse_block_common('Beskrivelse', keys, resource) }}

{% set keys = ["sources_normalized"] %}
{{ common_macros.parse_block_common('Kilder', keys, resource) }}

{% set keys = ["ext_data"] %}
{{ common_macros.parse_block_common('Udvidet data', keys, resource) }}

{% set meta_links = [
    {"url": "/events/" + meta['id_real'] + "/json/api", "label": "JSON. Resource fra API" },
    {"url": "/events/" + meta['id_real'] + "/json/resource_and_types", "label": "JSON. Typer og værdier" }
] %}
{{ common_macros.parse_meta_block(meta_links, permissions_list) }}

{% endblock content %}
