/**
 * Left is fixed width. The main container takes up the rest of the space.
 * The main container is cented according to full screen width. 
 */

.container-max {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

/**
 * Main content container
 */
.container-main {
    flex-grow: 1;
    max-width: var(--container-width-small);
    margin: auto;
}

/**
 * Left sidebar with fixed width
 */
.container-left {
    min-width: 350px;
    margin-left: 20px;
    position: absolute;
    left: 0;
}

@media (max-width: 1700px) {
    .container-left {
        position: relative;
    }
    .container-main {
        margin: 0 20px;
    }
}

@media (max-width: 992px) {
    .container-left {
        display: none;
    }
}