
.container-fluid-max-width {
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    justify-content: center; 
    position: relative;
}

.container-left {
    position: absolute; 
    left: 20px; 
    margin-right: auto;
    min-width: 350px;
    max-width: 350px;
}

.container-main {
    flex-grow: 1;
    max-width: 1200px; 
    margin-left: 0; 
    margin-right: 0;
    margin: 0 20px;
}

@media (max-width: 2000px) {
    .container-left {
        position: unset;
    }
}

