{% import "macros/admin_macros.html" as admin_macros %}
{% import "macros/basic_macros.html" as basic_macros %}

{% extends "base.html" %}

{% block body_class %}page-admin-orders{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "admin/menu.html" %}

{{ basic_macros.page_title(title) }}

{# [
    {
        "id": 1,
        "record_id": "000502652",
        "user_id": "019265e5-3fd4-7734-990c-7c7660d1ca64",
        "barcode": null,
        "storage_id": null,
        "location": null,
        "created": "2024-11-08 08:56:46",
        "label": "Århus Bymuseum: Årsprogram",
        "deadline": null,
        "status_modified": "2024-11-08 08:56:46",
        "status_updated_by": null,
        "resources": {},
        "status": "Ordered",
        "comment": null
    },
    {
        "id": 2,
        "record_id": "000495123",
        "user_id": "019265e5-3fd4-7734-990c-7c7660d1ca64",
        "barcode": null,
        "storage_id": null,
        "location": null,
        "created": "2024-11-08 12:07:08",
        "label": "Venskabsforeningen for Ældre Danskere og indvandrere - Åbningskort",
        "deadline": null,
        "status_modified": "2024-11-08 12:07:08",
        "status_updated_by": null,
        "resources": {
            "type": "analog",
            "storage_id": [
                "91+01373-17"
            ]
        },
        "status": "Ordered",
        "comment": null
    },
] #}

{{ statuses }}

{% if orders|length == 0 %}
<p>Der er ingen ordrer.</p>
{% else %}
<table>
    <thead>
        <tr>
            <th>URL</th>
            <th>Status</th>
            <th>Oprettet</th>
            <th>Opdateret</th>
            <th>Placering</th>
            <th>Handling</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>
                <a title="{{ order.label }}" href="/records/{{order.record_id}}">{{ order.label }}</a>
            </td>
            <td>{{ order.status }}</td>
            <td>{{ order.created_at }}</td>
            <td>{{ order.updated_at }}</td>
            <td>{{ order.resources }}</td>
            <td><a href="/admin/orders/{{order.order_id}}/edit">Rediger</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<style>

    td a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 200px; /* Adjust width to fit your design */
    }

    /*
    .container-medium {
        width: unset;
    }
    */
</style>


<pre>{{ to_json(orders)}}</pre>


{% endblock content %}