{% import "macros/admin_macros.html" as admin_macros %}
{% import "macros/basic_macros.html" as basic_macros %}

{% extends "base.html" %}

{% block body_class %}page-admin-orders-edit{% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/orders.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "admin/menu.html" %}

{{ basic_macros.page_title(title) }}

<div class="loadingspinner hidden"></div>


<form method="post" action="/admin/orders/patch/{{ order.order_id }}">
    
    <fieldset>
        <label>Kommentar</label>
        <textarea name="comment" placeholder="Kommentar">{{ order.comment }}</textarea>
        <!---
        <label>Deadline</label>
        <input disabled type="date" name="deadline" value="{{ order.deadline }}">
        -->
        <button id="submit" type="submit">Opdater</button>
    </fieldset>
</form>

<script type="module">
    import { asyncLogError } from "/static/js/error.js";
    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";

    const spinner = document.querySelector('.loadingspinner');
    const submitElem = document.getElementById('submit');
    const formElem = document.querySelector('form');

    async function onChangeSubmit(event) {
        event.preventDefault();
        spinner.classList.toggle('hidden');

        try {

            // Get URL from form action
            const form = document.querySelector('form');
            const url = form.action;
            
            // Extract form data and POST as JSON
            const formData = new FormData(form);
            const data = Object.fromEntries(formData)

            const res = await Requests.asyncPostJson(url, data);
            if (res.error) {
                Flash.setMessage(res.message, 'error');
            } else {
                window.location.reload();
            }

        } catch (e) {
            Flash.setMessage(res.message, 'error');
            await asyncLogError('/error/log', e.stack);
        } finally {
            spinner.classList.toggle('hidden');
        }
    }

    submitElem.addEventListener('click', async function (event) {
        await onChangeSubmit(event);
    });

</script>
{% endblock content %}
