{% extends "base.html" %}

{% import "macros/basic_macros.html" as basic_macros %}

{% block body_class %}page-orders-user{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "auth/menu.html" %}

{{ basic_macros.page_title(title) }}

{% if orders|length == 0 %}
    {% if status == "active" %}
        <p>Du har ingen bestillinger tilgængelig i læsesal.</p>
    {% endif %}

    {% if status == "reserved" %}
        <p>Du har ingen reserverede bestillinger.</p>
    {% endif %}

{% endif %}

{% if status == "active" %}
<div class="sub-menu">
    <a href="/auth/orders?status=reserved" class="active">Vis reserveret materiale</a>
</div>
{% endif %}

{% if status == "reserved" %}
<div class="sub-menu">
    <a href="/auth/orders" class="active">Vis tilgængelig i læsesal</a>
</div>
{% endif %}


{% for order in orders %}
<div class="record-section parent-container-delete">
    <div class="record-main">
        <div class="record-content">
            <div class="label">Materiale</div>
            <div class="content">
                <a href="/records/{{ order.record_id}}">{{ order.label }}</a>
            </div>
        </div>

        <div class="record-content">
            <div class="label">Materiale ID </div>
            <div class="content">{{ order.record_id}}</div>
        </div>

        <div class="record-content">
            <div class="label">Status</div>
            <div class="content">{{ order.order_status_human }}</div>
        </div>

        <div class="record-content">
            <div class="label">Placering</div>
            <div class="content">
                <span>{{ order.location_human }}</span>
            </div>
        </div>

        {% if order.deadline_human and order.days_remaining >= 0 %}
        <div class="record-content">
            <div class="label">Deadline</div>
            <div class="content">
                {% if order.days_remaining == 0 %}
                    {% set status = "Udløber i morgen" %}
                {% elif order.days_remaining == 1 %}
                    {% set status = order.days_remaining ~ " dag tilbage" %}
                {% else %}
                    {% set status = order.days_remaining ~ " dage tilbage" %}
                {% endif %}
                <span class="days-remaining">{{ order.deadline_human }} ({{ status }}) </span>
            </div>
        </div>
        {% endif %}

        <div class="record-content">
            <div class="label">Oprettet</div>
            <div class="content">{{ order.created_at_short }}</div>
        </div>

        <div class="action-links">
            <a data-id="{{order.order_id}}" class="delete-order" href="#">Slet bestilling</a>
            {% if order.renewal_possible %}
            <a href="/order/renew/{{ order.order_id }}" class="renew-order">Forny bestilling</a>
            {% endif %}
        </div>
        <hr>
    </div>
</div>

{% endfor %}

<pre>{# to_json(orders) #}</pre>

<div class="loadingspinner hidden"></div>
<script type="module">

    import { OrderStatus } from '/static/js/orders.js';
    import { asyncLogError } from "/static/js/error.js";
    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";

    const spinner = document.querySelector('.loadingspinner');

    async function handleDeleteUserClick(event) {
        const res = confirm('Er du sikker på at du vil slette denne bestilling?');
        if (!res) {
            return;
        }

        event.preventDefault();
        spinner.classList.toggle('hidden');

        try {

            const element = event.target;
            const url = '/order/patch/' + element.dataset.id + '/order-id';
            const res = await Requests.asyncPostJson(url);

            if (res.error) {
                Flash.setMessage(res.message, 'error');
            } else {
                Flash.setMessage(res.message, 'success');
                element.closest('.parent-container-delete').remove();
            }

        } catch (e) {
            Flash.setMessage(res.message, 'error');
            await asyncLogError('/error/log', e.stack);
        } finally {
            spinner.classList.toggle('hidden');
        }
    }

    document.querySelectorAll('.delete-order').forEach(element => {
        element.addEventListener('click', handleDeleteUserClick);
    });

    document.querySelectorAll('.renew-order').forEach(element => {
        element.addEventListener('click', function(event) {
            event.preventDefault();
            alert('Not implemented')
        });
    });

</script>

{% endblock content %}
