{% extends "base.html" %}

{% import "macros/basic_macros.html" as basic_macros %}

{% block body_class %}page-orders-user{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "auth/menu.html" %}

{{ basic_macros.page_title(title) }}

{% if orders|length == 0 %}
<p>Du har ingen ordrer.</p>
{% else %}

{% for order in orders %}
<div class="record-section">
    <div class="record-main">
        <div class="record-content">
            <div class="label">Materiale</div>
            <div class="content">
                <a href="/records/{{ order.record_id}}">{{ order.label }}</a>
            </div>
        </div>

        <div class="record-content">
            <div class="label">Materiale ID </div>
            <div class="content">{{ order.record_id}}</div>
        </div>

        <div class="record-content">
            <div class="label">Status</div>
            <div class="content">{{ order.user_status_human }}</div>
        </div>

        <div class="record-content">
            <div class="label">Oprettet</div>
            <div class="content">{{ order.created_at }}</div>
        </div>

        <div class="record-content">
            <div class="label">Opdateret</div>
            <div class="content">{{ order.created_at }}</div>
        </div>

        <div class="action-links delete-order"><a data-id="{{order.order_id}}" href="#">Slet bestilling</a></div>
        <hr>
    </div>
</div>
{% endfor %}

{% endif %}

<div class="loadingspinner hidden"></div>
<script type="module">

    import { asyncLogError } from "/static/js/error.js";
    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";

    const spinner = document.querySelector('.loadingspinner');
    const deleteElements = document.querySelectorAll('.delete-order a');

    deleteElements.forEach(element => {
        element.addEventListener('click', async function (event) {

            const res = confirm('Er du sikker på at du vil slette denne bestilling?');
            if (!res) {
                return;
            }

            event.preventDefault();
            Flash.clearMessages();
            spinner.classList.toggle('hidden');

            const formData = new FormData();
            formData.append('finished', 1);

            try {
                const recordSection = element.closest('.record-section');
                const url = '/order/patch/' + element.dataset.id;
                const res = await Requests.asyncPost(url, formData);

                if (res.error) {
                    Flash.setMessage(res.message, 'error');
                } else {
                    Flash.setMessage(res.message, 'success');
                    recordSection.remove();
                }

            } catch (e) {
                Flash.setMessage(res.message, 'error');
                await asyncLogError('/error/log', e.stack);
            } finally {
                spinner.classList.toggle('hidden');
            }
        });
    });

</script>
<style>
    /*
    .delete-order a, .delete-order a:hover {
        background-color: var(--flash-error-color);
    }
    */
</style>


{% endblock content %}
