{% import "macros/admin_macros.html" as admin_macros %}
{% import "macros/basic_macros.html" as basic_macros %}
{% import "macros/common_macros.html" as common_macros %}

{% extends "base.html" %}

{% block body_class %}page-admin-orders{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/orders.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "admin/menu.html" %}

{{ basic_macros.page_title(title) }}

<p><a class="action-link" href="/admin/orders/logs">Se Logs</a></p>

{# Select active, completed, order_history #}
<form class="filters" method="GET" action="/admin/orders">
    <select name="filter_status" id="filter_status">
        <option title="Aktive bestillinger" value="active" {% if filters.filter_status=='active' %}selected{% endif %}>
            Aktive
            bestillinger</option>
        <option title="Materiale som er afsluttet, men som ikke er i magasin" value="completed" {% if
            filters.filter_status=='completed' %}selected{% endif %}>Afsluttet materiale</option>
        <option title="Historik over afsluttede bestillinger" value="order_history" {% if
            filters.filter_status=='order_history' %}selected{% endif %}>Historik</option>
    </select>
    <select name="filter_location" id="filter_location">
        <option value="" {% if filters.filter_location=='' %}selected{% endif %}>Alle lokationer</option>
        {% for key, value in locations.items() %}
        <option value="{{ key }}" {% if filters.filter_location==key|string %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
    </select>
    <input type="text" name="filter_email" placeholder="E-mail" value="{{ filters.filter_email }}">
    <input type="text" name="filter_user" placeholder="Brugernavn" value="{{ filters.filter_user }}">
    {% if filters.filter_status == 'active' %}
    Vis bestillinger i kø: <input type="checkbox" name="filter_show_queued" id="filter_show_queued" {% if
        filters.filter_show_queued %}checked{% endif %}>
    {% endif %}
    <a href="#" class="clear-search-filters action-link">Ryd filtre</a>
    {% if filters.filter_has_prev %}
    <a id="filter-prev" class="action-link" href="#" data-prev="{{ filters.filter_prev_offset }}">&lt;&lt; Forrige</a>
    {% endif %}
    {% if filters.filter_has_next %}
    <a id="filter-next" class="action-link" href="#" data-next="{{ filters.filter_next_offset }}">Næste &gt;&gt;</a>
    {% endif %}

    <br>

</form>

{% if orders|length == 0 %}
{% if status == 'active' %}
<p>Der er ingen bestillinger at vise</p>
{% elif status == 'completed' %}
<p>Der er ingen afsluttede bestillinger at vise</p>
{% elif status == 'order_history' %}
<p>Der er ingen historik at vise</p>
{% endif %}
{% else %}

<div class="container-table">
    <table>
        <thead>
            <tr>
                <th>Materiale</th>
                <th>Arkivskaber</th>
                <th>Titel</th>
                <th>E-mail</th>
                <th>Brugernavn</th>
                <th>Status</th>
                <th>Opdateret</th>
                <th>Deadline</th>
                <th title="Antal brugere som står i kø">I Kø</th>
                <th>Lokation</th>
                <th></th><!-- has note indicator -->
                <th>Handling</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}


            {% if order.queued %}
            {% set queued = 'faded-row' %}
            {% else %}
            {% set queued = '' %}
            {% endif %}
            <tr class="{{ queued }}">
                <td class="record-link">
                    <a title="{{ order.record_and_types_title }}"
                        href="/admin/orders/{{order.record_id}}/html">{{order.record_id}}</a>
                </td>
                <td class="width-300" title="{{ order.collectors }}">{{ order.collectors }} </td>
                <td class="width-300" title="{{ order.label }}">{{ order.label }} </td>
                <td>{{ order.user_email }}</td>
                <td>{{ order.user_display_name }}</td>
                <td class="width-100">{{ order.order_status_human }}</td>
                <td>{{ order.updated_at }}</td>
                {% if order.deadline_human %}
                <td>{{ order.deadline_human }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td class="width-50">{{ order.count }}</td>
                <td>
                    {% if order.allow_location_change %}
                    {% set location_change_disabled = "" %}
                    {% set title = "" %}
                    {% else %}
                    {% set location_change_disabled = "disabled" %}
                    {% set title = "
                    Du kan ikke ændre lokation, da materialet er i Læsesalen og en bruger har rettighed til
                    at benytte det. Du må først afslutte den aktive bestilling, før du kan ændre lokation."
                    %}
                    {% endif %}

                    <select {{ location_change_disabled }} name="location" class="location"
                        data-id="{{ order.order_id }}" title="{{ title }}">
                        {% for key, value in locations.items() %}
                        <option value="{{ key }}" data-initial="{{ key }}" {% if order.location==key %}selected{% endif
                            %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <span class="has-comment" title="{{ order.comment }}">
                        {% if order.comment %}
                        {{ get_icon('counter_1')|safe }}
                        {% endif %}
                    </span>
                </td>
                <td>
                    <span>
                        <a class="action-link" href="/admin/orders/{{order.order_id}}/edit">Rediger</a>
                        <span>
                            {% if not order.user_actions_deactivated %}
                            <span class="complete-order">
                                <a class="action-link" data-id="{{order.order_id}}" data-action="completed"
                                    title="Brugeren er færdig med bestillingen" href="#">Afslut</a>
                            </span>
                            {% endif %}
                            <span>
                                <a class="action-link" href="/admin/orders/logs?order_id={{order.order_id}}"
                                    title="Se logs for bestillingen">Logs</a>
                            </span>
                            <span>
                                <a class="action-link print-external"
                                    href="/admin/orders/print?order_id={{order.order_id}}" title="Udskriv bestilling">Print</a>
                            </span>
                </td>
            </tr>

            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="#" class="action-link update-locations">Opdatér</a>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
<div class="loadingspinner hidden"></div>

<script type="module">
    import { asyncLogError } from "/static/js/error.js";
    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";
    import { OrderStatus } from '/static/js/orders.js';

    const spinner = document.querySelector('.loadingspinner');

    /**
     * Handle FINISHED (afsluttet) and DELETED (slettet) clicks
     */
    async function handleUserStatusClick(event) {

        event.preventDefault();
        spinner.classList.toggle('hidden');

        try {

            const element = event.target;
            const action = element.dataset.action;

            if (action == 'completed') {
                if (!confirm('Er du sikker på at brugeren har afsluttet denne bestilling?')) {
                    return;
                }
            } else {
                if (!confirm('Er du sikker på at du vil slette denne bestilling?')) {
                    return;
                }
            }

            let data = {};
            if (action === 'completed') {
                data = {
                    'order_status': OrderStatus.COMPLETED
                }
            } else {
                data = {
                    'order_status': OrderStatus.DELETED
                }
            }

            const url = '/admin/orders/patch/' + element.dataset.id;
            const res = await Requests.asyncPostJson(url, data);

            if (res.error) {
                Flash.setMessage(res.message, 'error');
            } else {
                window.location.reload();
            }

        } catch (e) {
            Flash.setMessage(res.message, 'error');
            await asyncLogError('/error/log', e.stack);
        } finally {
            spinner.classList.toggle('hidden');
        }
    }

    /**
     * eventListener on handleUserStatusClick on ".complete-order"
     */
    document.querySelectorAll('.complete-order > *').forEach(element => {
        element.addEventListener('click', handleUserStatusClick);
    });

    const locationElements = document.querySelectorAll('.location');

    // Get initial vales in order to only update changed values
    const initialLocationValues = [];
    locationElements.forEach(element => {
        const selected = element.options[element.selectedIndex].value;
        initialLocationValues.push(selected);
    });

    const updateLocations = document.querySelector('.update-locations');
    if (updateLocations) {
        updateLocations.addEventListener('click', async function () {
            const data = [];

            // Add to data values that have changed compared to initial values
            locationElements.forEach((element, index) => {
                let selected = element.options[element.selectedIndex].value;
                if (selected !== initialLocationValues[index]) {

                    data.push({
                        'order_id': parseInt(element.dataset.id),
                        'location': parseInt(selected)
                    });
                }
            });

            const url = '/admin/orders/patch';
            spinner.classList.toggle('hidden');

            try {
                const res = await Requests.asyncPostJson(url, data);

                // Redirect to same page to update view
                window.location.reload();
            } catch (e) {
                Flash.setMessage(res.message, 'error');
                await asyncLogError('/error/log', e.stack);
            } finally {
                spinner.classList.toggle('hidden');
            }
        });
    }


    const filterForm = document.querySelector('form');

    function submitFilteredForm() {
        const formData = new FormData(filterForm);
        const params = new URLSearchParams();

        for (const [key, value] of formData.entries()) {
            if (value.trim() !== '') { // Ignore empty values
                params.append(key, value);
            }
        }

        const url = '/admin/orders?' + params.toString();
        window.location.href = url;
    }

    // Submit form on form submission
    filterForm.addEventListener('submit', function (event) {
        event.preventDefault();
        submitFilteredForm();
    });

    // Submit form when select elements change
    document.querySelectorAll('.filters > select').forEach(select => {
        select.addEventListener('change', submitFilteredForm);
    });

    // Submit form when pressing Enter in input fields
    document.querySelectorAll('.filters > input').forEach(input => {
        input.addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                submitFilteredForm();
            }
        });
    });

    // Clear search filters (except filter_status) and submit
    document.querySelector('.clear-search-filters').addEventListener('click', function (event) {
        event.preventDefault();

        filterForm.querySelectorAll('input').forEach(input => {
            if (input.name !== 'filter_status') {
                input.value = '';
            }
        });

        submitFilteredForm();
    });

    // Submit form when filter_show_queued checkbox changes
    const filterShowQueued = document.querySelector('#filter_show_queued');
    if (filterShowQueued) {
        filterShowQueued.addEventListener('change', submitFilteredForm);
    }

    // Function to apply existing filters to pagination
    function applyFiltersToPagination(offsetKey, offsetValue) {
        const formData = new FormData(filterForm);
        const params = new URLSearchParams();

        for (const [key, value] of formData.entries()) {
            if (value.trim() !== '') { // Keep existing filters
                params.append(key, value);
            }
        }

        params.append(offsetKey, offsetValue); // Add pagination offset

        const url = '/admin/orders?' + params.toString();
        window.location.href = url;
    }

    // Handle next pagination
    const filterNext = document.querySelector('#filter-next');
    if (filterNext) {
        filterNext.addEventListener('click', function (event) {
            event.preventDefault();
            const next = event.target.dataset.next;
            applyFiltersToPagination('filter_offset', next);
        });
    }

    // Handle previous pagination
    const filterPrev = document.querySelector('#filter-prev');
    if (filterPrev) {
        filterPrev.addEventListener('click', function (event) {
            event.preventDefault();
            const prev = event.target.dataset.prev;
            applyFiltersToPagination('filter_offset', prev);
        });
    }

    function setPrint() {
        const closePrint = () => {
            document.body.removeChild(this);
        };
        this.contentWindow.onbeforeunload = closePrint;
        this.contentWindow.onafterprint = closePrint;
        this.contentWindow.print();
    }

    const printExternal = document.querySelectorAll('.print-external');
    printExternal.forEach(element => {
        element.addEventListener('click', function (event) {
            event.preventDefault();
            const url = event.target.href;
            const hideFrame = document.createElement("iframe");
            hideFrame.onload = setPrint;
            hideFrame.style.display = "none"; // hide iframe
            hideFrame.src = url;
            document.body.appendChild(hideFrame);
        });
    });

</script>
{% endblock content %}