{% import "macros/admin_macros.html" as admin_macros %}
{% import "macros/basic_macros.html" as basic_macros %}

{% extends "base.html" %}

{% block body_class %}page-admin-orders-edit{% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "admin/menu.html" %}

{{ basic_macros.page_title(title) }}

<div class="record-section">
    <div class="record-main">

        <div class="record-content">
            <div class="label">E-mail</div>
            <div class="content">{{ order.user_email}}</div>
        </div>

        <div class="record-content">
            <div class="label">Navn</div>
            <div class="content">{{ order.user_display_name}}</div>
        </div>

        <div class="record-content">
            <div class="label">Materiale</div>
            <div class="content">
                <a href="/records/{{ order.record_id}}">{{ order.label }}</a>
            </div>
        </div>

        <div class="record-content">
            <div class="label">Materiale ID </div>
            <div class="content">{{ order.record_id}}</div>
        </div>

        <div class="record-content">
            <div class="label">Status</div>
            <div class="content">{{ order.status_human }}</div>
        </div>

        <div class="record-content">
            <div class="label">Oprettet</div>
            <div class="content">{{ order.created_at }}</div>
        </div>

        <div class="record-content">
            <div class="label">Opdateret</div>
            <div class="content">{{ order.updated_at }}</div>
        </div>
        <hr>
    </div>
</div>
<div class="loadingspinner hidden"></div>

<form method="post" action="/admin/orders/patch/{{ order.order_id }}">
    <select name="status" id="status">
        {% for key, value in statuses.items() %}
        <option value="{{ key }}" {% if order.status==key %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
    </select>
    <textarea name="comment" placeholder="Kommentar">{{ order.comment }}</textarea>
    <input type="date" name="deadline" value="{{ order.deadline }}">
    <button id="submit" type="submit">Opdater</button>
</form>
<script type="module">
    import { asyncLogError } from "/static/js/error.js";
    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";

    const spinner = document.querySelector('.loadingspinner');
    const submitElem = document.getElementById('submit');

    async function onChangeSubmit(event) {
        event.preventDefault();
        Flash.clearMessages();
        spinner.classList.toggle('hidden');

        try {

            // Get URL from form action
            const form = document.querySelector('form');
            const url = form.action;
            
            // Get form data. Convert status to integer
            const formData = new FormData(form);
            const formValues = Object.fromEntries(formData)
            formValues.status = parseInt(formValues.status)
             
            const res = await Requests.asyncPostJson(url, formValues);
            if (res.error) {
                Flash.setMessage(res.message, 'error');
            } else {
                window.location.href = '#';
            }

        } catch (e) {
            Flash.setMessage(res.message, 'error');
            await asyncLogError('/error/log', e.stack);
        } finally {
            spinner.classList.toggle('hidden');
        }
    }

    submitElem.addEventListener('click', async function (event) {
        await onChangeSubmit(event);
    });


</script>

<pre>{{ to_json(order) }}</pre>

<style>

</style>


{% endblock content %}