{% import "macros/common_macros.html" as common_macros %}

{% extends "base.html" %}

{% block body_class %}page-records-view{% endblock %}

{% block content %}

<h3>{{ title }}</h3>

<form method="post" action="/order">
    <input type="hidden" name="record_id" value="{{ meta_data.id }}">
    <button id="submit" type="submit">Bestil</button>
</form>

{% set keys = ["collectors", "content_types", "creators", "date_normalized", "curators", "id"] %}
{{ common_macros.parse_block_common('Stamdata', keys, record_and_types) }}


<script type="module">
    import { Requests } from "/static/js/requests.js";

    const submit = document.getElementById("submit");
    submit.addEventListener('click', async function(e) {
        e.preventDefault()
        console.log('clicked')
        

        // Preform request
    })
</script>

{% endblock content %}