{% import "macros/admin_macros.html" as admin_macros %}
{% import "macros/basic_macros.html" as basic_macros %}

{% extends "base.html" %}

{% block body_class %}page-admin-orders-edit{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "admin/menu.html" %}

{{ basic_macros.page_title(title) }}

<div class="record-section">
    <div class="record-main">

        <div class="record-content">
            <div class="label">E-mail</div>
            <div class="content">{{ order.user_email}}</div>
        </div>

        <div class="record-content">
            <div class="label">Navn</div>
            <div class="content">{{ order.user_display_name}}</div>
        </div>

        <div class="record-content">
            <div class="label">Materiale</div>
            <div class="content">
                <a href="/records/{{ order.record_id}}">{{ order.label }}</a>
            </div>
        </div>

        <div class="record-content">
            <div class="label">Materiale ID </div>
            <div class="content">{{ order.record_id}}</div>
        </div>

        <div class="record-content">
            <div class="label">Status</div>
            <div class="content">{{ order.status }}</div>
        </div>

        <div class="record-content">
            <div class="label">Oprettet</div>
            <div class="content">{{ order.created_at }}</div>
        </div>

        <div class="record-content">
            <div class="label">Opdateret</div>
            <div class="content">{{ order.modified_at }}</div>
        </div>
        <hr>
    </div>
</div>


<pre>{{ to_json(order) }}</pre>

<style>

</style>


{% endblock content %}