<div class="action-links">
    {% if has_permission( "root", permissions_list) %}
    <a href="/admin/users">Brugere</a>
    {% endif %}

    {% if has_permission( "root", permissions_list) %}
    <a href="/entities">Entiteter</a>
    {% endif %}

    {% if has_permission( "root", permissions_list) %}
    <a href="/schemas">Skemaer</a>
    {% endif %}

    {% if get_setting('allow_online_ordering') and has_permission('employee', permissions_list) %}
    <a href="/admin/orders">Bestillinger</a>
    {% endif %}
</div>
