{% import "macros/admin_macros.html" as admin_macros %}
{% import "macros/basic_macros.html" as basic_macros %}

{% extends "base.html" %}

{% block body_class %}page-auth-admin-users{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "admin/menu.html" %}

{{ basic_macros.page_title(title) }}

{# [{'id': '99c648f7-f739-4667-a495-b107669e1c0b', 'email': 'dennis.iversen@gmail.com', 'is_active': True,
'is_verified': False, 'data': {}, 'permissions': [{'name': 'user', 'grant_id': 6, 'entity_id': None}],
'permission_translated': 'Permission user'}] #}

{% for user in users %}
<table>
    <thead>
        <tr>
            <th>E-mail</th>
            <th>Verificeret</th>
            <th>Rettighed</th>
            <th>Handling</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.is_verified }}</td>
            <td>{{ user.permission_translated }}</td>
            <td>
                <a href="{{ url_for('admin_users_get_single', uuid=user.id) }}">Rediger</a>
            </td>
        </tr>
</table>

{% endfor %}

<table>

</table>

{% endblock content %}