{% import "macros/admin_macros.html" as admin_macros %}
{% import "macros/basic_macros.html" as basic_macros %}

{% extends "base.html" %}

{% block body_class %}page-auth-admin-users{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "admin/menu.html" %}

{{ basic_macros.page_title(title) }}

{# [{'id': '99c648f7-f739-4667-a495-b107669e1c0b', 'email': 'dennis.iversen@gmail.com', 'is_active': True,
'is_verified': False, 'data': {}, 'permissions': [{'name': 'user', 'grant_id': 6, 'entity_id': None}],
'permission_translated': 'Permission user'}] #}

<table>
    <thead>
        <tr>
            <th>E-mail</th>
            <th>Verificeret</th>
            <th>Rettighed</th>
            <th>Handling</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}

        <tr>
            <td>{{ user.email }}</td>
            <td>
            {% if user.is_verified %}
                Ja
            {% else %}
                Nej
            {% endif %}
            </td>
            
            <td>{{ user.permission_translated }}</td>
            <td>

                <a href="{{ url_for('admin_users_get_single', uuid=user.id) }}">Rediger</a> |
                <a class="delete-user" data-uuid="{{ user.id }}" href="#">Slet</a>

                
            </td>
        </tr>
    {% endfor %}
</table>
<div class="loadingspinner hidden"></div>

<script type="module">

    import { asyncLogError } from "/static/js/error.js";
    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";

    const spinner = document.querySelector('.loadingspinner');
    const userDeleteElems = document.querySelectorAll('.delete-user');

    // loop through all delete-user elements and add event listener
    userDeleteElems.forEach(function(elem) {
        elem.addEventListener('click', async function(event) {
            event.preventDefault();
            Flash.clearMessages();
            spinner.classList.toggle('hidden');

            // get data-uuid from this element
            const uuid = this.getAttribute('data-uuid');

            try {
                const url = '/admin/users/' + uuid + '/delete';
                const res = await Requests.asyncPost(url);
                if (res.error) {
                    Flash.setMessage(res.message, 'error');
                } else {
                    window.location.href = '/admin/users';
                }
                
            } catch (e) {
                Flash.setMessage(res.message, 'error');
                await asyncLogError('/error/log', e.stack);
            } finally {
                spinner.classList.toggle('hidden');
            }   
        });
    });


</script>

{% endblock content %}