{% import "macros/entity.html" as macros_entities %}
{% extends "base.html" %}

{% block content %}
{% include "includes/main_title.html" %}

{% macro parse_header(header, is_type) %}
<hr>
<h2>{{ header }}</h2>
{% endmacro %}

{% macro parse_value(value) %}
<p>{{ value }}</p>
{% endmacro %}

{% macro parse_key_value(key, value) %}
{% if is_primitive(value) %}
<p><strong>{{ key }}</strong>: {{ value }}</p>
{% elif is_list_of_primitives(value) %}
<p><strong>{{ key }}</strong>:  {{ parse_list(value) }}</p>
{% else %}
<p>Unknown type: {{ value }}</p>
{% endif %}
{% endmacro %}

{% macro parse_list(value) %}
<p>
{% for item in value %}
{{ item }}
{% if not loop.last %}
{{ ", " }}
{% endif %}
{% endfor %}
</p>
{% endmacro %}

{% macro parse_primitive(key, value) %}
{{ parse_header(key) }}
{{ parse_value(value) }}
{% endmacro %}

{% macro parse_dict(value) %}
{% for key, value in value.items () %}
{{ parse_key_value(key, value) }}
{% endfor %}
{% endmacro %}

{% macro parse_list_of_primitives (key, value) %}
{{ parse_list (value)}}
{% endmacro %}

{% macro parse_list_of_dicts (key, value) %}
{% for item in value %}
{{ parse_dict(item) }}
{% endfor %}
{% endmacro %}

{% for key, value in entity.items() %}
    {% if is_primitive(value) %}
    {{ parse_primitive(key, value) }}
    {% endif %}

    {% if is_dict(value) %}
    {{ parse_header(key) }}
    {{ parse_dict(value) }}
    {% endif %}

    {% if is_list_of_primitives(value) %}
    {{ parse_header(key) }}
    {{ parse_list_of_primitives(key, value) }}
    {% endif %}

    {% if is_list_of_dicts(value) %}
    {{ parse_header(key) }}
    {{ parse_list_of_dicts(key, value) }}
    {% endif %}

{% endfor %}

<pre>
    {{ entity_json }}
</pre>

{% endblock content %}