{% set settings = {'skip_translate': False} %}
{% set search_base_url = "/records-search" %}
{% set debug = True %}

{% macro parse_record_label (label) %}
<div class="label">
    {% if settings.skip_translate %}
    <strong>{{ label }} </strong>
    {% else %}
    {% set label = "label_record_" + label %}
    <strong>{{ translate(label) }} </strong>
    {% endif %}
</div>
{% endmacro %}

{% macro parse_string (key, value) %}
<div class="record-content">
    {{ parse_record_label(key)}}
    <div class="content">
        <p>
            {{ value }}
        </p>
    </div>
</div>
{% endmacro %}

{% macro parse_key_value_dict (value) %}
{% for key, item in value.items() %}
{{ parse_string(key, item) }}
{% endfor %}
{% endmacro %}

{% macro parse_key_value_dicts(value) %}
{% for item in value %}
{{ parse_key_value_dict(item)}}
{% if not loop.last %} <hr> {% endif %}
{% endfor %}
{% endmacro %}

{% macro parse_link_dict(key, value) %}
<div class="record-content">
    {{ parse_record_label(key) }}
    <div class="content">
        <p>
            <a href="{{ search_base_url }}?{{ value['search_query'] }}">{{ value["label"] }}</a>
        </p>
    </div>
</div>
{% endmacro %}

{% macro parse_link_list (key, value) %}
<div class="record-content">
    {{ parse_record_label(key) }}
    <div class="content">
            {% for link in value %}
            <p>
                <a href="{{ search_base_url }}?{{ key}}={{ link['id'] }}">{{ link["label"] }}</a>
            </p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro parse_string_list (key, value) %}
<div class="record-content">
    {{ parse_record_label(key) }}
    <div class="content">
        {% for item in value %}
        <p>{{ item|safe }}</p>
        {% endfor %}

    </div>
</div>
{% endmacro %}

{% macro parse_list_in_hierarchy (value) %}
<div>
{% for item in value %}
<a href="{{ search_base_url }}?{{ item.search_query }}">{{ item.label }}</a>
    {% if not loop.last %} {{ '>' }} {% endif %}
{% endfor %}
</div>
{% endmacro %}

{% macro parse_link_list_hierarchy (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
        {{ parse_list_in_hierarchy(item) }}
        {% endfor %}        
    </div>
</div>
{% endmacro %}

{% macro parse_section(section) %}
{% for key, field in section.items() %}

    {% set type = field["type"] %}
    {% set value = field["value"] %}

    {% if type == "string" or type == "date" %}
    {{ parse_string(key, value) }}
    {% elif type == "key_value_dicts" %}

    {% if settings.update({'skip_translate': True}) %} {% endif %}
    {{ parse_key_value_dicts(value ) }}
    {% if settings.update({'skip_translate': False}) %} {% endif %}

    {% elif type == "string_list" %}
    {{ parse_string_list(key, value ) }}
    {% elif type == "link_list" %}
    {{ parse_link_list(key, value ) }}
    {% elif type == "link_dict" %}
    {{ parse_link_dict(key, value ) }}
    {% elif type == "link_list_hierarchy" %}
    {{ parse_link_list_hierarchy(key, value ) }}
    {% else %}
    {{ key }} {{ field }}
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro parse_sections (sections) %}
<div class="record">
    {% for key, section in sections.items() %}
    <div class="record-section">
        <div class="record-main">
            <h3 class="record-header">{{ key }}</h3> {{ parse_section(section) }}
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% extends "base.html" %}

{% block content %}
{% include "includes/main_title.html" %}

{{ parse_sections(sections) }}

<pre>

    {{ to_json(record) }}

</pre>

{% endblock content %}