{% extends "empty.html" %}

{% block content %}
<style>
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        background-color: grey;
        padding: 10px;
        align-items: start; /* Align items to the top of each row */
    }

    .image-container {
        background-color: yellowgreen;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image {
        width: 100%; /* Adjust to fill the container */
        height: auto;
        display: block;
        margin: auto;
    }
</style>

<div class="container">
    {% for image in random_images %}
    <div class="image-container">
        <img class="image" src="{{ image }}" alt="Image">
    </div>
    {% endfor %}
</div>

{% endblock content %}
