<script type="module">

    import { AutoComplete } from '/static/js/auto-complete.js';

    // Render function for autocomplete
    const renderFunction = (data) => {

        // If no results, return info
        if (data.length == 0) return `<div class="search-suggestion-info">Ingen forslag. Tryk på søgeknappen for at fritekstsøge i stedet.</div>`;
        
        // If results, return info and suggestions
        const suggestionHelp = `<div class="search-suggestion-info">Vælg et forslag nedenfor <strong>eller</strong> tryk på søgeknappen for at fritekstsøge.</div>`;
        const suggestions = data.map(item => `
            <div class="search-suggestion-item" data-url="/search?{{ query_str_display }}${item.domain}=${item.id}">
                <div>
                    <a href="/search?{{ query_str_display }}${item.domain}=${item.id}">${item.display}</a>
                </div>
                <div>${item.sub_display}</div>
            </div>`).join('');

        return `${suggestionHelp} ${suggestions}`;
    };

    const autocompleteElem = document.querySelector('#q');
    const suggestionsElem = document.querySelector('.search-suggestions');

    const options = {
        'autocompleteElem': autocompleteElem,
        'suggestionsElem': suggestionsElem,
        'renderFunction': renderFunction,
        'endpoint': `/auto_complete?q=`,
        'minInputLength': 2,
        'suggestionFocusClass': 'search-suggestion-focus',
    }

    window.addEventListener("pageshow", function(event) {
        const autoComplete = new AutoComplete(options)
        
    });
</script>
