<div class="footer-content" id="item-1">
    <div class="footer-logo">
        <a href="#"><img src="https://placehold.co/300x82?text=LEFT+IMAGE+LINK"></a>
    </div>
</div>

<div class="footer-content" id="item-2">
    <ul class="contact-info">
        <li class="heading">Organisation</li>
        <li>Vejnavn 72</li>
        <li>Bygning</li>
        <li>9999 Bynavn</li>
        <li>Tlf.: 11223344</li>
        <li>Mail: mail@mail.dk</li>
        <li>Web: webadresse.dk</li>
        <li>
            &nbsp;
        </li>
        <li><a href="#">Ekstern link</a></li>

        {% if get_setting('show_version') %}
        {% set version = get_setting('version') %}
            <li>
                &nbsp;
            </li>
            <li class="version">{{ version }}</li>
        {% endif %}
    </ul>
</div>

<div class="footer-content" id="item-3">
    <ul class="reading-room">
        <li class="heading">Praktisk info</li>
        <li><span class="left">Tirsdag</span><span class="right">9.00 - 16.00</span></li>
        <li><span class="left">Onsdag</span><span class="right">9.00 - 16.00</span></li>
        <li><span class="left">Torsdag</span><span class="right">9.00 - 16.00</span></li>
        <li>
            &nbsp;
        </li>
        <li><a href="#">Socialt link</a></li>
        <li><a href="#">Socielt link 2</a></li>
        <li>
            &nbsp;
        </li>
        <li><a href="#">Privatlivspolitik</a></li>
    </ul>
</div>

<div class="footer-content" id="item-4">
    <div class="footer-logo-right">
        <a href="#"><img src="https://placehold.co/300x82?text=RIGHT+IMAGE+LINK"></a>
    </div>
</div>