<title>
  {{ meta_title }}
</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if not get_setting('robots_allow') %}
<meta name="robots" content="noindex, nofollow">
{% endif %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/light.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/dolphin.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/default.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/record.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/footer.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/local.css') }}?v={{ get_setting('version') }}">
<link rel="shortcut icon" href="{{ url_for('static', path='/assets/favicon.ico') }}?v={{ get_setting('version') }}" />
<script type="importmap">
        {
          "imports": {
            "{{ url_for('static', path='/js/flash.js') }}": "{{ url_for('static', path='/js/flash.js') }}?v={{ get_setting('version') }}",
            "{{ url_for('static', path='/js/events.js') }}": "{{ url_for('static', path='/js/events.js') }}?v={{ get_setting('version') }}",
            "{{ url_for('static', path='/js/search.js') }}": "{{ url_for('static', path='/js/search.js') }}?v={{ get_setting('version') }}",
            "{{ url_for('static', path='/js/requests.js') }}": "{{ url_for('static', path='/js/requests.js') }}?v={{ get_setting('version') }}",
            "{{ url_for('static', path='/js/slideshow.js') }}": "{{ url_for('static', path='/js/slideshow.js') }}?v={{ get_setting('version') }}",
            "{{ url_for('static', path='/js/common_utils.js') }}": "{{ url_for('static', path='/js/common_utils.js') }}?v={{ get_setting('version') }}",
            "{{ url_for('static', path='/js/jsoneditor_utils.js') }}": "{{ url_for('static', path='/js/jsoneditor_utils.js') }}?v={{ get_setting('version') }}"
          }
        }
</script>
<script type="module">
    import { Flash } from "/static/js/flash.js";
    import { } from "/static/js/main-events.js";
</script>