<!-- head_default.html -->
<title>
  {{ meta_title }}
</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
{% if not get_setting('allow_robots') %}
<meta name="robots" content="noindex, nofollow">
{% endif %}
<meta name="description" content="{{ meta_description }}">
{% if dark_theme %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/dark.css') }}?v={{ get_setting('version') }}">
{% else %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/light.css') }}?v={{ get_setting('version') }}">
{% endif %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/dolphin.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/default.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/navigation.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/record.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/footer.css') }}?v={{ get_setting('version') }}">
<link rel="shortcut icon" href="{{ url_for('static', path='/assets/favicon.ico') }}?v={{ get_setting('version') }}">

{% include "includes/importmap.html" %}

{% if not disable_js %}
<script type="module">
    import { Flash } from "/static/js/flash.js";
    Flash.clearMessages(); // Clear flash messages on page load
    import "/static/js/main-navigation.js";
    import "/static/js/local.js";
</script>
{% endif %}
