<script type="importmap">
{
    "imports": {
        "/static/js/flash.js": "/static/js/flash.js?v={{ get_setting('version') }}",
        "/static/js/record-orders.js": "/static/js/record-orders.js?v={{ get_setting('version') }}",
        "/static/js/upload.js": "/static/js/upload.js?v={{ get_setting('version') }}",
        "/static/js/bookmarks-record.js": "/static/js/bookmarks-record.js?v={{ get_setting('version') }}",
        "/static/js/table-of-contents.js": "/static/js/table-of-contents.js?v={{ get_setting('version') }}",
        "/static/js/local.js": "/static/js/local.js?v={{ get_setting('version') }}",
        "/static/js/error.js": "/static/js/error.js?v={{ get_setting('version') }}",
        "/static/js/jsoneditor-utils.js": "/static/js/jsoneditor-utils.js?v={{ get_setting('version') }}",
        "/static/js/bookmarks-user.js": "/static/js/bookmarks-user.js?v={{ get_setting('version') }}",
        "/static/js/record.js": "/static/js/record.js?v={{ get_setting('version') }}",
        "/static/js/lit-html.js": "/static/js/lit-html.js?v={{ get_setting('version') }}",
        "/static/js/slideshow.js": "/static/js/slideshow.js?v={{ get_setting('version') }}",
        "/static/js/events.js": "/static/js/events.js?v={{ get_setting('version') }}",
        "/static/js/config.js": "/static/js/config.js?v={{ get_setting('version') }}",
        "/static/js/common-utils.js": "/static/js/common-utils.js?v={{ get_setting('version') }}",
        "/static/js/auto-complete-instance.js": "/static/js/auto-complete-instance.js?v={{ get_setting('version') }}",
        "/static/js/overlay.js": "/static/js/overlay.js?v={{ get_setting('version') }}",
        "/static/js/truncate-text.js": "/static/js/truncate-text.js?v={{ get_setting('version') }}",
        "/static/js/search.js": "/static/js/search.js?v={{ get_setting('version') }}",
        "/static/js/orders.js": "/static/js/orders.js?v={{ get_setting('version') }}",
        "/static/js/main-navigation.js": "/static/js/main-navigation.js?v={{ get_setting('version') }}",
        "/static/js/jsoneditor.min.js": "/static/js/jsoneditor.min.js?v={{ get_setting('version') }}",
        "/static/js/relations-edit.js": "/static/js/relations-edit.js?v={{ get_setting('version') }}",
        "/static/js/local-storage-ttl.js": "/static/js/local-storage-ttl.js?v={{ get_setting('version') }}",
        "/static/js/auto-complete.js": "/static/js/auto-complete.js?v={{ get_setting('version') }}",
        "/static/js/requests.js": "/static/js/requests.js?v={{ get_setting('version') }}",
        "/static/js/lit-core.min.js": "/static/js/lit-core.min.js?v={{ get_setting('version') }}",
        "/static/js/record-series.js": "/static/js/record-series.js?v={{ get_setting('version') }}"
    }
}
</script>