{% extends "mails/mail_template.html" %}

{% block content %}
<p>Hej {{ display_name }},</p>
<p>Du modtager denne mail, fordi din email-adresse er blevet brugt til at oprette en brugerkonto på {{ client_domain_url }}.</p>

<p>For at aktivere denne brugerkonto, så du blandt andet kan begynde at bestille materialer hjem til læsesalen,
	skal du verificere din email-adresse. Dette gøres ved at klikke på følgende link:
</p>

<p>
	<a href="{{ client_verify_url }}" target="_blank">{{ client_verify_url }}</a>
</p>

<p>Linket er gyldigt i 1 time. Herefter skal du logge på {{ client_domain_url }} for at bede om et nyt
	verifikationslink.</p>

<p>Hvis du mener, at du har modtaget denne email ved en fejl, skal du bare se bort fra denne besked.</p>

<p>Med venlig hilsen</p>

<p>{{ client_name }}</p>
{% endblock %}