{% import "macros/admin_macros.html" as admin_macros %}
{% import "macros/common_macros.html" as common_macros %}
{% import "macros/slideshow_macros.html" as slideshow_macros %}

{% extends "base.html" %}

{% block body_class %}page-entity-single{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/overlay.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/slideshow.css') }}?v={{ get_setting('version') }}">
<script type="module">
    import { activateOverlay } from "/static/js/overlay.js";
    activateOverlay('.record-representation');
</script>
{% endblock head %}

{% block content %}

{% include "includes/main_title.html" %}

{{ admin_macros.render_action_link('/entities', "Til oversigt") }} | 
{{ admin_macros.render_entity_update_link(entity) }} |
{{ admin_macros.render_entity_delete_link(entity) }} 

{% set key = ["image_list", "portrait"] %}
{{ slideshow_macros.parse_slideshow_block("Billede liste", key, types_and_values ) }}

{% set keys = types_and_values.keys() %}
{{ common_macros.parse_block_common('Data', keys, types_and_values) }}

{% set urls = [
    {'label': 'JSON. Entity', 'url': url_for('entities_get_single_json', uuid=entity.uuid, type='entity') | string},
    {'label': 'JSON. Entity Types and Values', 'url': url_for('entities_get_single_json', uuid=entity.uuid, type='types_and_values') | string},
    {'label': 'JSON. Entity Schema', 'url': url_for('entities_get_single_json', uuid=entity.uuid, type='schema') | string}
] %}

{{ common_macros.parse_meta_block(urls) }}

{% endblock content %}





