{% import "macros/admin_macros.html" as admin_macros %}
{% import "macros/basic_macros.html" as basic_macros %}

{% extends "base.html" %}

{% block body_class %}page-entities-create{% endblock %}

{% block head %}

<script src="/static/js/jsoneditor.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>-->
<link rel="stylesheet" href="{{ url_for('static', path='/css/jsoneditor.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "admin/menu.html" %}

{{ basic_macros.page_title(title) }}

<div class="schema-update"></div>

<div class="entity-editor">
    <div id='editor_holder' class='small'></div>
    <button id='submit'>{{ "Opdater entitet" }}</button>
</div>

<div id="upload_field">
    <form enctype="multipart/form-data">
        <label for="files">{{ "Upload fil" }}</label>
        <input type="file" id="files" name="files" accept="image/*,application/pdf" multiple>
        <button id="upload">{{ "Upload" }}</button>
    </form>
</div>

<div id="upload_message"></div>

<script type="module">

    import '/static/js/upload.js';
    import { html, render } from '/static/js/lit-core.min.js';
    // import { html, render } from 'https://cdn.jsdelivr.net/gh/lit/dist@3/core/lit-core.min.js';
    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";
    import { showErrorMessages, getEditor } from "/static/js/jsoneditor-utils.js";
    import { setLocalStorage, getLocalStorage, removeLocalStorage } from '/static/js/local-storage-ttl.js'

    const context = {{ to_json(context) | safe }};

    // Current schema, version and editor
    let currentSchema = context.schema;
    let schemaName = context.schema.name;
    let editor = await getEditor(context.schema);
    let loadedData = null;

    const uuid = context.uuid;
    let entityData = context.entity.data;

    /**
     * Handle the update button click
     */
    const handleUpdateClick = async () => {

        // Create new editor
        editor.destroy();
        editor = await getEditor(context.schema_latest);
        editorLoad();

        // Set new schema
        schemaName = context.schema_latest.name;
        currentSchema = context.schema_latest;
        context.is_lastest_schema = true;
        Flash.setMessage(`Editor benytter nu version ${context.schema_latest.version}`, 'success', true)

        // Render template
        renderUpdateTemplate(context)

    };

    const updateTemplate = () => html`
        <p>${currentSchema.type}. Version: ${currentSchema.version}</p>
        ${context.is_lastest_schema
            ? html`<p>Schema er seneste version</p>`
            : html`
            <p>En opdatering er tilgængelig. ${context.schema_latest.version}</p>
            <button id="load-latest-schema" @click="${handleUpdateClick}">Load seneste schema</button>
            `
        }`;

    function renderUpdateTemplate() {
        render(updateTemplate(), document.querySelector('.schema-update'));
    }

    renderUpdateTemplate(context)

    /**
     * Load the entity data into the editor
     */
    function editorLoad() {
        editor.on('ready', async function () {

            const entityFromStorage = getLocalStorage(uuid);

            // Check if entityFromStorage is different from entityData
            if (entityFromStorage) {
                const entityFromStorageJson = entityFromStorage
                if (JSON.stringify(entityFromStorageJson) !== JSON.stringify(entityData)) {
                    const confirm = window.confirm("Der er ugemte ændringer. Vil du indlæse disse?");
                    if (confirm) {
                        entityData = entityFromStorageJson;
                    }
                }
            }

            for (const [key, value] of Object.entries(entityData)) {
                const editorProperty = editor.getEditor(`root.${key}`);
                if (editorProperty) {
                    editorProperty.setValue(value);
                }
            }
        });
    }

    editorLoad();

    /**
     * Submit the entity data to the server
     */
    document.getElementById('submit').addEventListener('click', async function () {

        const data = editor.getValue();
        try {
            const userInfo = await Requests.asyncPostJson('/auth/user-info');

            if (!userInfo.is_logged_in) {
                const MINUTES_30 = 30 * 60;
                setLocalStorage(uuid, data, MINUTES_30);
                Flash.setMessage("{{ 'Du skal være logget ind for at opdatere en entitet. Ikke gemte ændringer kan loades de næste 30 minutter' }}", 'error', true)
                return;
            }
        } catch (e) {
            console.log(e)
            return;
        }

        const errors = editor.validate();
        if (errors.length) {
            showErrorMessages(currentSchema, errors)
        } else {

            const postJson = JSON.stringify({
                data: data,
                schema_name: schemaName,
                status: 2, // MAYBE TODO: Make this configurable
                uuid: context.uuid
            })

            try {

                const url = `/entities/${context.uuid}`;
                const res = await Requests.asyncPostJson(url, postJson, 'PATCH');
                if (res.error) {
                    Flash.setMessage(res.message, 'error', true)
                }
                else {
                    window.location = `{{ url_for('entities_get_list') }}`;
                }

            } catch (e) {
                console.log(e)
            }
        }
    });

</script>

{% endblock content %}