{% import "macros/admin_macros.html" as admin_macros %}

{% extends "base.html" %}

{% block body_class %}page-entities-create{% endblock %}

{% block head %}

<script src="/static/js/jsoneditor.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>-->
<link rel="stylesheet" href="{{ url_for('static', path='/css/jsoneditor.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}
{% include "includes/main_title.html" %}

<p>
    {{ admin_macros.render_action_link('/entities', "Til oversigt") }} | 
    {{ admin_macros.render_entity_view_link(entity) }} |
    {{ admin_macros.render_entity_delete_link(entity) }}
</p>

<div class="schema-update"></div>

<div class="entity-editor">
    <div id='editor_holder' class='small'></div>
    <button id='submit'>{{ "Opdater entitet" }}</button>
</div>

<script type="module">

    // import { html, render } from '/static/js/lit-core.min.js';
    import { html, render } from 'https://cdn.jsdelivr.net/gh/lit/dist@3/core/lit-core.min.js';
    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";
    import { showErrorMessages, getEditor } from "/static/js/jsoneditor-utils.js";

    const context = {{ to_json(_context) | safe }};

    // Current schema, version and editor
    let currentSchema = context.schema;
    let schemaName = context.schema.name;
    let editor = await getEditor(context.schema);

    /**
     * Handle the update button click
     */
    const handleUpdateClick = async () => {

        // Create new editor
        editor.destroy();
        editor = await getEditor(context.schema_latest);
        editorLoad();

        // Set new schema
        schemaName = context.schema_latest.name;
        currentSchema = context.schema_latest;
        context.is_lastest_schema = true;
        Flash.setMessage(`Editor benytter nu version ${context.schema_latest.version}`, 'success', true)

        // Render template
        renderUpdateTemplate()
        
    };

    const updateTemplate = () => html`
        <p>${currentSchema.type}. Version: ${currentSchema.version}</p>
        ${context.is_lastest_schema
            ? html`<p>Schema er seneste version</p>`
            : html`
            <p>En opdatering er tilgængelig. ${context.schema_latest.version}</p>
            <button id="load-latest-schema" @click="${handleUpdateClick}">Load seneste schema</button>
            `
        }`;
    
    function renderUpdateTemplate() {
        render(updateTemplate(), document.querySelector('.schema-update'));
    }

    renderUpdateTemplate(context)

    /**
     * Load the entity data into the editor
     */
    function editorLoad() {
        editor.on('ready', async function () {
            for (const [key, value] of Object.entries(context.entity.data)) {
                const editorProperty = editor.getEditor(`root.${key}`);
                if (editorProperty) {
                    editorProperty.setValue(value);
                }
            }
        });
    }

    editorLoad();

    /**
     * Submit the entity data to the server
     */
    document.getElementById('submit').addEventListener('click', async function () {

        try {
            const userInfo = await Requests.asyncPostJson('/auth/user-info');
            if (!userInfo.is_logged_in) {
                Flash.setMessage("{{ 'Du skal være logget ind for at opdatere en entitet' }}", 'error', true)
                return;
            }
        } catch (e) {
            console.log(e)
        }

        const errors = editor.validate();
        if (errors.length) {
            console.log(errors)
            showErrorMessages(currentSchema, errors)
        } else {
            const data = editor.getValue();
            const postJson = JSON.stringify({
                data: data,
                schema_name: schemaName,
                status: 2, // MAYBE TODO: Make this configurable
                uuid: context.uuid
            })

            try {

                const url = `/entities/${context.uuid}`;
                const res = await Requests.asyncPostJson(url, postJson, 'PATCH');
                if (res.error) {
                    Flash.setMessage(res.message, 'error', true)
                }
                else {
                    window.location = `{{ url_for('entities_get_list') }}`;
                }

            } catch (e) {
                console.log(e)
            }
        }
    });

</script>

{% endblock content %}