

{% import "macros/common_macros.html" as common_macros %}

{% extends "base.html" %}

{% block body_class %}page-entity-single{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/overlay.css') }}?v={{ get_setting('version') }}">
<script type="module">
    import { activateOverlay } from "/static/js/overlay.js";
    activateOverlay('.record-representation');
</script>
{% endblock head %}

{% block content %}

{% include "includes/main_title.html" %}

{{ pre(types_and_values)|safe }}

{{ pre(entity)|safe }}

{#  "date_from", "date_to" In this case it is birthdate and deathdate - not used #}
{% set keys = ["display_label", "name", "parish", "addr_nr", "zipcode", "rotation", "alt_names", "local_area", "description", "coordinates", "sources_links", "sources_texts"] %}
{{ common_macros.parse_image_block('Stamdata', keys, types_and_values) }}

{% endblock content %}



