{% extends "base.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
{% endblock head %}

{% block content %}
<h1>Create resource</h1>

<div id='editor_holder'></div>
<button id='submit'>Create</button>

<script type="module">

    import { Requests } from "/static/js/requests.js";
    import { getApiUrl } from "/static/js/config.js";


    var schema = {{ schema | safe }};

    // Initialize the editor with a JSON schema
    var options = {
        disable_properties: true,
        disable_collapse: true,
        disable_edit_json: true,
        schema: schema.data
    }

    var editor = new JSONEditor(document.getElementById('editor_holder'), options);


    document.getElementById('submit').addEventListener('click', async function () {

        let schema_data = editor.getValue();
        let post_json = JSON.stringify({
            data: schema_data,
            schema: "testcar",
        })

        try {

            const res = await Requests.asyncPostJson(getApiUrl('/entities/testcar'), post_json);
            console.log(res)

        } catch (e) {
            console.log(e)
            // await Pebble.asyncPostError('/error/log', e.stack);
        } finally {
            // spinner.classList.toggle('hidden');
        }

        

        console.log(post_json)
        return;


    });

</script>

{% endblock content %}