{% extends "base.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
{% endblock head %}

{% block content %}
{% include "includes/main_title.html" %}

<div id='editor_holder' class='small'></div>
<button id='submit'>{{ translate("Create entity") }}</button>
<script type="module">

    import { Requests } from "/static/js/requests.js";
    import { getApiUrl } from "/static/js/config.js";
    import { Flash } from "/static/js/flash.js";

    var schema = {{ schema | safe }};
    const schema_type = schema.type;

    // Initialize the editor with a JSON schema
    const options = {
        theme: 'barebones',
        disable_properties: true,
        disable_collapse: true,
        disable_edit_json: true,
        schema: schema.data
    }

    var editor = new JSONEditor(document.getElementById('editor_holder'), options);
    document.getElementById('submit').addEventListener('click', async function () {

        try {
            let user_info = await Requests.asyncPostJson(getApiUrl('/auth/user-info'));
            if (!user_info.is_logged_in) {
                Flash.setFlashMessage("{{ translate('You must be logged in to create an entity') }}", 'error', true)
                return;
            }
        } catch (e) {
            console.log(e)
        }

        const errors = editor.validate();
        if (errors.length) {
            // errors is an array of objects, each with a `path`, `property`, and `message` parameter
            // `property` is the schema keyword that triggered the validation error (e.g. "minLength")
            // `path` is a dot separated path into the JSON object (e.g. "root.path.to.field")
            errors.forEach(error => {
                let message = "Client validation. Path: " + error.path + " - " + error.message;
                Flash.setFlashMessage(message, 'error')
            })

        } else {
            let schema_data = editor.getValue();
            let post_json = JSON.stringify({
                data: schema_data,
                schema_name: schema_type,
            })

            try {
                
                let url = `/entities/post-entity/${schema_type}`;
                const res = await Requests.asyncPostJson(getApiUrl(url), post_json);
                if (res.error) {
                    Flash.setFlashMessage(res.message, 'error', true)
                }
                else {
                    // Rediect to current page
                    window.location = window.location.href;
                }

            } catch (e) {
                console.log(e)
            } finally {

            }
        }
    });

</script>

{% endblock content %}