{% extends "base.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
{% endblock head %}

{% block content %}
<h1>Create resource</h1>

<div id='editor_holder'></div>
<button id='submit'>Create</button>

<script>

    var schema = {{ schema | safe }};

    // Initialize the editor with a JSON schema
    var options = {
        disable_properties: true,
        disable_collapse: true,
        disable_edit_json: true,
        schema: schema.data
    }

    console.log(options)
    var editor = new JSONEditor(document.getElementById('editor_holder'), options);

    fetch(getApiUrl("/entities/?type=car"), {
        method: "POST",
        body: JSON.stringify({
          data: editor.getValue()
      }),
        credentials: "include",
        ...props,
    }).then(async r => {
        if (r.status == 201) {
            window.location.href = "resources.html";
        } else {
            alert(await r.text());
        }
    })

</script>

{% endblock content %}
