{% extends "base.html" %}

{% block body_class %}page-entities-view-all{% endblock %}

{% block content %}
{% include "includes/main_title.html" %}

<table>
    {% for schema in schemas %}
    <tr>
        <td><a href="/entities/create/{{ schema.type }}">{{ schema.type }} </a></td>
    </tr>
    </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <th>UUID</th>
        <th>Schema</th>
    </tr>
    {% for entity in entities %}
    <tr>
        <td>
            Vis: <a href="/entities/view/{{entity.uuid}}">{{ entity.uuid }}</a>
        </td>
        <td>
            {{entity.schema_name }}
        </td>
    </tr>
    <tr>
        <td>
            Ret: <a href="/entities/edit/{{entity.uuid}}">{{ entity.uuid }}</a>
        </td>
        <td>
            {{entity.schema_name }}
        </td>
    </tr>

    <tr>
        <td>
            Slet: <a href="/entities/delete/{{entity.uuid}}/soft">{{ entity.uuid }}</a>
        </td>
        <td>
            {{entity.schema_name }}
        </td>
    </tr>

    {% endfor %}
</table>

{% endblock content %}