{% extends "base.html" %}

{% block body_class %}page-entities-create{% endblock %}

{% block head %}

<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', path='/css/jsoneditor.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}
{% include "includes/main_title.html" %}

<div class="entity-editor">
    <div id='editor_holder' class='small'></div>
    <button id='submit'>{{ "Opdater entitet" }}</button>
</div>
<script type="module">

    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";
    import { getTranslation } from "/static/js/jsoneditor_utils.js";
    import { getPathPart } from '/static/js/common_utils.js'

    const translation = await getTranslation("da")

    var schema = {{ schema_json | safe }};
    const schema_type = schema.type;

    // Initialize the editor with a JSON schema
    const options = {
        theme: 'barebones',
        disable_properties: true,
        disable_collapse: true,
        disable_edit_json: true,
        schema: schema.data
    }

    JSONEditor.defaults.languages.da = translation
    JSONEditor.defaults.language = "da";


    var editor = new JSONEditor(document.getElementById('editor_holder'), options);

    editor.on('ready', async function () {
        editor.setValue({{ entity_json | safe }});
    });

    document.getElementById('submit').addEventListener('click', async function () {

        try {
            const user_info = await Requests.asyncPostJson('/auth/user-info');
            if (!user_info.is_logged_in) {
                Flash.setMessage("{{ 'Du skal være logget ind for at opdateres en entitet' }}", 'error', true)
                return;
            }
        } catch (e) {
            console.log(e)
        }

        const errors = editor.validate();
        if (errors.length) {
            // errors is an array of objects, each with a `path`, `property`, and `message` parameter
            // `property` is the schema keyword that triggered the validation error (e.g. "minLength")
            // `path` is a dot separated path into the JSON object (e.g. "root.path.to.field")
            errors.forEach(error => {
                const message = "Client validation. Path: " + error.path + " - " + error.message;
                Flash.setMessage(message, 'error')
            })

        } else {
            const schema_data = editor.getValue();
            const uuid = getPathPart(2)
            const post_json = JSON.stringify({
                data: schema_data,
                schema_name: schema_type,
                status: 2, // MAYBE TODO: Make this configurable
                uuid: uuid
            })

            try {


                const url = `/entities/${uuid}`;
                const res = await Requests.asyncPostJson(url, post_json, 'PATCH');
                if (res.error) {
                    Flash.setMessage(res.message, 'error', true)
                }
                else {
                    window.location = "/entities";
                }

            } catch (e) {
                console.log(e)
            } finally {

            }
        }
    });

</script>

{% endblock content %}