{% import "macros/admin_macros.html" as admin_macros %}

{% extends "base.html" %}

{% block body_class %}page-entities-create{% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', path='/css/jsoneditor.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}
{% include "includes/main_title.html" %}

<p>
    {{ admin_macros.render_action_link('/entities', "Tilbage til oversigt") }}
</p>

<div id='editor_holder' class='small'></div>
<button id='submit'>{{ "Opret entitet" }}</button>

<script type="module">

    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";
    import { showErrorMessages, getEditor } from "/static/js/jsoneditor_utils.js";
    import { getPathPart } from '/static/js/common_utils.js'

    const schema = {{ to_json(schema) | safe }};
    const schemaName = schema.name;
    const editor = await getEditor(schema);

    document.getElementById('submit').addEventListener('click', async function () {

        try {
            const userInfo = await Requests.asyncPostJson('/auth/user-info');
            if (!userInfo.is_logged_in) {
                Flash.setMessage("{{ 'Du skal være logget ind for at oprette en entitet' }}", 'error', true)
                return;
            }
        } catch (e) {
            console.log(e)
        }

        const errors = editor.validate();
        let schemaData = editor.getValue();
        
        if (errors.length) {
            showErrorMessages(schema, errors)
        } else {

            const postJson = JSON.stringify({
                data: schemaData,
                schema_name: schemaName,
            })

            try {

                const url = `{{ url_for('entities_post')}}`;
                const res = await Requests.asyncPostJson(url, postJson);
                if (res.error) {
                    Flash.setMessage(res.message, 'error', true)
                }
                else {
                    window.location = `{{ url_for('entities_get_list') }}`;
                }

            } catch (e) {
                console.log(e)
            } finally {

            }
        }
    });

</script>

{% endblock content %}