{% import "macros/admin_macros.html" as admin_macros %}
{% import "macros/basic_macros.html" as basic_macros %}

{% extends "base.html" %}

{% block body_class %}page-entities-delete-soft{% endblock %}

{% block content %}

{% include "admin/menu.html" %}

{{ basic_macros.page_title(title) }}

<p>
    Er du sikker på at du vil slette denne entitet?
</p>
<div id="entity-delete-form">
    <form id="entity-delete" action="#">
        <input name ="uuid" value="{{ uuid }}" type="hidden">
        <input name="soft" id="entities-delete-soft" type="button" value="Slet">
        <input type="hidden" name="delete_type" value="soft">
    </form>
</div>
<script type="module">

    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";

    const submit = document.getElementById('entities-delete-soft');

    submit.addEventListener('click', async function (e) {
        e.preventDefault();
        try {

            const form = document.getElementById('entity-delete');
            const data = new FormData(form);
            const url = window.location.pathname; // POST to current URL
            const res = await Requests.asyncPostJson(url, data, "DELETE");
            if (res.error) {
                Flash.setMessage(res.message, 'error')
            }
            else {
                window.location = `{{ url_for('entities_get_list') }}`;
            }
    
        } catch (e) {
            console.log(e)
        } finally {
    
        }
    })

</script>

{% endblock content %}
