{% import "macros/admin_macros.html" as admin_macros %}
{% import "macros/basic_macros.html" as basic_macros %}

{% extends "base.html" %}

{% block body_class %}page-entities-view-all{% endblock %}

{% block content %}

{% include "admin/menu.html" %}

{{ basic_macros.page_title(title) }}

<table>
    {% for schema in schemas %}
    <tr>
        <td>{{ admin_macros.render_action_link("/entities/create/" + schema.type, "Opret '" + schema.type + "'") }}</td>
    </tr>
    </tr>
    {% endfor %}
</table>

<div>
    <table>
        <tr>
            <th>Titel</th>
            <th>Schema</th>
            <th>Handling</th>
        </tr>
        {% for entity in entities %}
        <tr>
            <td>
                {{ entity.data.display_label }}
            </td>
            <td>
                {{entity.schema_name }}
            </td>
            <td>
                {{ admin_macros.render_entity_view_link(entity) }}
                {{ admin_macros.render_entity_update_link(entity) }}
                {{ admin_macros.render_entity_delete_link(entity) }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}