{% import "macros/admin_macros.html" as admin_macros %}

{% extends "base.html" %}

{% block body_class %}page-entities-view-all{% endblock %}

{% block content %}
{% include "includes/main_title.html" %}

<table>
    {% for schema in schemas %}
    <tr>
        <td>{{ admin_macros.render_action_link("/entities/create/" + schema.type, schema.type) }}</td>
    </tr>
    </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <th>Titel</th>
        <th>Schema</th>
        <th>Handling</th>
    </tr>
    {% for entity in entities %}
    <tr>
        <td>
            {{ entity.data.display_label }}
        </td>
        <td>
            {{entity.schema_name }}
        </td>
        <td>
            {{ admin_macros.render_entity_view_link(entity) }} |
            {{ admin_macros.render_entity_update_link(entity) }} |
            {{ admin_macros.render_entity_delete_link(entity) }}
        </td>
    </tr>

    {% endfor %}
</table>

{% endblock content %}