

{% import "macros/common_macros.html" as common_macros %}
{% import "macros/slideshow_macros.html" as slideshow_macros %}

{% extends "base.html" %}

{% block body_class %}page-entity-single{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/overlay.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/slideshow.css') }}?v={{ get_setting('version') }}">
<script type="module">
    import { activateOverlay } from "/static/js/overlay.js";
    activateOverlay('.record-representation');
</script>
{% endblock head %}

{% block content %}

{% include "includes/main_title.html" %}

<a href="{{ url_for('entities_get_list') }}" class="back-link">Tilbage til liste</a>
<a href="{{ url_for('entities_delete_soft', uuid=entity.uuid) }}" class="edit-link">Slet</a>
<a href="{{ url_for('entities_update', uuid=entity.uuid) }}" class="edit-link">Rediger</a>

{% set key = "image_list" %}
{{ slideshow_macros.parse_slideshow_block("Billede liste", key, types_and_values ) }}

{% set keys = types_and_values.keys() %}
{{ common_macros.parse_block_common('Stamdata', keys, types_and_values) }}

{{ pre(types_and_values)|safe }}

{{ pre(entity)|safe }}

{% endblock content %}





