{% set settings = {'skip_translate': False} %}
{% set search_base_url = get_setting('search_base_url') %}

{% macro parse_record_label (label) %}
<div class="label">
    {% if settings.skip_translate %}
    {{ label }}
    {% else %}
    {% set label = "label_record_" + label %}
    {{ translate(label) }}
    {% endif %}
</div>
{% endmacro %}

{% macro parse_string (key, value) %}
<div class="record-content">
    {{ parse_record_label(key)}}
    <div class="content">
        <p>
            {{ value }}
        </p>
    </div>
</div>
{% endmacro %}

{% macro parse_paragraphs (key, value) %}
<div class="record-content">
    {{ parse_record_label(key)}}
    <div class="content">
        {{ paragraphs(value|trim)|safe }}
    </div>
</div>
{% endmacro %}

{% macro parse_date (key, value) %}
<div class="record-content">
    {{ parse_record_label(key)}}
    <div class="content">
        <p>
            {{ format_date(value) }}
        </p>
    </div>
</div>
{% endmacro %}

{% macro _parse_key_value_dict (value) %}
{% for key, item in value.items() %}
{{ parse_string(key, item) }}
{% endfor %}
{% endmacro %}

{% macro parse_key_value_dicts(value) %}
{% for item in value %}
{{ _parse_key_value_dict(item)}}
{% if not loop.last %} <hr> {% endif %}
{% endfor %}
{% endmacro %}

{% macro parse_link_dict(key, value) %}
<div class="record-content">
    {{ parse_record_label(key) }}
    <div class="content">
        <p>
            <a href="{{ search_base_url }}?{{ value['search_query'] }}">{{ value["label"] }}</a>
        </p>
    </div>
</div>
{% endmacro %}

{% macro parse_link_list (key, value) %}
<div class="record-content">
    {{ parse_record_label(key) }}
    <div class="content">
            {% for link in value %}
            <p>
                <a href="{{ search_base_url }}?{{ link['search_query'] }}">{{ link["label"] }}</a>
            </p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro parse_link_list_external (key, value) %}
<div class="record-content">
    {{ parse_record_label(key) }}
    <div class="content">
            {% for link in value %}
            <p>
                <a href="{{ link }}">{{ urldecode(link) }}</a>
            </p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro parse_string_list (key, value) %}
<div class="record-content">
    {{ parse_record_label(key) }}
    <div class="content">
        {% for item in value %}
        <p>{{ item|safe }}</p>
        {% endfor %}

    </div>
</div>
{% endmacro %}

{% macro _parse_list_in_hierarchy (value) %}
<div>
{% for item in value %}
<a href="{{ search_base_url }}?{{ item['search_query'] }}">{{ item['label'] }}</a>
    {% if not loop.last %} {{ '>' }} {% endif %}
{% endfor %}
</div>
{% endmacro %}

{% macro parse_link_list_hierarchy (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
        {{ _parse_list_in_hierarchy(item) }}
        {% endfor %}        
    </div>
</div>
{% endmacro %}

{% macro parse_icon(icon, label) %}
<div class="record-icon">
    <span class="material-symbols-outlined">{{ icon }}</span>
</div>
<div class="record-label">
    {{ label }}
</div>    
{% endmacro %}

{% macro parse_representations(label, value) %}
{% if value["record_type"] == "image" %}
<div class="record-content">
    {{ parse_record_label('label_representations')}}
    <div class="content">
        <a href="{{ value['record_image'] }}"> {{ translate('Download medium size')}}</a><br />
        <a href="{{ value['large_image'] }}"> {{ translate('Download large size')}}</a>
    </div>
</div>
{% endif %}
{% if value["record_type"] == "web_document" %}
<div class="record-content">
    {{ parse_record_label('label_representations')}}
    <div class="content">
        <a href="{{ value['web_document_url'] }}"> {{ translate('Download PDF')}}</a><br />
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro parse_block_section(field) %}

{% set type = field["type"] %}
{% set value = field["value"] %}
{% set key = field["name"] %}

{% if type == "string" %}
{{ parse_string(key, value) }}
{% elif type == "paragraphs" %}
{{ parse_paragraphs(key, value) }}
{% elif type == "date" %}
{{ parse_date(key, value) }}

{% elif type == "key_value_dicts" %}

{% if settings.update({'skip_translate': True}) %} {% endif %}
{{ parse_key_value_dicts(value ) }}
{% if settings.update({'skip_translate': False}) %} {% endif %}

{% elif type == "string_list" %}
{{ parse_string_list(key, value ) }}
{% elif type == "link_list" %}
{{ parse_link_list(key, value ) }}
{% elif type == "link_list_external" %}
{{ parse_link_list_external(key, value ) }}
{% elif type == "link_dict" %}
{{ parse_link_dict(key, value ) }}
{% elif type == "link_list_hierarchy" %}
{{ parse_link_list_hierarchy(key, value ) }}
{% elif type == "representations" %}
{{ parse_representations(key, value ) }}
{% endif %}
{% endmacro %}

{% macro parse_block_common(title, block_keys, data) %}
{% if key_exist_in_dict(block_keys, data) %}
<div class="record-section">
    <div class="record-main">
        <h3 class="record-header">{{ title }}</h3>
        {% for key in block_keys %}
        {% if key in data %}
        {{ parse_block_section(data[key]) }}
        {% endif %}
        {% endfor %}
    </div>
</div> 
{% endif %}
{% endmacro %}
