{% set search_base_url = get_setting('search_base_url') %}

{% macro parse_record_label (label) %}
<div class="label">
    {{ label }}
</div>
{% endmacro %}

{% macro parse_string (key, value, label) %}
<div class="record-content record_content_{{ key }}">
    {{ parse_record_label(label)}}
    <div class="content">
        <p>
            {{ value }}
        </p>
    </div>
</div>
{% endmacro %}

{% macro parse_paragraphs (key, value, label) %}
<div class="record-content record_content_{{ key }}">
    {{ parse_record_label(label)}}
    <div class="content">
        {{ paragraphs(value|trim)|safe }}
    </div>
</div>
{% endmacro %}

{% macro parse_date (key, value, label) %}
<div class="record-content record_content_{{ key }}">
    {{ parse_record_label(label)}}
    <div class="content">
        <p>
            {{ date_format(value) }}
        </p>
    </div>
</div>
{% endmacro %}

{% macro parse_key_value_dict (value) %}
{% for key, item in value.items() %}
{{ parse_string(key, item, key) }}
{% endfor %}
{% endmacro %}

{% macro parse_key_value_dicts(value) %}
{% for item in value %}
{{ parse_key_value_dict(item)}}
{% if not loop.last %} <hr> {% endif %}
{% endfor %}
{% endmacro %}

{% macro _parse_link(value) %}
{% set search_query = value['search_query'] %}
{% set display_as_link = value['display_as_link'] %}
{% set text = value['label'] %}
{% if not display_as_link %}
<a href="{{ search_query }}">{{ text }}</a>
{% else %}
<a  title="Opret ny søgning"  href="{{ search_query }}">{{ text }}</a>
{% endif %}
{% endmacro %}

{% macro parse_link_dict(key, value, label) %}
<div class="record-content record_content_{{ key }}">
    {{ parse_record_label(label) }}
    <div class="content">
        <p>
            {{ _parse_link(value)}}
        </p>
    </div>
</div>
{% endmacro %}

{% macro parse_link_list (key, value, label) %}
<div class="record-content record_content_{{ key }}">
    {{ parse_record_label(label) }}
    <div class="content">
        {% for link in value %}
        <p>
            {{ _parse_link(link)}}
        </p>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro parse_url_list (key, value, label) %}
<div class="record-content record_content_{{ key }}">
    {{ parse_record_label(label) }}
    <div class="content">
            {% for link in value %}
            <p>
                {{ _parse_link(link)}}
            </p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro parse_string_list (key, value, label) %}
<div class="record-content record_content_{{ key }}">
    {{ parse_record_label(label) }}
    <div class="content">
        {% for item in value %}
        <p>{{ item|safe }}</p>
        {% endfor %}

    </div>
</div>
{% endmacro %}

{% macro parse_string_list_as_string (key, value, label) %}
{% if value|length > 0 %}
<div class="record-content record_content_{{ key }}">
    {{ parse_record_label(label) }}
    <div class="content">
        <p>{{ value|join(" ") }}</p>
    </div>
</div>
{% endif %}
{% endmacro %}


{% macro parse_ordering (key, value, record_and_types, label) %}
<div class="record-content record_content_{{ key }}">
    {{ parse_record_label(label) }}
    <div class="content">
        {% for item in value %}
        <p>{{ item }}</p>
        {% endfor %}
        {% if get_setting('allow_online_ordering') %}
        <div class="action-links">
            <a data-id="{{ record_and_types.id.value }}" href="/order/{{ record_and_types.id.value }}">{{ translate('Order online') }}</a>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro _parse_list_in_hierarchy (value) %}
<p>
{% for item in value %}
    {{ _parse_link(item)}}
    {% if not loop.last %} {{ '>' }} {% endif %}
{% endfor %}
</p>
{% endmacro %}

{% macro parse_link_list_hierarchy (key, value, label) %}
<div class="record-content record_content_{{ key }}">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
        {{ _parse_list_in_hierarchy(item) }}
        {% endfor %}        
    </div>
</div>
{% endmacro %}

{% macro parse_icon(icon, icon_label) %}
<div class="record-icon">
    <span>{{ get_icon(icon)|safe }}</span>
</div>
<div class="record-icon-label">
    {{ icon_label }}
</div>    
{% endmacro %}

{% macro parse_coordinates(key, value, label) %}

{% if value["latitude"] and value["longitude"] %}
<div class="record-content record_content_{{ key }}">
    {{ parse_record_label(label)}}
    <div class="content">
        <p>
            {{ value["latitude"] }}, {{ value["longitude"] }}
        </p>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro parse_representations(key, value, label) %}
{% if value["record_type"] == "image" %}
<div class="record-content record_content_{{ key }}">
    {{ parse_record_label(translate('label_download'))}}
    <div class="content">
        {% if value['record_image'] %}
        <a href="{{ value['record_image'] }}"> {{ translate('Download medium size')}}</a><br>
        {% endif %}
        {% if value['large_image'] %}
        <a href="{{ value['large_image'] }}"> {{ translate('Download large size')}}</a>
        {% endif %}
    </div>
</div>
{% endif %}
{% if value["record_type"] == "web_document" %}
<div class="record-content record_content_{{ key }}">
    {{ parse_record_label(translate('label_pdf_representations'))}}
    <div class="content">
        <a href="{{ value['web_document_url'] }}"> {{ translate('Download PDF')}}</a><br>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro parse_block_section(field, record_and_types) %}

{% set type = field["type"] %}
{% set value = field["value"] %}
{% set key = field["name"] %}
{% set label = field["label"] %}

{% if type == "string" %}
{{ parse_string(key, value, label) }}

{% elif type == "paragraphs" %}
{{ parse_paragraphs(key, value, label) }}

{% elif type == "date" %}
{{ parse_date(key, value, label) }}

{% elif type == "key_value_dicts" %}
{{ parse_key_value_dicts(value ) }}

{% elif type == "key_value_dict" %}
{{ parse_key_value_dict(value ) }}

{% elif type == "latitude_longitude_normalized" %}
{{ parse_coordinates(key, value, label ) }}

{% elif type == "ordering_normalized" %}
{{ parse_ordering(key, value, record_and_types, label ) }}

{% elif type == "string_list" %}
{{ parse_string_list(key, value, label ) }}

{% elif type == "string_list_as_string" %}
{{ parse_string_list_as_string(key, value, label ) }}

{% elif type == "link_list" %}
{{ parse_link_list(key, value, label ) }}

{% elif type == "url_list" %}
{{ parse_url_list(key, value, label ) }}

{% elif type == "link_dict" %}
{{ parse_link_dict(key, value, label ) }}

{% elif type == "link_list_hierarchy" %}
{{ parse_link_list_hierarchy(key, value, label ) }}

{% elif type == "representations" %}
{{ parse_representations(key, value, label ) }}
{% endif %}

{% endmacro %}

{% macro parse_block_common(title, block_keys, record_and_types) %}
{% if key_exist_in_dict(block_keys, record_and_types) %}
<div class="record-section">
    <div class="record-main">
        <h3 class="record-header">{{ title }}</h3>
        {% for key in block_keys %}
        {% if key in record_and_types %}
        {{ parse_block_section(record_and_types[key], record_and_types) }}
        {% endif %}
        {% endfor %}
    </div>
</div> 
{% endif %}
{% endmacro %}

{% macro parse_meta_block(links) %}

{% if get_setting('debug') %}
<div class="record-section">
    <div class="record-main">
        <h3 class="record-header">Metadata</h3>
        {% for link in links %}
        <p><a href="{{ link['url'] }}" target="_blank">{{ link['label'] }}</a></p>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro _parse_portrait_image(data, options) %}
{% if data["portrait"] %}
{% set image = data["portrait"]['value'][0] %}
<div class="record-representation">
    <div class="overlays">
        <a  href="#overlay-image-1">
            <img class="record-image"  src="{{image}}" alt="{{ translate('Image') }}">
        </a>
        <div data-overlay-id="overlay-image-1">
            <div class="overlay overlay-hidden">
                <img id="overlay-image" loading="lazy" src="{{image}}" alt="{{ translate('Large Image') }}">
                <div class="overlay-actions">
                    <div class="overlay-close" aria-label="{{ translate('Close') }}">{{ get_icon('close', '40')|safe}}</div>
                    <div class="overlay-reset" aria-label="{{ translate('Reset') }}">{{ get_icon('reset', '40')|safe}}</div>
                </div>
            </div>
        </div> 
    </div>
</div>
{% elif options["icon"] %}
<div class="record-representation">
    {{ parse_icon(options["icon"], options["icon_label"])}}
</div>
{% endif %}
{% endmacro %}

{% macro parse_image_block(title, block_keys, record_and_types, options) %}
{% if key_exist_in_dict(block_keys, record_and_types) %}
<div class="record-section">
    {{ _parse_portrait_image(record_and_types, options) }}
    <div class="record-main">
        {% if title %}
        <h3 class="record-header">{{ title }}</h3>
        {% endif %}
        {% for key in block_keys %}
        {% if key in record_and_types %}
        {{ parse_block_section(record_and_types[key], record_and_types) }}
        {% endif %}
        {% endfor %}
    </div>
</div> 
{% endif %}
{% endmacro %}

{% macro parse_slideshow(images) %}
<div class="slideshow-container">
    {% for image in images %}
    <div class="slide">
        <img src="{{ image }}" alt="Slide {{ loop.index }}">
    </div>
    {% endfor %}

    {# add prev next if more than one image #}
    {% if images|length > 0 %}
    <a href="#" class="prev">&#10094;</a>
    <a href="#" class="next">&#10095;</a>
    <div class="slide-counter">
        <span class="current-slide"></span> / <span class="total-slides"></span>
    </div>
    {% endif %}
    
</div>

{% endmacro %}

