{% set settings = {'skip_translate': False} %}
{% set search_base_url = "/records-search" %}

{% macro parse_record_label (label) %}
<div class="label">
    {% if settings.skip_translate %}
    <strong>{{ label }} </strong>
    {% else %}
    {% set label = "label_record_" + label %}
    <strong>{{ translate(label) }} </strong>
    {% endif %}
</div>
{% endmacro %}

{% macro parse_string (key, field) %}
<div class="record-content">
    {{ parse_record_label(key)}}
    <div class="content">
        <p>
            {{ field["value"] }}
        </p>
    </div>
</div>
{% endmacro %}

{% macro parse_link_list (key, field) %}
<div class="record-content">
    {{ parse_record_label(key) }}
    <div class="content">
            {% for link in field["value"] %}
            <p>
                <a href="{{ search_base_url }}?{{ key}}={{ link['id'] }}">{{ link["label"] }}</a>
            </p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}



{% macro parse_section(section) %}
{% for key, value in section.items() %}
    {% set type = value["type"] %}
    {% if type == "string" %}
    {{ parse_string(key, value) }}
    {% elif type == "link_list" %}
    {{ parse_link_list(key, value )}}
    {% else %}
    {{ value }}
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro parse_sections (sections) %}
<div class="record">
    {% for key, section in sections.items() %}
    <div class="record-section">
        <div class="record-main">
            <h3 class="record-header">{{ key }}</h3> {{ parse_section(section) }}
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}