{% set settings = {'skip_translate': False} %}

{% set search_url = '/records-search' %}

{% macro parse_record_label (label) %}
<div class="label">
    {% if settings.skip_translate %}
    <strong>{{ label }} </strong>
    {% else %}
    {% set label = "label_record_" + label %}
    <strong>{{ translate(label) }} </strong>
    {% endif %}
</div>
{% endmacro %}

{% macro parse_collectors (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
            <p><a href="{{ search_url }}?collectors={{ item.id }}">{{ item.label }}</a></p>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro parse_content_type (label, value) %}
<div>
{% for item in value %}
    <a href="{{ search_url }}?content_types={{ item.id }}">{{ item.label }}</a>
    {% if not loop.last %} {{ '>' }} {% endif %}
{% endfor %}
</div>
{% endmacro %}

{% macro parse_content_types_normalized (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
        {{ parse_content_type(label, item) }}
        {% endfor %}        
    </div>
</div>
{% endmacro %}

{% macro parse_subject (value) %}
<div>
{% for item in value %}
    <a href="{{ search_url }}?subjects={{ item.id }}">{{ item.label }}</a>
    {% if not loop.last %} {{ '>' }} {% endif %}
{% endfor %}
</div>
{% endmacro %}

{% macro parse_subjects_normalized (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
        {{ parse_subject(item) }}
        {% endfor %}        
    </div>
</div>
{% endmacro %}

{% macro parse_curators (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
            <a href="{{ search_url }}?curators={{ item.id }}">{{ item.label }}</a>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro parse_creators (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
            <a href="{{ search_url }}?creators={{ item.id }}">{{ item.label }}</a>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro parse_series_normalized (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
            <a href="{{ search_url }}?{{ item.search_query }}">{{ item.series }}</a>
            {% if not loop.last %} {{ '>' }} {% endif %}
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro parse_collection (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        <a href="{{ search_url }}?collection={{ value.id }}">{{ value.label }}</a>
    </div>
</div>
{% endmacro %}

{% macro parse_organisations (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
            <p><a href="{{ search_url }}?organisations={{ item.id }}">{{ item.label }}</a></p>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro parse_locations (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
            <p><a href="{{ search_url }}?locations={{ item.id }}">{{ item.label }}</a></p>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro parse_people (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
            <p><a href="{{ search_url }}?people={{ item.id }}">{{ item.label }}</a></p>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro parse_objects(label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
            <p><a href="{{ search_url }}?objects={{ item.id }}">{{ item.label }}</a></p>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro parse_events (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
            <a href="{{ search_url }}?events={{ item.id }}">{{ item.label }}</a>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro parse_collection_tag (value) %}
<div>
{% for item in value %}
<a href="{{ search_url }}?{{ search_query }}">{{ item.label }}</a>
    {% if not loop.last %} {{ '>' }} {% endif %}
{% endfor %}
</div>
{% endmacro %}

{% macro parse_collection_tags_normalized (label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
        {{ parse_collection_tag(item) }}
        {% endfor %}        
    </div>
</div>
{% endmacro %}

{% macro parse_representations(label, value) %}
{% if value["record_type"] == "image" %}
<div class="record-content">
    {{ parse_record_label('label_representations')}}
    <div class="content">
        <a href="{{ value['record_image'] }}"> {{ translate('Download medium size')}}</a><br />
        <a href="{{ value['large_image'] }}"> {{ translate('Download large size')}}</a>
    </div>
</div>
{% endif %}
{% if value["record_type"] == "web_document" %}
<div class="record-content">
    {{ parse_record_label('label_representations')}}
    <div class="content">
        <a href="{{ value['web_document_url'] }}"> {{ translate('Download PDF')}}</a><br />

    </div>
</div>
{% endif %}
{% endmacro %}

{% macro parse_label(label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {{ value.label }}
    </div>
</div>
{% endmacro %}

{% macro parse_label_value(label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {{ value }}
    </div>
</div>
{% endmacro %}

{% macro parse_label_value_dict (value) %}
{% for key, item in value.items() %}
{{ parse_label_value(key, item) }}
{% endfor %}
{% endmacro %}

{% macro parse_copyright_status(label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
        <p class="spacing">{{ item|safe }}</p>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro parse_ordering(label, value) %}
<div class="record-content">
    {{ parse_record_label(label)}}
    <div class="content">
        {% for item in value %}
        <p class="spacing">{{ item }}</p>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro parse_resources(label, value) %}
{% for item in value %}
{{ parse_label_value_dict(item)}}
{% if not loop.last %} <hr> {% endif %}
{% endfor %}
{% endmacro %}

{% set skip_record_keys = ['series', 'content_types', 'subjects'] %}

{% macro parse_section(section, values) %}
    
    {% for key, value in values.items() if not key in skip_record_keys %}
        {% if key == 'collectors' %}
            {{ parse_collectors(key, value) }}
        {% elif key == 'content_types_normalized' %}
            {{ parse_content_types_normalized(key, value) }}
        {% elif key == 'curators' %}
            {{ parse_curators(key, value) }}
        {% elif key == 'events' %}
            {{ parse_events(key, value) }}
        {% elif key == 'people' %}
            {{ parse_people(key, value) }}
        {% elif key == 'objects' %}
            {{ parse_objects(key, value) }}
        {% elif key == 'creators' %}
            {{ parse_curators(key, value) }}
        {% elif key == 'collection' %}
            {{ parse_collection(key, value) }}
        {% elif key == 'subjects_normalized' %}
            {{ parse_subjects_normalized(key, value) }}
        {% elif key == 'series_normalized' %}
            {{ parse_series_normalized(key, value) }}
        {% elif key == 'organisations' %}
            {{ parse_organisations(key, value) }}
        {% elif key == 'desc_data' %}
            {% if settings.update({'skip_translate': True}) %} {% endif %}
            {{ parse_label_value_dict(value) }}
            {% if settings.update({'skip_translate': False}) %} {% endif %}
        {% elif key == 'admin_data' %}
            {% if settings.update({'skip_translate': True}) %} {% endif %}
            {{ parse_label_value_dict(value) }}
            {% if settings.update({'skip_translate': False}) %} {% endif %}
        {% elif key == 'locations' %}
            {{ parse_locations(key, value)}}
        {% elif key == 'contractual_status' %}
            {{ parse_label(key, value) }}
        {% elif key == 'availability' %}
            {{ parse_label(key, value) }}
        {% elif key == 'copyright_status_normalized' %}
            {{ parse_copyright_status(key, value) }}
        {% elif key == 'other_legal_restrictions' %}
            {{ parse_label(key, value) }}
        {% elif key == 'usability' %}
            {{ parse_label(key, value)}}
        {% elif key == 'ordering' %}
            {{ parse_ordering(key, value)}}
        {% elif key == 'representations' %}
            {{ parse_representations(key, value)}}
        {% elif key == 'resources' %}
            {% if settings.update({'skip_translate': True}) %} {% endif %}
            {{ parse_resources(key, value) }}
            {% if settings.update({'skip_translate': False}) %} {% endif %}
        {% elif key == 'collection_tags_normalized' %}
            {{ parse_collection_tags_normalized(key, value) }}
        {% else %}
            {{ parse_label_value(key, value)}}
        {% endif %}
    {% endfor %}        
{% endmacro %}

{% macro parse_representations_media(record) %}
{% if record["record_type"] == 'image' %}
    <img src="{{record.portrait}}" alt="{{ section }}" />
{% endif %}

{% if record["record_type"] == 'web_document' %}
<a href="{{record.representations.get('web_document_url')}}">
    <img src="{{record.portrait}}" alt="{{ section }}" />
</a>
{% endif %}

{% if record["record_type"] == 'sejrs_sedler' %}
<div class="record-sejrs-sedler">
    {{ record['summary'] }}
</div>
{% endif %}
{% endmacro %}

{% macro parse_representations_icon(icon, label) %}
<div class="record-icon">
    <span class="material-symbols-outlined">{{ icon }}</span>
</div>
<div>
    {{ label }}
</div>    
{% endmacro %}

{% macro parse_representations_section(record) %}
{% if record["is_representations_online"] %}
{{ parse_representations_media(record)}}
{% elif record["availability_id"] == 3 %}
{{ parse_representations_icon('lock', translate('The material is available in the reading room.'))}}
{% elif record["availability_id"] == 2 %}
{{ parse_representations_icon('lock', translate('The material can be order home to the reading room.'))}}
{% endif %}
{% endmacro %}

{% macro parse_sections(record, record_sections) %}
    {% set skip_section_keys = ['other'] %}
    {% for section, section_dict in record_sections.items() if not section in skip_section_keys %}
    {% set header = "header_record_" + section %}
    <div class="record-section {{ section }}">
        {% if section in ['abstract'] %}
            {% if record["has_representations"] %}
            <div class="record-representation">
            {{ parse_representations_section(record) }}
            </div>
            {% else %}
            <div class="record-representation">
                {{ parse_representations_icon(record["icon"]["icon"], record["icon"]["label"]) }}
            </div>
            {% endif %}
            <div class="record-main">
                <div class="record-title">{{ record["title"] }}</div>
                {{ parse_section(section, section_dict) }}
            </div>        
        {% else %}
        <div class="record-main">
            <h3 class="record-header">{{ translate(header) }}</h3>
            {{ parse_section(section, section_dict) }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endmacro %}
