{% import "macros/common_macros.html" as common_macros %}

{% macro parse_slideshow_block(title, keys, types_and_values) %}

{# 
    Used with entities that have a list of images.
    Generate a slideshow from a title, potential keys, and types_and_values 
    key should always be 'image_list' across all schemas
    but the value can be different.
#}

{% for key in keys %}
    {% if types_and_values[key] %}
        {% set images = types_and_values[key]['value'] %}
        {% if images %}
        <div class="record-section">
            <div class="record-main">
                <h3 class="record-header">{{ title }}</h3>
                <div class="record-representation">
                    {{ common_macros.parse_slideshow(images) }}
                </div>
            </div>
        </div> 
        {% endif %}
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro parse_slideshow_block_first(block_keys, resource, images_key, options) %}
{% if key_exist_in_dict(block_keys, resource) %}
<div class="record-section">
    {% if resource[images_key] %}
    <div class="record-representation">
        {% set images = resource[images_key]["value"] %}
        {{ common_macros.parse_slideshow(images)}}
    </div>
    {% else %}
    <div class="record-representation">
        {{ common_macros.parse_icon(options.icon, options.icon_label) }}
    </div>
    {% endif %}
    <div class="record-main">
        {% for key in block_keys %}
        {% if key in resource %}
        {{ common_macros.parse_block_section(resource[key]) }}
        {% endif %}
        {% endfor %}
    </div>
</div> 
{% endif %}
{% endmacro %}
