{% set record_search_url = "/records-search" %}

{% macro _parse_facets(facets, top_level_key, facets_transformed) %}
<ul>
    {% for facet in facets %}
    <li>

        {% set facet_id = facet["id"] %}
        {% set count = facets_transformed[top_level_key][facet_id] %}

        {% if count %}
            {% if 'children' in facet %}
            <details>
                <summary>
                    <a href="{{ record_search_url }}?{{ top_level_key }}={{ facet['id'] }}">{{ facet['label'] }} ({{count }})</a>
                </summary>
                {{ _parse_facets(facet['children'], top_level_key, facets_transformed) }}
            </details>
            {% else %}
            <a href="{{ record_search_url }}?{{ top_level_key }}={{ facet['id'] }}">{{ facet['label'] }} ({{count }})</a>
            {% endif %}
        {% endif %}

    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro parse_top_level_facets(facets, facets_transformed) %}
<div class="facets">
    
<ul>
    {% for top_level_key, top_level_value in facets.items() %}
    <li>
        <details>
            <summary>
                <a href="{{ record_search_url }}">{{ top_level_value['label'] }}</a>
            </summary>
            {{ _parse_facets(top_level_value['content'], top_level_key, facets_transformed) }}
        </details>
    </li>
    {% endfor %}
</ul>
</div>
{% endmacro %}
