{% import "macros/common_fields.html" as common_fields %}

{% macro parse_node(node) %}
{% set label = node.label|trim %}
{% set series = node.path|urlencode%}
{% if not label %}
{% set label = "Ingen titel" %}
{% endif %}
<a href="/search?collection={{ collection['id_real'] }}&series={{ series }}">{{ label }}</a>
{% endmacro %}

{% macro parse_tree(nodes) %}
    <ul>
    {% for node in nodes %}
        <li>
            {% if node.children %}
                <details>
                    <summary>{{ parse_node(node) }}</summary>
                    {{ parse_tree(node.children) }}
                </details>
            {% else %}
                {{ parse_node(node) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro parse_slideshow(images) %}
<div class="slideshow-container">
    {% for image in images %}
    <div class="slide">
        <img src="{{ image }}" alt="Slide {{ loop.index }}">
    </div>
    {% endfor %}

    <a href="#" class="prev">&#10094;</a>
    <a href="#" class="next">&#10095;</a>

    <div class="slide-counter">
        <span class="current-slide"></span> / <span class="total-slides"></span>
    </div>
</div>
<script type="module">
    import { } from "/static/js/slideshow.js";
</script>
{% endmacro %}

{% macro parse_block_first(block_keys) %}
{% if key_exist_in_dict(block_keys, collection) %}
<div class="record-section">
    {% if collection['highlights'] %}
    <div class="record-representation">
        {{ parse_slideshow(collection['highlights'])}}
    </div>
    {% else %}
    <div class="record-representation">
        {{ common_fields.parse_icon('package_2', 'Samling') }}
    </div>
    {% endif %}
    <div class="record-main">
        {% for key in block_keys %}
        {% if key in collection %}
        {{ common_fields.parse_block_section(collection[key]) }}
        {% endif %}
        {% endfor %}
    </div>
</div> 
{% endif %}
{% endmacro %}

{% extends "base.html" %}

{% block body_class %}collections{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/collections.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/slideshow.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "includes/main_title.html" %}

<p>
    <a href="/search?collection={{ collection['id_real'] }}">Vis alle resultater i samlingen</a>
</p>

{% set keys = ['collectors', 'curators', 'outer_years', 'bulk_years', 'extent'] %}
{{ parse_block_first(keys) }}

{% set keys = ["summary", "description", "content_and_scope"] %}
{{ common_fields.parse_block_common('Abstrakt', keys, collection) }}

{% set keys = ["access", "legal_status", "level_of_digitisation", 'citation', 'associated_material'] %}
{{ common_fields.parse_block_common('Tilgængelighed og brug', keys, collection) }}

{% set keys = ["custodial_history", "accumulation_range", "level_of_kassation", "accrual_status"] %}
{{ common_fields.parse_block_common('Afleveringshistorik', keys, collection) }}

{% set keys = ["sources_normalized"] %}
{{ common_fields.parse_block_common('Literatur og kilder', keys, collection) }}

{% set keys = ["series"] %}
{% if key_exist_in_dict(keys, collection) %}
<div class="record-section">
    <div class="record-main">
    <h3 class="record-header">Arkivserier</h3>
    <p>
        Browse i samlingens serier. Klik på en given serie for at se, hvilke materialer, der er placeret her
    </p>
    {{ parse_tree (collection['series']) }}
    </div>
</div>
{% endif %}

{% set keys = ["collection_tags"] %}
{% if key_exist_in_dict(keys, collection) %}
<div class="record-section">
    <div class="record-main">
    <h3 class="record-header">Samlingstags</h3>
    <p>
        Browse i samlingens tags. Klik på et tag for at se, hvilke materialer, der er opmærket med dette.
    </p>
    {{ parse_tree (collection['collection_tags']) }}
    </div>
</div>
{% endif %}

{% if get_setting('debug') %}
<div class="record-section">
    <div class="record-main">
    <h3 class="record-header">Metadata</h3>
    <p><a href="/collections/{{ collection['id_real'] }}/json">JSON</a></p>
    </div>
</div>
{% endif %}
{% endblock content %}