{% import "macros/common_macros.html" as common_macros %}
{% import "macros/slideshow_macros.html" as slideshow_macros %}

{% macro _parse_series_node(node) %}
{% set label = node.label|trim %}
{% set series = node.path|urlencode%}
{% if not label %}
{% set label = "Ingen titel" %}
{% endif %}
<a href="/search?collection={{ meta['id_real'] }}&series={{ series }}">{{ label }}</a>
{% endmacro %}

{% macro parse_series_tree(nodes) %}
    <ul>
    {% for node in nodes %}
        <li>
            {% if node.children %}
                <details>
                    <summary>{{ _parse_series_node(node) }}</summary>
                    {{ parse_series_tree(node.children) }}
                </details>
            {% else %}
                {{ _parse_series_node(node) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro _parse_collection_tags_node(node) %}
{% set label = node.label|trim %}
{% set series = node.path|urlencode%}
{% if not label %}
{% set label = "Ingen titel" %}
{% endif %}
<a href="/search?collection={{ meta['id_real'] }}&collection_tags={{ series }}">{{ label }}</a>
{% endmacro %}

{% macro parse_collection_tags_tree(nodes) %}
    <ul>
    {% for node in nodes %}
        <li>
            {% if node.children %}
                <details>
                    <summary>{{ _parse_collection_tags_node(node) }}</summary>
                    {{ parse_collection_tags_tree(node.children) }}
                </details>
            {% else %}
                {{ _parse_collection_tags_node(node) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro parse_series(meta, resource) %}
    {% set keys = ["series"] %}
    {% if key_exist_in_dict(keys, resource) %}
    
    <div class="record-section">
        <div class="record-main">
        <h3 class="record-header">Arkivserier</h3>
        <p>
            Browse i samlingens serier. Klik på en given serie for at se, hvilke materialer, der er placeret her
        </p>
        {{ parse_series_tree (resource['series']["value"]) }}
        </div>
    </div>
    {% endif %}
{% endmacro %}

{% macro parse_collection_tags(meta, resource) %}
{% set keys = ["collection_tags"] %}
{% if key_exist_in_dict(keys, resource) %}
<div class="record-section">
    <div class="record-main">
    <h3 class="record-header">Samlingstags</h3>
    <p>
        Browse i samlingens tags. Klik på et tag for at se, hvilke materialer, der er opmærket med dette.
    </p>
    {{ parse_collection_tags_tree (resource['collection_tags']["value"]) }}
    </div>
</div>
{% endif %}
{% endmacro %}

{% extends "base.html" %}

{% block body_class %}page-resources-collections{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/collections.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/slideshow.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% set schema = meta.schema %} 

{% include "includes/main_title.html" %}

<p>
    <a href="/search?collection={{ meta['id_real'] }}">{{ translate('Show all results in the collection') }}</a>
</p>

{# normal images are in 'portrait', but in a collection they are in 'hightlights' #}
{% set keys = ['collectors', 'curators', 'outer_years', 'bulk_years', 'extent'] %}
{% set options = {'icon': schema, 'icon_label': 'Samling'} %}
{{ slideshow_macros.parse_slideshow_block_first(keys, resource, 'highlights', options) }}
{{ slideshow_macros.parse_slideshow_import() }}

{% set keys = ["summary", "description", "content_and_scope"] %}
{{ common_macros.parse_block_common('Abstrakt', keys, resource) }}

{% set keys = ["access", "legal_status", "level_of_digitisation", 'citation', 'associated_material'] %}
{{ common_macros.parse_block_common('Tilgængelighed og brug', keys, resource) }}

{% set keys = ["custodial_history", "accumulation_range", "level_of_kassation", "accrual_status"] %}
{{ common_macros.parse_block_common('Afleveringshistorik', keys, resource) }}

{% set keys = ["sources_normalized"] %}
{{ common_macros.parse_block_common('Literatur og kilder', keys, resource) }}

{{ parse_series(meta, resource) }}

{{ parse_collection_tags(meta, resource) }} 

{% set meta_links = [
    {"url": "/collections/" + meta['id_real'] + "/json/api", "label": "JSON. Resource fra API" },
    {"url": "/collections/" + meta['id_real'] + "/json/resource_and_types", "label": "JSON. Typer og værdier" }
] %}
{{ common_macros.parse_meta_block(meta_links, permissions_list) }}

{% endblock content %}