{% import "macros/common_macros.html" as common_macros %}

{% extends "base.html" %}

{% block body_class %}creators{% endblock %}

{% block content %}

{% include "includes/main_title.html" %}

<p>
    <a href="/search?creators={{ creator['id_real'] }}">Vis alle resultater i samlingen</a>
</p>

{% set keys = ["collectors_link", "creators_link", "firstnames", "lastnames", "gender", "occupation", "date_created", "date_decommissioned", "industry"] %}
{{ common_macros.parse_block_common('Stamdata', keys, creator) }}

{% set keys = [ "description"] %}
{{ common_macros.parse_block_common('Beskrivelse', keys, creator) }}

{% set keys = ["sources_normalized"] %}
{{ common_macros.parse_block_common('Kilder', keys, creator) }}

{% set meta_links = [{"url": "/creators/" + creator['id_real'] + "/json", "label": "JSON" }] %}
{{ common_macros.parse_meta_block(meta_links) }}

{% endblock content %}