{% import "macros/common_fields.html" as common_fields %}

{% extends "base.html" %}

{% block body_class %}locations{% endblock %}

{% block content %}

{% include "includes/main_title.html" %}

<p>
    <a href="/search?locations={{ location['id_real'] }}">Vis alle resultater i samlingen</a>
</p>

{% set keys = ["name", "addr_nr", "zipcode", "latitude_longitude", "parish", "rotation", "local_area"] %}
{{ common_fields.parse_block_common('Stamdata', keys, location) }}

{% set keys = [ "description"] %}
{{ common_fields.parse_block_common('Beskrivelse', keys, location) }}

{% set keys = ["sources_normalized"] %}
{{ common_fields.parse_block_common('Kilder', keys, location) }}

{% set meta_links = [{"url": "/locations/" + location['id_real'] + "/json", "label": "JSON" }] %}
{{ common_fields.parse_meta_section(meta_links) }}

{% endblock content %}