{% import "macros/common_macros.html" as common_macros %}

{% extends "base.html" %}

{% block body_class %}page-resources-locations{% endblock %}

{% block content %}

{% include "includes/main_title.html" %}

<p>
    <a href="/search?locations={{ location['id_real'] }}">{{ translate('Show all results in the collection') }}</a>
</p>

{% set keys = ["name", "addr_nr", "zipcode", "latitude_longitude", "parish", "rotation", "local_area"] %}
{{ common_macros.parse_block_common('Stamdata', keys, location) }}

{% set keys = [ "description"] %}
{{ common_macros.parse_block_common('Beskrivelse', keys, location) }}

{% set keys = ["sources_normalized"] %}
{{ common_macros.parse_block_common('Kilder', keys, location) }}

{% set meta_links = [{"url": "/locations/" + location['id_real'] + "/json", "label": "JSON" }] %}
{{ common_macros.parse_meta_block(meta_links) }}

{% endblock content %}