{% import "macros/common_macros.html" as common_macros %}
{% import "macros/slideshow_macros.html" as slideshow_macros %}

{% extends "base.html" %}

{% block body_class %}page-resources-organisations{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/overlay.css') }}?v={{ get_setting('version') }}">
<script type="module">
    import { activateOverlay } from "/static/js/overlay.js";
    activateOverlay();
</script>
{% endblock head %}

{% block content %}

{% set schema = meta.schema %} 

{% include "includes/main_title.html" %}

<p>
    <a href="/search?organisations={{ meta['id_real'] }}">{{ translate('Show all results in the collection')
        }}</a>
</p>

{% set options = {'icon': schema, 'icon_label': 'Organisation'} %}
{% set keys = ['portrait', 'alt_names', 'date_created','date_decommissioned', 'industry', 'collectors_link',
'creators_link', 'collectors', 'curators', 'outer_years', 'bulk_years', 'extent'] %}
{{ common_macros.parse_image_block("", keys, resource, options) }}

{% set keys = ["summary", "description", "content_and_scope"] %}
{{ common_macros.parse_block_common('Abstrakt', keys, resource) }}

{% set keys = ["access", "legal_status", "level_of_digitisation", 'citation', 'associated_material'] %}
{{ common_macros.parse_block_common('Tilgængelighed og brug', keys, resource) }}

{% set keys = ["custodial_history", "accumulation_range", "level_of_kassation", "accrual_status"] %}
{{ common_macros.parse_block_common('Afleveringshistorik', keys, resource) }}

{% set keys = ["sources_normalized"] %}
{{ common_macros.parse_block_common('Literatur og kilder', keys, resource) }}

{% set meta_links = [
    {"url": "/organisations/" + meta['id_real'] + "/json/api", "label": "JSON. Resource fra API" },
    {"url": "/organisations/" + meta['id_real'] + "/json/resource_and_types", "label": "JSON. Typer og værdier" }
] %}
{{ common_macros.parse_meta_block(meta_links) }}

{% endblock content %}