{% import "macros/common_macros.html" as common_macros %}

{% extends "base.html" %}

{% block body_class %}page-orders-order{% endblock %}

{% block content %}

<h3>{{ title }}</h3>

{% if is_active_by_user %}
<p style="color: var(--flash-success-color)">Materialet er bestilt</p>
{% else %}

<form method="post" action="/order/{{ meta_data.id }}">
    <button id="submit" type="submit">Bestil</button>
</form>
<div class="loadingspinner hidden"></div>
{% endif %}

{% set keys = ["collectors", "content_types", "creators", "date_normalized", "curators", "id"] %}
{{ common_macros.parse_block_common('Stamdata', keys, record_and_types) }}

<hr>

<p><a href="/auth/orders">Se alle eksisterende bestillinger</a></p>

<script type="module">
    import { asyncLogError } from "/static/js/error.js";
    import { Requests } from "/static/js/requests.js";
    import { Flash } from "/static/js/flash.js";
    import { config } from "/static/js/config.js";

    const spinner = document.querySelector('.loadingspinner');
    const submit = document.getElementById('submit');

    if (submit) {
        submit.addEventListener('click', async function (event) {

            event.preventDefault();
            spinner.classList.toggle('hidden');

            try {

                // Get URL from form action
                const form = document.querySelector('form');
                const url = form.action;

                const formData = new FormData(form);
                const status  = parseInt(formData.get('status'));
                const postJson = JSON.stringify({
                    status : status
                })
                
                const res = await Requests.asyncPost(url, postJson);
                if (res.error) {
                    console.log(res.message);
                    Flash.setMessage(res.message, 'error');
                } else {
                    window.location.href = url;
                }

            } catch (e) {
                Flash.setMessage(config.jsExceptionMessage, 'error');
                asyncLogError(e);
                console.error(e);
            } finally {
                spinner.classList.toggle('hidden');
            }
        });
    }

</script>

{% endblock content %}
