{% extends "empty.html" %}

{% block body_class %}page-home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/search.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/home.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

<nav class="container-fluid navigation sticky-top">
    {% include "includes/logo.html" %}
    {% include "includes/navigation.html" %}
</nav>

<main>
    <div class="container-fluid" >
        <div class="home-search-container">
            <div class="home-search-form">
                <form id="search" method="get" action="{{ url_for('search_get')}}" role="search">
                    <input id="q" type="text" name="q" placeholder="{{ translate('Search') }}" value="{{ q }}" autocomplete="off">
                    <button id="submit" type="submit" class="search-button">{{ translate('Search') }}</button>
                </form>
                <div class="search-suggestions"></div>
            </div>
        </div>

        <div class="home-search-links">
            <div class="home-search-link">
                <a href="/search?direction=desc&sort=created_at">
                    <img src="{{ url_for('static', path='/assets/front-page/nyeste-dokument_480px.jpg') }}"
                        alt="Nyt i arkivet">
                </a>
            </div>
            <div class="home-search-link">
                <a href="/collections/194">
                    <img src="{{ url_for('static', path='/assets/front-page/kommune-arkivet_480px.jpg') }}"
                        alt="Kommune Arkivet">
                </a>
            </div>
            <div class="home-search-link">
                <a href="/images">
                    <img src="{{ url_for('static', path='/assets/front-page/billeder-fra-aarhus_480px.jpg') }}"
                        alt="Billeder fra Aarhus">
                </a>
            </div>
            <div class="home-search-link">
                <a href="/city-council">
                    <img src="{{ url_for('static', path='/assets/front-page/byraadsarkivet_v2_480px.jpg') }}"
                        alt="Byrådsarkivet Version 2">
                </a>
            </div>

            <div class="home-search-link">
                <a href="https://www.smartarkivering.dk/" target="blank">
                    <img src="{{ url_for('static', path='/assets/front-page/smartarkivering_480px.jpg') }}"
                        alt="Smart Arkivering">
                </a>
                <div class="search-text">
                    <h3>Bidrag med dine egne filer</h3>
                    <p>Velkommen til Aarhus Stadsarkivs online arkiveringsservice! Her kan du aflevere filer fra dit
                        ”digitale arkiv”. Vi modtager både fra private, foreninger og virksomheder.</p>
                    <p>Som udgangspunkt kan du aflevere alle slags filer, både med hensyn til format og størrelse. Det
                        eneste, vi kræver, er, at du også er villig til at beskrive de filer, du afleverer, samt at du
                        accepterer de brugsvilkår, som vi har valgt at knytte til denne type online aflevering.</p>
                    <p>Bidrag til historien på <a href="https://smartarkivering.dk"
                            target="blank">smartarkivering.dk</a>
                    </p>
                </div>
            </div>
            <div class="home-search-link">
                <a href="https://www.retrodigitalisering.dk/" target="blank">
                    <img src="{{ url_for('static', path='/assets/front-page/retrodigitalisering_480px.jpg') }}"
                        alt="Retrodigitalisering">
                </a>
                <div class="search-text">
                    <h3>Sognerådsprotokoller og andre kommunale kilder</h3>
                    <p>Retrodigitalisering.dk rummer digitale kilder til Aarhus' og andre danske kommuners historie. Fra
                        Aarhus er der først og fremmest sognerådsprotokoller fra de mere end 20 sognekommuner, der
                        indgik i
                        Aarhus Kommune i 1970. Fra andre kommuner er der desuden byrådsprotokoller.</p>
                    <p>Projektets hovedformål er at sikre dansk kulturarv ved at digitalisere centrale kilder til dansk
                        lokalhistorie og i samme proces udvikle modeller til maskinel genkendelse af håndskrift.</p>
                    <p>Læs mere på hjemmesiden <a href="http://www.retrodigitalisering.dk/"
                            target="blank">retrodigitalisering.dk</a></p>
                </div>
            </div>
            <div class="home-search-link">
                <a href="https://sallingarkivet.dk/" target="blank">
                    <img src="{{ url_for('static', path='/assets/front-page/salling-arkivet_480px.jpg') }}"
                        alt="Salling Arkivet">
                </a>
                <div class="search-text">
                    <h3>Et stormagasins historie</h3>
                    <p>Aarhus Stadsarkiv modtog i juni 2014 arkiver fra F. Salling Stormagasin A/S og Ferdinand og
                        Herman
                        Salling. To år senere modtog Stadsarkivet en samling dokumenter fra Dansk Supermarked mv.</p>
                    <p>På hjemmesiden fortæller vi historien om stormagasinet og de to første indehavere, Ferdinand og
                        Herman Salling, om kunder og personale. Du kan se Salling-dokumenter trukket fra AarhusArkivet.
                    </p>
                    <p>Læs om Sallings historie på <a href="http://sallingarkivet.dk"
                            target="blank">sallingarkivet.dk</a>
                    </p>
                </div>
            </div>

            <div class="home-search-link">
                <a href="https://aarhuswiki.dk/" target="blank">
                    <img src="{{ url_for('static', path='/assets/front-page/aarhus-wiki_480px.jpg') }}"
                        alt="Aarhus Wiki">
                </a>
                <div class="search-text">
                    <h3>Aarhuswiki</h3>
                    <p>AarhusWiki er en wikipedia om Aarhus'. Den indeholder artikler med vægt på historiske
                        beskrivelser
                        eller historiske vinkler på nutidige og aktuelle emner. </p>
                    <p>Emnerne, der behandles, spænder vidt og omfatter alt, der har at gøre med Personer, Natur,
                        Steder,
                        Historiske perioder og temaer, Samfund, Erhverv og Kultur og fritid.</p>
                    <p>Læs mere om byens historie på <a href="http://aarhuswiki.dk" target="blank">aarhuswiki.dk</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid home-collections-background">

        <h3>Udvalgte samlinger</h3>

        <div class="home-collections">

            <div class="home-collection">
                <a href="/search?content_types=87&sort=date_to&direction=desc">
                    <img src="{{ url_for('static', path='/assets/front-page/samling-film-og-medie_700px.jpg') }}"
                        alt="Samling af film og medier">
                </a>
                <div class="search-text">
                    <p>Dette er en materialetype, der indeholder dokumentarer, videokunst, fiktion og kortfilm, nyheds-
                        og
                        reportagefilm. De ældste film er fra 1902. Det meste kommer fra Aarhus Filmværksted, andre
                        lokale
                        filmmiljøer og Lokalhistorisk Samling. Det nyeste indhold er formidlingsfilm lavet i samarbejde
                        med
                        lokale tv- og medieproducenter. Alt indhold må ses på hjemmesiden, og meget må også deles.</p>
                    <p><a href="/search?content_types=87&sort=date_to&direction=desc">Se alle
                            film
                            og videoklip her</a></p>
                </div>
            </div>
            <div class="home-collection">
                <a href="/search?content_types=50&sort=date_to&direction=desc">
                    <img src="{{ url_for('static', path='/assets/front-page/erindringer-samling_700px.jpg') }}"
                        alt="Erindringer">
                </a>
                <div class="search-text">
                    <p>Her kommer aarhusianerne selv til orde i erindringer, livshistorier og dagbøger. Den største del
                        af
                        erindringerne blev indsamlet som en del af Aarhus 2017 - Europæisk Kulturhovedstad, og ønsker
                        man at
                        se denne samling for sig selv, kan man trykke på samlingsbeskrivelsen under de relevante poster.
                        Andre erindringer og livshistorier er indsamlet i samarbejde med ældresektoren i Aarhus Kommune.
                        Dagbøgerne fortæller f.eks. om livet under Coronaepidemien i 2019-2021.</p>
                    <p><a href="/search?content_types=50&sort=date_to&direction=desc">Se alle erindringer
                            her</a>
                    </p>
                </div>
            </div>
            <div class="home-collection">
                <a href="/search?content_types=21">
                    <img src="{{ url_for('static', path='/assets/front-page/skattemandtal-samling_700px.png') }}"
                        alt="Kommunale folketællinger">
                </a>
                <div class="search-text">
                    <p>Aarhus Kommunes begyndte i 1885 at føre mandtal for at få et overblik for skatteopkrævningen.
                        Listerne er ført adressevis, og på de enkelte adresser er alle ejendommens beboere listet op med
                        stamoplysninger - herunder alder, fødesogn, arbejdssted og skole for børn. Ofte er forrige
                        adresse anført ved flytning inden for det seneste år.</p>
                    <p><a href="/search?content_types=21">Alle kommunale folketællinger (også kaldet
                            skattemandtalslister) frem til 1940 er online her på AarhusArkivet</a>. For at se nyere
                        lister skal du ansøge om adgang i henhold til reglerne for materialer, som indeholder
                        personfølsomme oplysninger.</p>
                </div>
            </div>
            <div class="home-collection">
                <a href="/collections/204">
                    <img src="{{ url_for('static', path='/assets/front-page/vejvisere-samling_700px.png') }}"
                        alt="Aarhus vejvisere">
                </a>
                <div class="search-text">
                    <p><a href="/collections/204">Aarhus Vejviser</a> er udgivet fra 1859 frem til 2016 - til sidst
                        under navnet Den Grønne Vejviser (udgivet af Mostrups Forlag/Eniro). Vejviseren indeholder dels
                        et personregister listet alfabetisk over 'hovedpersoner' på hver adresse, dels et
                        adresseregister. Herudover indeholder vejviseren også et fagregister.</p>
                    <p>Vi har lagt <a href="/search?collection=204">vejviserne for perioden 1859-1940 online her på
                            AarhusArkivet</a>. På Stadsarkivets læsesal har arkivet vejviseren for perioden 1859-2007.
                    </p>
                </div>
            </div>

            <div class="home-collection">
                <a href="/collections/2">
                    <img src="{{ url_for('static', path='/assets/front-page/stiftstidende-samling_700px.jpg') }}"
                        alt="Århus Stiftstidendes Fotosamling">
                </a>
                <div class="search-text">
                    <p>Århus Stiftstidendes fotografer har i årtier været til stede ved små og store begivenheder i
                        Aarhus. Dermed afspejler fotosamlingen byens liv og mennesker fra slutningen af 1930'erne frem
                        til seneste årtusindeskifte. Det er hele byens fotoalbum.</p>
                    <p>Fotosamlingen er en del af Århus Stiftstidendes overordnede virksomhedsarkiv, der ud over
                        pressefotografier indeholder eksempelvis kasse-, lønnings- annonce og statusbøger samt
                        udklipssamlinger. Den analoge del af samlingen tilhører Rigsarkivet, og det er dermed kun den
                        digitale fotosamling, som her formidles af Aarhus Stadsarkiv.</p>
                </div>
            </div>

            <div class="home-collection">
                <a href="/collections/204">
                    <img src="{{ url_for('static', path='/assets/front-page/samling-preben-rasmussen_700px.jpg') }}"
                        alt="Aarhus vejvisere">
                </a>
                <div class="search-text">
                    <p>Preben Rasmussens udklipssamling består primært af avisudklip, småtryk og beskrivelser om steder,
                        personer og institutioner i Aarhus.</p>
                    <p>Samlingen er opdelt i to - en topografisk på adresser og en emneopdelt efter Preben Rasmussens
                        egen struktur. Den adresseopdelte samling dækker fortrinsvis adresser i midtbyen, mens den
                        emneopdelte også behandler emner uden for Aarhus Kommunes grænser.</p>
                    <p>Samlingen skal pga. ophavsret ses på læsesalens computere.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="module">

    import { autoCompleteInit } from '/static/js/auto-complete-instance.js';

    const searchBaseUrl = '/search?{{ query_str_display }}';
    window.addEventListener("pageshow", function(event) {
        if (!event.persisted) {
            autoCompleteInit(searchBaseUrl);
        }
    });
</script>

<footer class="footer">
    {% include "includes/footer.html" %}
</footer>

{% include "includes/flash.html" %}


{% endblock content %}