{% extends "empty.html" %}

{% block body_class %}page-images{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/images.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

<nav class="container-fluid navigation sticky-top">
    {% include "includes/logo.html" %}
    {% include "includes/navigation.html" %}
</nav>

<main>
    <div class="container-fluid">
        <div class="images-top-container"></div>

        <div class="images-links">


            <div class="images-link">
                <a href="/search?content_types=61&availability=4&direction=asc&size=50&sort=date_from">
                    <img src="{{ url_for('static', path='/assets/images-page/Billder-fra-Aarhus_aarhusarkivet_420px.jpg') }}"
                        alt="Smart Arkivering">
                </a>
                <div class="images-text">
                    <p>Her på AarhusArkivet kan du gå jagt blandt <a
                            href="/search?content_types=61&availability=4&direction=asc&size=50&sort=date_from"
                            target="blank">tusindvis af billeder fra Aarhus og omegn.</a></p>
                    <p>Her er både store og små begivenheder dokumenteret og du kan finde fotografier fra byens bedste
                        pressefotografer, samt fotografier taget af byens private borgere.</p>
                    <p>Du kan via forskellige søgefiltre og links nemt klikke dig videre til andre billeder, som også
                        kunne have din interesse.</p>
                    <p><a href="/search?content_types=61&availability=4&direction=asc&size=50&sort=date_from"
                            target="blank">Klik her for at se AarhusArkivets billedsamling</a></p>
                </div>
            </div>

            <div class="images-link">
                <a href="https://aarhusbilleder.dk/main/thumbnailview" target="blank">
                    <img src="{{ url_for('static', path='/assets/images-page/Billder-fra-Aarhus_aarhusbilleder_420px.jpg') }}"
                        alt="Retrodigitalisering">
                </a>
                <div class="images-text">
                    <p>På aarhusbilleder.dk kan du finde kulturhistoriske fotografier fra Aarhus Stadsarkiv og Den Gamle
                        Bys samlinger samt udvalgte kort, tegninger og malerier.</p>
                    <p>Aarhusbilleder.dk drives af Den Gamle By og Aarhus Stadsarkiv i regi af Aarhus Byhistoriske Fond.
                        Aarhus Byhistoriske Fonds sigte er at formidle byens historie i bredeste forstand.</p>
                    <p>Samlingerne rummer hovedsageligt materiale fra Aarhus inden for ringgaden men vi arbejder på at
                        få materiale fra hele Aarhus Kommune.</p>
                    <p><a href="https://aarhusbilleder.dk" target="blank">Klik her for at gå til aarhusbilleder.dk</a>
                    </p>
                </div>
            </div>

            <div class="images-link">
                <a href="https://arkiv.dk/" target="blank">
                    <img src="{{ url_for('static', path='/assets/images-page/Billder-fra-Aarhus_arkiv-dk_420px.jpg') }}"
                        alt="Salling Arkivet">
                </a>
                <div class="images-text">
                    <p>De fleste lokalarkiver i Aarhus er del af Arkiv.dk.</p>
                    <p>På Arkiv.dk kan man finde registreringer af alle typer arkivmateriale fra lokalarkiverne. Det
                        primære er dog billeder, så leder man efter historiske fotografier fra områderne uden for
                        midtbyen, er dette den oplagte søgeside.</p>
                    <p><a href="https://arkiv.dk" target="blank">Klik her for at se billeder på hjemmesiden Arkiv.dk</a>
                    </p>
                </div>
            </div>

            <div class="images-link"> </div>
        </div>
    </div>
</main>

<footer class="footer">
    {% include "includes/footer.html" %}
</footer>

{% include "includes/flash.html" %}


{% endblock content %}