{% set image_items = [
{
"image_src": "https://acastorage.blob.core.windows.net/sam-access/000511873/000511873_m.jpg",
"alt_text": "Jul og Salling",
"link_url": "/search?events=123178",
"link_text": "Jul og Salling"
},
{
"image_src": "https://storage.googleapis.com/openaws-access/000141162_m.jpg",
"alt_text": "Jubilæer",
"link_url": "/search?q=Jubilæ*",
"link_text": "Jubilæer"
},
{
"image_src": "https://storage.googleapis.com/openaws-access/000144045_m.jpg",
"alt_text": "Herman Salling",
"link_url": "/search?people=107435",
"link_text": "Herman Salling"
},
{
"image_src": "https://storage.googleapis.com/openaws-access/000142014_m.jpg",
"alt_text": "Arrangementer",
"link_url": "/search?subjects=33",
"link_text": "Arrangementer"
},
{
"image_src": "https://acastorage.blob.core.windows.net/sam-access/000511923/000511923_m.jpg",
"alt_text": "Ferdinand Salling",
"link_url": "/search?people=108280",
"link_text": "Ferdinand Salling"
},
{
"image_src": "https://storage.googleapis.com/openaws-access/000140706_m.jpg",
"alt_text": "Konfirmationer",
"link_url": "/search?q=konfirma*",
"link_text": "Konfirmationer"
},
{
"image_src": "https://acastorage.blob.core.windows.net/sam-access/000496714/000496714_m.jpg",
"alt_text": "Facadebilleder",
"link_url": "/search?content_types=66",
"link_text": "Facadebilleder"
},

{
"image_src": "https://storage.googleapis.com/openaws-access/000303489_m.jpg",
"alt_text": "Salling Rooftop",
"link_url": "/search?locations=157234",
"link_text": "Salling Rooftop"
},

{
"image_src": "https://acastorage.blob.core.windows.net/sam-access/000511624/000511624_m.jpg",
"alt_text": "Salling Roofgarden",
"link_url": "/search?locations=157235",
"link_text": "Salling Roofgarden"
},

{
"image_src": "https://storage.googleapis.com/openaws-access/000144277_m.jpg",
"alt_text": "Vinduesudstilling",
"link_url": "/search?q=Vinduesudstilling",
"link_text": "Vinduesudstilling"
},

{
"image_src": "https://acastorage.blob.core.windows.net/sam-access/000511195/000511195_m.jpg",
"alt_text": "Vinduesudstilling 1960'erne",
"link_url": "/search?q=Vinduesudstilling&date_from=19600101&date_to=19691231",
"link_text": "Vinduesudstilling 1960'erne"
},

{
"image_src": "https://acastorage.blob.core.windows.net/sam-access/000511860/000511860_m.jpg",
"alt_text": "Vinduesudstilling 1970erne",
"link_url": "/search?q=Vinduesudstilling&date_from=19700101&date_to=19791231",
"link_text": "Vinduesudstilling 1970erne"
},

{
"image_src": "https://acastorage.blob.core.windows.net/sam-access/000512001/000512001_m.jpg",
"alt_text": "Vinduesudstilling 1980'erne",
"link_url": "/search?q=Vinduesudstilling&date_from=19800101&date_to=19891231",
"link_text": "Vinduesudstilling 1980'erne"
},

{
"image_src": "https://storage.googleapis.com/openaws-access/000144247_m.jpg",
"alt_text": "Luftfotos",
"link_url": "/search?content_types=62",
"link_text": "Luftfotos"
},

] %}

<h3 class="main-title">Udforsk arkivet</h3>

{{ salling_macros.search_suggestions(image_items) }}