<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png?v={{ get_setting('version') }}">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png?v={{ get_setting('version') }}">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png?v={{ get_setting('version') }}">
<link rel="manifest" href="/static/favicon_io/site.webmanifest?v={{ get_setting('version') }}">
<!--

Add extra stylesheet named extra.css

-->

<!--
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
-->

<!-- HTML in your document's head -->
<link rel="preconnect" href="https://rsms.me">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
