<div class="logo">
    <a href="{{ url_for('home') }}">
        <!--
        <svg width="400" height="100" xmlns="http://www.w3.org/2000/svg">
            <text x="10" y="50" font-family="Arial, sans-serif" font-size="40" font-weight="bold">SALLING</text>
            <text x="190" y="50" font-family="Arial, sans-serif" font-size="40" font-weight="normal">ARKIVET</text>
        </svg>
        -->
        <div>
            <span class="logo-text-start">SALLING </span>
            <span class="logo-text-end">ARKIVET</span>
        </div>
        
    </a>
</div>
