{% extends "base.html" %}

{% block body_class %}page-about{% endblock %}

{% block content %}



{% include "includes/main_title.html" %}

<div>
    <p>Aarhus Stadsarkiv modtog i juni 2014 arkiver fra F. Salling Stormagasin A/S og Ferdinand og Herman Salling, To år
        senere modtog Stadsarkivet en samling dokumenter fra Dansk Supermarked mv. På denne hjemmeside fortæller vi
        historien om stormagasinet og de to første indehavere, Ferdinand og Herman Salling.</p>
    <p>Aarhus Stadsarkiv har valgt at fortælle stormagasinets historie ved at sammensætte en række temaer,
        ”<em>Sallinghistorier</em>”, der på forskellig vis kommer rundt om virksomheden, dens ansatte og de kunder, der
        har haft deres daglige færd i stormagasinet. Ved siden af fortællingerne er der fremlagt 'arkivalier' af
        forskellig slags.</p>
    <p>Hjemmesiden er bygget op på den måde, at alle <em>arkivalier</em>&nbsp;- dvs. dokumenter, man kan se i fuld
        tekst, samt billeder og film - trækkes ind fra Stadsarkivets arkivsystem på <a
            href="http://www.aarhusarkivet.dk">www.aarhusarkivet.dk</a>.&nbsp;</p>
    <p>Man kan dermed også komme rundt i historien ved at udforske disse&nbsp;dokumenter og billeder. Alle dokumenter og
        billeder er påført et emne, ’tag’, som man kan følge rundt på hjemmesiden.&nbsp;</p>
    <p>Nogle steder vil man opleve, at der omtales arkivalier, der ikke må vises på internettet, men findes på
        Stadsarkivet (se nedenfor). Dette skyldes ophavsret.</p>
    <p><strong>Din Salling-historie</strong></p>
    <p>En række <em>erindringer</em> er gengivet på hjemmesiden sammen med private fotografier mv. Disse er indsamlet
        ved et arrangement, ”Din Salling-historie”, der over flere dage blev afviklet i stormagasinets rammer i
        efteråret 2014 og efterfølgende i virksomhedens personaleforening.</p>
    <p><strong>Vil du vide mere</strong></p>
    <p>På Aarhus Stadsarkivs hjemmeside kan man søge i de samlede arkiver fra de nævnte virksomheder. Det er kun en
        mindre del, der er fremlagt på denne hjemmeside. Blandt andet er der mange flere fotos og et langt større
        virksomhedsarkiv end her præsenteret.</p>
    <p>Stadsarkivets hjemmeside med arkivsøgning: www.aarhusarkivet.dk.</p>
    <p><strong>Har du noget at supplere med?</strong></p>
    <p>Hvis du ligger inde med materiale i digital form, der kan udvide samlingen, kan du sende det til os på
        hjemmesiden <a href="http://www.smartarkivering.dk">www.smartarkivering.dk</a> og i beskrivelsesfeltet skrive,
        at det vedrører Salling.&nbsp;</p>
    <p>Du kan også komme forbi arkivet og aflevere det.</p>
    <p><strong>Rettigheder</strong></p>
    <p>Alt fremlagt materiale fra arkiverne er frigjort til offentliggørelse. Fotografierne er enten overdraget af
        rettighedsindehaverne, typisk navngivne medlemmer af Salling-familien, ansatte i virksomheden eller kunder,
        eller taget af fotografer, som Aarhus Stadsarkiv har indgået formidlingsaftaler med.&nbsp; Brugslicenser er
        påført alle fotografier.</p>
    <p>De fremlagte virksomhedsdokumenter er enten uden for copyright-bestemmelserne eller er frigivet af virksomheden.
    </p>
    <p><strong>Credits</strong></p>
    <p>Hjemmesiden er muliggjort af en donation fra Salling-fondene. Aarhus Stadsarkiv vil gerne udtrykke sin
        taknemmelighed over fondenes støtte til dette samt til andre projekter. En særlig tak skal gælde fru Karin
        Salling for overdragelsen af virksomhedsarkivet og private papirer og til Dansk Supermarked for at have fulgt op
        på denne aflevering.</p>
    <p>Hjemmesiden udtrykker alene Aarhus Stadsarkivs faglige vurderinger.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>

{% endblock content %}