<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
    <link id="theme-select" rel="stylesheet" href="{{ url_for('static', path='/css/light.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/dolphin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/flash.css') }}">
</head>

<body>

    <header>
        <nav>
            {% include "includes/logo.html" %}
            {% include "includes/navigation.html" %}
        </nav>
    </header>

    <main>
        {% block content %}
        <h1>Welcome to {{ title }}!</h1>
        {% endblock content %}
    </main>

    <footer>
        
    </footer>

</body>

{% include "includes/flash.html" %}

</html>