<!DOCTYPE html>
<html lang="da">

<head>

    {% include "includes/head_default.html" %}
    {% include "includes/head_extra.html" %}
    {% block head %}
    {% endblock head %}

    <link rel="stylesheet" href="{{ url_for('static', path='/css/local.css') }}?v={{ get_setting('version') }}">

</head>

<body class="{% block body_class %}{% endblock %}">

    <header>
        {% include "includes/navigation.html" %}
    </header>

    <main class="container-medium">
        <div class="container-main">
        {% block content %}
        {% endblock content %}
        </div>
    </main>

    <footer class="footer">
        {% include "includes/footer.html" %}
    </footer>

    {% include "includes/flash.html" %}

</body>

</html>
