<!DOCTYPE html>
<html lang="da">

<head>
    {% include "includes/head_default.html" %}
    {% block head %}
    {% endblock head %}
</head>

<body class="search">

    <div class="container-sticky">
        <nav class="container-fluid navigation">
            {% include "includes/logo.html" %}
            {% include "includes/navigation.html" %}
        </nav>
    </div>

    <main class="container-fluid-search">
        {% block content %}
        {% endblock content %}
    </main>

    <div class="container-fluid">
        <footer>
            {% include "includes/footer.html" %}
        </footer>
    </div>
    {% include "includes/flash.html" %}
</body>

</html>