<!DOCTYPE html>
<html lang="da">

<head>
    {% include "includes/head_default.html" %}
    {% block head %}
    {% endblock head %}
</head>

<body class="{% block body_class %}{% endblock %}">

    <nav class="container-fluid navigation sticky-top">
        {% include "includes/logo.html" %}
        {% include "includes/navigation.html" %}
    </nav>

    <main class="container-fluid-left-main">
        {% block content %}
        {% endblock content %}
    </main>

    <footer class="footer">
        {% include "includes/footer.html" %}
    </footer>

    
</body>

</html>
