<!DOCTYPE html>
<html lang="da">

<head>
    <title>{{ translate('Search') }}</title>
    {% include "includes/head_default.html" %}
    {% block head %}
    {% endblock head %}

</head>

<body>

    <div class="container-sticky">
        <nav class="container-fluid navigation">
            {% include "includes/logo.html" %}
            {% include "includes/navigation.html" %}
        </nav>
    </div>

    <main class="container-fluid-search">
        {% block content %}
        {% endblock content %}
    </main>

    <footer class="container-fluid"></footer>
    {% include "includes/flash.html" %}
</body>

</html>