.home-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1920 / 250;
}

.home-search-form {
    padding: 25px;

}

#q {
    width: 400px;
}

.search-suggestions {
    width: 400px;
    z-index: 1000;
}

/**
 * hide search button when screen is small
 */
@media (max-width: 768px) {
    /* center search form */
    .home-search-form {
        flex: 1;
    }

    /* hide search button */
    .search-button {
        display: none !important;
    }

    /* full width search input */
    #q {
        width: 100%;
    }

    .search-suggestions {
        /* calculate same width as #q */
        width: calc(100% - 50px);
    }
}


.search-text p {
    font-size: 0.9em;
}

.search-text h3 {
    font-size: 1.2em;
    text-decoration: uppercase;
}


.page-home {
    background-image: url(/static/assets/facade_red_1920.jpg);
    background-size: 100% auto;
    background-position: center calc(var(--main-menu-top));
    background-repeat: no-repeat; 
    height: auto; 
    min-height: 100vh;
    background-color: var(--navigation-background);
}


.home-search-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 25px;
    padding-top: 15px;
    margin: 0 auto;
    max-width: 1400px;
}

.home-search-link {
    /* Five columns */
    flex: 1 0 18%;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.home-search-link img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.headline {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    font-size: 24px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .home-search-link {
        /* Two columns */
        flex: 1 0 46%;
    }
}

@media (max-width: 576px) {
    .home-search-link {
        /* One column */
        flex: 1 0 96%;
    }
}


.main-menu>h3 {
    font-size: 0.9em;
    padding: 0;
    color: rgba(var(--navigation-background-rgb), 0.975);
}

.footer {
    display: none;
}

.main-menu {
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    background-color: black;
}

.home-content {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.25);
}

.home-content p,
.home-content ul,
.home-content h2,
.home-content a {
    color: white;
    font-size: larger;
    font-weight: 600;
    text-align: left;
    margin: 5px;

    display: inline-block;
    padding: 5px;
}

.home-content ul {
    list-style: none;
    text-align: left;
}

.home-content a {
    text-decoration: underline;
}