{% set truncate_summary_gallery = 160 %}

{% macro parse_search_title_gallery(result) %}
{% if result.label %}
<div class="search-summary-gallery">{{ result.label|truncate(truncate_summary_gallery) }}</div>
{% elif result.summary %}
<div class="search-summary-gallery">{{ result.summary|truncate(truncate_summary_gallery) }}</div>
{% endif %}
{% endmacro %}

{% macro parse_search_result_gallery(search_result, view) %}
{% set start = search_result["start"]|int %}
{% set size = search_result["size"]|int %}

<div class="search-results-gallery">
    {% for result in search_result.result %}
    {% set serie = None %}
    {% if result.series is iterable %}
    {% set serie = result.series | last %}
    {% endif %}
    {% set current = loop.index + start %}

    <div class="search-result-gallery">
        <a class="search-link-gallery" href="/records/{{ result.id }}?search={{ current }}">
            {% if result.portrait %}
                {% if result.label %}
                {% set label = result.label %}
                {% else %}
                {% set label = result.summary %}
                {% endif %}
            <div class="search-portrait-gallery">
                <img src="{{ result.portrait }}" alt="{{ label }}">
            </div>
            {% else %}
                {% if view == 'grid' %}
                <div class="search-portrait-gallery">
                    <img src="{{ url_for('static', path='/assets/transparent_1px.png') }}" alt="{{ label }}">
                </div>
                {% endif %}
            {% endif %}
            {{ parse_search_title_gallery(result) }}
            <div class="search-result-date-gallery">
                {{ result.date_normalized }}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endmacro %}
