{% import "macros/common_macros.html" as common_macros %}
{% import "macros/relations_macros.html" as relations %}
{% import "macros/resource_macros.html" as resource_macros %}

{% extends "base.html" %}




{% block body_class %}resources-events{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/overlay.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/resource.css') }}?v={{ get_setting('version') }}">

<script type="module">
    import { activateOverlay } from "/static/js/overlay.js";
    activateOverlay();
</script>
{% endblock head %}

{% block content %}

{% include "includes/main_title.html" %}

<p>
    <a href="/search?events={{ meta['id_real'] }}">{{ translate('Show all results in the collection') }}</a>
</p>

{# resource_macros.resource_search_result(resource.search_result) #}

{% set keys = [
"id", "ext_data_season", "ext_data_stagename", "date_from_premier", "ext_data_playwright", "ext_data_original_id",
"ext_data_production", "event_type", "addr_nr", "zipcode", "latitude_longitude", "parish", "rotation", "local_area"] %}

{% set options = {'icon': schema, 'icon_label': 'Lokation'} %}
{{ common_macros.parse_image_block('Stamdata', keys, resource, options) }}

{% set keys = ["ext_data_translater", "ext_data_arkiv_id", "ext_data_number_of_performances"] %}
{{ common_macros.parse_block_common('Beskrivelse', keys, resource) }}

{% set keys = ["sources_normalized"] %}
{{ common_macros.parse_block_common('Kilder', keys, resource) }}

{{ relations.parse_relations('people', resource) }}

{% if has_permission( "employee", permissions_list) %}
<div class="relations-edit-app"></div>
<script type="module">

    import { initRelationsEdit } from '/static/js/relations-edit.js';

    const resource = {{ to_json(resource) | safe }};
    initRelationsEdit(resource.relations, resource.resource_orginal)

</script>
{% endif %}

{% set meta_links = [
{"url": "/events/" + meta['id_real'] + "/json/api", "label": "JSON. Resource fra API" },
{"url": "/events/" + meta['id_real'] + "/json/resource_and_types", "label": "JSON. Typer og værdier" }
] %}

{{ common_macros.parse_meta_block(meta_links) }}

{% endblock content %}