{% import "macros/common_macros.html" as common_macros %}
{% import "macros/relations_macros.html" as relations_macros %}

{% extends "base.html" %}

{% block body_class %}page-resources-people{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/search.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/overlay.css') }}?v={{ get_setting('version') }}">
<script type="module">
    import { activateOverlay } from "/static/js/overlay.js";
    activateOverlay();
</script>
{% endblock head %}

{% block content %}

{% include "includes/main_title.html" %}

<p>
    <a href="/search?people={{ meta['id_real'] }}">{{ translate('Show all results in the collection') }}</a>
</p>

{% set options = {'icon': 'person', 'icon_label': 'Person'} %}
{% set keys = ["firstnames", "lastnames", "gender", "date_of_birth", "place_of_birth", "date_of_death", "place_of_death", "occupation"] %}
{{ common_macros.parse_image_block('', keys, resource, options) }}

{% set keys = ["description"] %}
{{ common_macros.parse_block_common('Beskrivelse', keys, resource) }}

{% set keys = ["sources_normalized"] %}
{{ common_macros.parse_block_common('Kilder', keys, resource) }}

{% set keys = ["ext_data"] %}
{{ common_macros.parse_block_common('Udvidet data', keys, resource) }}

{{ relations_macros.parse_relations('events', resource) }}

{% set meta_links = [
    {"url": "/people/" + meta['id_real'] + "/json/api", "label": "JSON. Resource fra API" },
    {"url": "/people/" + meta['id_real'] + "/json/resource_and_types", "label": "JSON. Typer og værdier" }
] %}
{{ common_macros.parse_meta_block(meta_links) }}

{% endblock content %}