{% import "macros/common_macros.html" as common_macros %}
{% import "macros/relations_macros.html" as relations_macros %}
{% import "macros/resource_macros.html" as resource_macros %}
{% import "macros/search_macros.html" as search_macros %}

{% set view = resource.search_result.view %}

{% extends "base.html" %}

{% block body_class %}page-resources-people resources-relations{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/overlay.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/search.css') }}?v={{ get_setting('version') }}">
{% if view == 'grid' %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/search_grid.css') }}?v={{ get_setting('version') }}">
{% endif %}
<script type="module">
    import { activateOverlay } from "/static/js/overlay.js";
    activateOverlay();
</script>
{% endblock head %}

{% block content %}

{% include "includes/main_title.html" %}

{% set options = {'icon': 'person', 'icon_label': 'Person'} %}
{% set keys = ["firstnames", "lastnames", "gender", "date_of_birth", "place_of_birth", "date_of_death", "place_of_death", "occupation"] %}
{{ common_macros.parse_image_block('', keys, resource, options) }}

{{ relations_macros.parse_relations('events', resource) }}

{{ resource_macros.parse_search_pagination(resource.search_result, meta, 'people') }}

{% set ignore_fields = ['collection'] %}

{% if view == 'gallery' or view == 'grid' %}
{{ search_macros.parse_search_result_gallery(resource.search_result) }}
{% else %}
{{ search_macros.parse_search_result(resource.search_result, ignore_fields) }}
{% endif %}

{% set keys = ["description"] %}
{{ common_macros.parse_block_common('Beskrivelse', keys, resource) }}

{% set keys = ["sources_normalized"] %}
{{ common_macros.parse_block_common('Kilder', keys, resource) }}

{% set keys = ["ext_data"] %}
{#{ common_macros.parse_block_common('Udvidet data', keys, resource) }#}

{% if has_permission( "employee", permissions_list) %}
<div class="relations-edit-app"></div>
<script type="module">

    import { initRelationsEdit } from '/static/js/relations-edit.js';

    const resource = {{ to_json(resource) | safe }};
    initRelationsEdit(resource.relations, resource.resource_orginal)

</script>
{% endif %}

{% set meta_links = [
    {"url": "/people/" + meta['id_real'] + "/json/api", "label": "JSON. Resource fra API" },
    {"url": "/people/" + meta['id_real'] + "/json/resource_and_types", "label": "JSON. Typer og værdier" }
] %}
{{ common_macros.parse_meta_block(meta_links, permissions_list) }}

{% endblock content %}