.council-top-container {
    display: flex;
    background-image: url(/static/assets/council-page/Byraadssager_AA_header_1920px.jpg);
    background-size: contain;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1920 / 400;
}


.council-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 25px;
    padding-top: 15px;
    margin: 0 auto;
    max-width: 1400px;
    padding-top: 50px;
}

/** image-link - default is 3 columns */
.council-link {
    flex: 1 0 30%;
    /* Four columns */
    margin: 5px;
}

@media (max-width: 1024px) {
    .council-link {
        flex: 1 0 46%;
        /* Two columns */
    }
    .council-top-image-container {
        display: none;
    }
}

@media (max-width: 480px) {
    .council-link {
        flex: 1 0 96%;
        max-width: 96%;
    }
}

.council-text p {
    font-size: 0.9em;
}

.council-text h3 {
    font-size: 1.2em;
    text-decoration: uppercase;
}

.footer {
    margin-top: 0;
}