{% extends "base.html" %}

{% import "macros/common_macros.html" as common_macros %}

{% block content %}

<style>
    figure.zoom {
      background-position: 50% 50%;
      position: relative;
      width: 500px;
      overflow: hidden;
      cursor: zoom-in;
    }
    figure.zoom img:hover {
      opacity: 0;
    }
    figure.zoom img {
      transition: opacity 0.5s;
      display: block;
      width: 100%;
    }
    </style>
    
    {% set image = '//res.cloudinary.com/active-bridge/image/upload/slide1.jpg'%}
    
    <body>
      <figure class="zoom" style="background-image: url('{{image}}');">
      <img src="{{ image }}">
    </figure>
    
          <script>

            function zoom(e) {
                var zoomer = e.currentTarget;
                e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX;
                e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX;
                x = offsetX / zoomer.offsetWidth * 100;
                y = offsetY / zoomer.offsetHeight * 100;
                zoomer.style.backgroundPosition = x + '% ' + y + '%';
              }
    let elem = document.querySelector('.zoom');
    elem.addEventListener('mousemove', zoom);
    </script>

    {% set settings = {'test_str': ''} %}

    {% macro test_update_var() %}
    {# iterate from 1 to 10 and update test_str with value #}
    {% for i in range(1, 11) %}
    {% set settings = settings.update({'test_str': settings['test_str'] ~ ' ' ~ i}) %}
    {% endfor %}

    {# output '1 2 3 4 5 6 7 8 9 10' #}
    {{ settings['test_str'] }}
    {% endmacro %}

    {{ test_update_var()}}

{% endblock content %}
