{# templates/base.html #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
    <link id="theme-select" rel="stylesheet" href="{{ url_for('static', path='/css/light.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/dolphin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/js/flash.css') }}">
    <script type="module" src="{{ url_for('static', path='/js/static_test.js') }}"></script>
</head>

<body>
    <header>
        {% include "_navigation.html" %}
    </header>
    {% block content %}
    <h1>Welcome to {{ title }}!</h1>
    {% endblock content %}
</body>
{% include "_flash.html" %}

</html>