{% extends "mails/mail_template.html" %}

{% block content %}
<p>Hej {{ display_name }},</p>

<p>Vi har modtaget en anmodning om at nulstille kodeordet for din bruger på {{ client_domain_url }}.</p>

    <p>
        Dette gøres ved at klikke på følgende link: <a href="{{ client_reset_url }}" target="_blank">{{ client_reset_url }}</a>
    </p>

<p>Linket er gyldigt i 1 time. Hvis det udløber, kan du besøge {{ client_domain_url }} for at anmode om et nyt link.</p>
<p>Hvis du mener, at du har modtaget denne email ved en fejl, kan du ignorere denne besked.</p>
<p>Med venlig hilsen,<br>{{ client_name }}</p>
{% endblock %}