{% extends "base.html" %}

{% import "macros/salling_macros.html" as salling_macros %}

{% block body_class %}page-home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/memories.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/stories.css') }}?v={{ get_setting('version') }}">

<link rel="stylesheet" href="{{ url_for('static', path='/css/search_suggestions.css') }}?v={{ get_setting('version') }}">
<script type="module">

    import { initializeSlider } from '/static/js/search-suggestions.js?v={{ get_setting("version") }}';
    initializeSlider("home");

</script>

<style>
    .stories-first {
        background: var(--search-result-background);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 0.7em;
    }

    .container-main > .section-title:first-of-type {
        margin-top: 20px;
    }


    @media (max-width: 768px) {
        .stories-first {
            box-shadow: unset;
            padding: unset;
        }
    }


    .stories-first-portrait {
        align-items: center;
        width: unset;
        position: relative;
        margin: 0 auto;
    }

    @media (max-width: 992px) {

        .stories-first-portrait {
            text-align: center;
            display: unset;
        }

        .stories-first-portrait img {
            width: 100%;
            height: auto;
        }

        .stories-first-content>p {
            width: 100%;
        }
    }

    /* max width of 768px; */
    @media (max-width: 768px) {
        .stories-first-portrait {
            width: 100%;
            margin: 0 auto;
        }

        .stories-first-portrait img {
            width: 100%;
            height: auto;
        }
    }

    h3 {
        text-transform: uppercase;
        margin: 20px 0;
    }

    .stories-first-portrait .arrow-left-container,
    .stories-first-portrait .arrow-right-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .stories-first-portrait .arrow-left-container {
        left: 0;
    }

    .stories-first-portrait .arrow-right-container {
        right: 0;
    }

    .stories-first-portrait .arrow-left-container,
    .stories-first-portrait .arrow-right-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--search-result-background);
        z-index: 10;
        cursor: pointer;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

{% endblock head %}

{% block content %}

{% set section = stories[2] %}

{{ salling_macros.story_slider(section) }}

<h4 class="section-title">Udvalgte Salling Minder</h4>
{{ salling_macros.memories(memories) }}


{% include 'includes/search_suggestions_home.html' %}


{% endblock content %}