{% extends "base.html" %}

{% block body_class %}page-home{% endblock %}

{% block content %}
{% include "includes/main_title.html" %}

<pre>{# to_json(memories) #}</pre>

<div class="memories-all-results">
    {% for memory in memories %}
    <div class="memory-result">
        <a class="memory-link" href="/erindringer/{{ memory.path }}">
            
            <div class="memory-content">
                <div class="memory-text">
                    <div class="memory-summary">{{ memory.heading }}</div>
                    <div class="memory-text">
                        {{ memory.paragraphs[0] }}
                    </div>          
                    <div class="memory-date">{{ memory.date }}</div>
                </div>

                {% if memory.urls and memory.urls[0] %}
                <div class="memory-image">
                    <img src="{{ memory.urls[0] }}" alt="{{ memory.heading }}">
                </div>
                {% endif %}
            </div>

        </a>
    </div>
    {% endfor %}
</div>

<style>

    /** all results */
    .memories-all-results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }

    @media (max-width: 992px) {
        .memories-all-results {
            grid-template-columns: 1fr;
        }
    }

    /** single result */
    .memory-result {
        border-radius: 5px;
        background: var(--search-result-background);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .memory-result:hover {
        background-color: var(--search-result-background-hover);
    }

    .memory-link {
        display: block;
        text-decoration: none;
        color: var(--text);
    }

    .memory-link:hover {
        text-decoration: none;
    }

    .memory-content {
        display: flex;
        align-items: flex-start;
        gap: 15px;
    }

    .memory-text {
        flex: 1;
        text-align: left;
    }

    .memory-image img {
        width: 150px;
        height: 150px;
        object-fit: contain;
        border-radius: 5px;
        background-color: var(--background);
    }

    .memory-summary {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .memory-date {
        font-size: 0.9em;
        color: var(--text-secondary);
    }


</style>


{% endblock content %}
