{% extends "base.html" %}

{% block body_class %}page-memory{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/memory.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}
{% include "includes/main_title.html" %}

<div class="memory">     
    {% for paragraph in memory.paragraphs %}
    <p>{{ paragraph }}</p>
    {% endfor %}
</div>

<div class="memory-all-results">
    {% for image in images %}
    <div class="memory-result">
        <a class="memory-link" href="/records/{{ image.record }}">
            <div class="memory-portrait">
                <img src="{{ image.url }}" alt="{{ image.text }}">
            </div>
            <div class="memory-summary">{{ image.text }}</div>

            <div class="memory-date">
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock content %}