{% extends "base.html" %}

{% block body_class %}page-stories{% endblock %}

{% block content %}
{% include "includes/main_title.html" %}

<div class="story-first">
    <div class="story-first-content">

        {% for paragraph in story_first.paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
    </div>

    <div class="story-first-portrait">
        <img src="{{ story_first.urls[0] }}" alt="{{ story_first.heading }}">
    </div>
</div>

<div class="stories-all-results">

    {% for story in main_stories %}

    <div class="story-result">
        <a class="story-link" href="/historier/{{ story.path }}">
            <div class="story-portrait">
                <img src="{{ story.urls[0] }}" alt="{{ story.heading }}">
            </div>
            <div class="story-summary">{{ story.heading }}</div>

            <div class="story-date">

            </div>
        </a>
    </div>
    {% endfor %}
</div>

<style>
    .story-first {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .story-first-content {
        width: 60%;
    }
    .story-first-portrait {
        width: 40%;
    }

    /** change to columns when width is 992px */
    @media (max-width: 992px) {
        .story-first {
            flex-direction: column;
        }
        .story-first-content {
            width: 100%;
        }
        .story-first-portrait {
            display: none;
        }
    } 

    .stories-all-results {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }

    @media (max-width: 1200px) {
        .stories-all-results {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 992px) {
        .stories-all-results {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 576px) {
        .stories-all-results {
            grid-template-columns: 1fr;
        }
    }

    .story-result {
        border-radius: 5px;
        break-inside: avoid;
        margin-bottom: 20px;
        background: var(--search-result-background);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .story-result:hover {
        background-color: var(--search-result-background-hover);
    }

    .story-link {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    a.story-link {
        text-decoration: none;
        color: var(--text);
        font-size: 0.9rem;
    }

    .story-portrait img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }

    .story-summary {
        flex-grow: 1;
        font-weight: bold;
    }

    .story-date {
        font-size: 0.9em;
    }
</style>

{% endblock content %}