{% extends "search.html" %}

{% import "macros/common_macros.html" as common_macros %}
{% import "macros/search_macros.html" as search_macros with context %}

{% block body_class %}page-records-search {% if view == 'grid' %}page-records-search-grid{% else
%}page-records-search-gallery{% endif %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/search.css') }}?v={{ get_setting('version') }}">
{% if view == 'grid' %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/search_grid.css') }}?v={{ get_setting('version') }}">
{% endif %}
{% endblock head %}

{% block content %}
<div class="container-main">
    <style>
        .image-container {
            display: flex;
            overflow-x: auto;
            gap: 10px;
            padding: 10px;
            touch-action: none;
            user-select: none;
            padding: 10px 0;
        }

        .image-container::-webkit-scrollbar {
            display: none;
        }

        .image-item {
            position: relative;
            flex-shrink: 0;
            width: 250px;
            height: 150px;
            cursor: grab;
        }

        .image-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* filter: grayscale(100%); */
            
        }

        .overlay-text {
            position: absolute;
            bottom: 0;
            color: white;
            font-size: 20px;
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            background-color: rgba(255, 255, 255, 0.5);
            padding-left: 10px;
            width: 100%;
            cursor: pointer;
        }
    </style>



    <h3>Populære temaer fra arkivet</h3>
    <div class="image-container">
        <div class="image-item">
            <img src="{{ url_for('static', path='/assets/udforsk/jul.jpg') }}" alt="Jul og Salling">
            <div class="overlay-text">Jul og Salling</div>
        </div>
        <div class="image-item">
            <img src="{{ url_for('static', path='/assets/udforsk/jubilæum.jpg') }}" alt="Jubilæer">
            <div class="overlay-text">Jubilæer</div>
        </div>
        <div class="image-item">
            <img src="{{ url_for('static', path='/assets/udforsk/herman_salling.jpg') }}" alt="Herman Salling">
            <div class="overlay-text">Herman Salling</div>
        </div>
        <div class="image-item">
            <img src="{{ url_for('static', path='/assets/udforsk/folkekultur.jpg') }}"
                alt="Folkekultur og dagligdagsliv">
            <div class="overlay-text">Folkekultur og dagligdagsliv</div>
        </div>
        <div class="image-item">
            <img src="{{ url_for('static', path='/assets/udforsk/ferdinand_salling.jpg') }}" alt="Ferdinand Salling">
            <div class="overlay-text">Ferdinand Salling</div>
        </div>
        <div class="image-item">
            <img src="{{ url_for('static', path='/assets/udforsk/konfirmation.jpg') }}" alt="Konfirmationer">
            <div class="overlay-text">Konfirmationer</div>
        </div>
        <div class="image-item">
            <img src="{{ url_for('static', path='/assets/udforsk/ejendomme.jpg') }}" alt="Ejendomme og bygningsværker">
            <div class="overlay-text">Ejendomme og bygningsværker</div>
        </div>
        <!-- Add more image items as needed -->
    </div>

    <script>
        // Drag images inside the container
            const pointerScroll = (elem) => {
                const dragStart = (ev) => {
                  elem.setPointerCapture(ev.pointerId);
                  ev.preventDefault(); // Prevent default image dragging
                };
              
                const dragEnd = (ev) => elem.releasePointerCapture(ev.pointerId);
              
                const drag = (ev) => {
                  if (elem.hasPointerCapture(ev.pointerId)) {
                    elem.scrollLeft -= ev.movementX;
                  }
                };
              
                // Prevent images from being draggable
                elem.querySelectorAll("img").forEach((img) => {
                  img.draggable = false;
                  img.addEventListener("dragstart", (ev) => ev.preventDefault());
                });
              
                elem.addEventListener("pointerdown", dragStart);
                elem.addEventListener("pointerup", dragEnd);
                elem.addEventListener("pointermove", drag);
              };
              
              document.querySelectorAll(".image-container").forEach(pointerScroll);

    </script>


    {{ search_macros.parse_search() }}
    {{ search_macros.parse_facets_filters(facets_filters) }}
    <div class="container-main-facets">
        {{ search_macros.parse_top_level_facets(facets, 'facets', 'search-date-main') }}
    </div>
    {{ search_macros.parse_pagination_total(pagination_data) }}
    {{ search_macros.parse_pagination(pagination_data) }}
    {{ search_macros.parse_search_result_gallery(search_result, view) }}
    {% if pagination_data["total_pages"] != 1 %}
    {{ search_macros.parse_pagination(pagination_data) }}
    {% endif %}

    {% set meta_links = [
    {'label': 'JSON', 'url': url_for('search_get_json') ~ "?" ~ query_str_search | string}
    ] %}

    {{ common_macros.parse_meta_block(meta_links, permissions_list) }}
</div>

<script type="module">
    import { config } from '/static/js/config.js';
    import { searchEvents } from "/static/js/search.js";
    import { autoCompleteInit } from '/static/js/auto-complete-instance.js';

    searchEvents();

    if (config.autoComplete) {
        const searchBaseUrl = '/search?';
        window.addEventListener("pageshow", function (event) {
            if (!event.persisted) {
                autoCompleteInit(searchBaseUrl);
            }
        });
    }
</script>

{% endblock content %}