{% extends "about_guides.html" %}

{% block body_class %}page-about-privacy{% endblock %}

{% block head %}
{% endblock head %}

{% block content %}

<h3>Privatlivspolitik</h3>
<div>I forbindelse med din benyttelse af aarhusarkivet.dk, skal vi jf. Databeskyttelsesforordningen informere
    dig om en række detaljer i vores håndtering af dine oplysninger og oplyse dig om dine rettigheder i den
    forbindelse.</div>

<h4 id="visitors" class="">Alle brugere af aarhusarkivet.dk</h4>
<div>Når du benytter AarhusArkivet.dk, indsamler vi oplysninger om din IP-adresse, samt hvilke sider og
    funktioner på hjemmesiden, aarhusarkivet.dk, du har klikket på. Disse oplysninger anonymiseres og benyttes
    af Aarhus Stadsarkiv til statistiske undersøgelser. Vi får disse oplysninger gennem Google Analytics. Se
    også vores <a href="/about/cookies">cookies-politik</a></div>

<h4 id="users" class="">Oprettede brugere på aarhusarkivet.dk</h4>
<div>Hvis du opretter dig som bruger på aarhusarkivet.dk, behandler vi ydermere personoplysninger om dig i
    kategorierne navn og e-mail, samt eventuelle gemte søgninger, gemte bogmærker og bestillinger. Det gør vi
    for at kunne tilbyde selvsamme funktionaliteter.</div>

<p>Oplysningerne kan også blive anvendt i Aarhus Kommunes videnskabelige og statistiske undersøgelser. Enhver
    offentliggørelse af resultatet fra sådanne undersøgelser vil være fuldt anonymiseret.</p>

<p>Oplysningerne opbevares og behandles sikkert hos vores leverandører.</p>

<p>Vores behandling af personoplysningerne sker på baggrund af databeskyttelsesforordningens artikel 6, stk. 1,
    litra a (samtykke). Samtykket trækkes tilbage ved at sende en mail til stadsarkiv@aarhus.dk.</p>

<p>De oplysninger vi her behandler om dig, vil blive slettet senest efter fem års inaktivitet eller når den
    registrerede bruger ønsker at blive slettet.</p>
<p>Du har ret til at anmode om indsigt i oplysningerne vi har om dig. Du har også ret til at anmode om
    berigtigelse eller sletning af oplysninger, og du kan også bede om en begrænsning af behandlingen af
    oplysningerne. Du skal dog være opmærksom på, at kommunen typisk er forpligtet til at gemme de oplysninger
    vi har noteret om dig, indtil den ovennævnte slettefrist indtræder.</p>

<p>Du har ret til at gøre indsigelse mod behandlingen jf. Databeskyttelsesforordningens artikel 21.</p>
<p>Det samtykke du har givet til behandlingen kan til en hver tid trækkes tilbage, dog uden at ændrer på
    lovligheden af den behandling der allerede måtte være foretaget.</p>

<p>Den dataansvarlige er Aarhus Kommune, Magistraten for Borgerservice og Biblioteker, Aarhus Stadsarkiv, Hack
    Kampmanns Plads 2, 8000 Aarhus C, som kan kontaktes på stadsarkiv@aarhus.dk eller 41 85 65 45. Har du
    spørgsmål i forbindelse med Aarhus Kommunes databeskyttelse af dine oplysninger, så kan du også kontakte
    Aarhus Kommunes databeskyttelsesrådgiver på mail databeskyttelsesraadgiver@aarhus.dk.</p>

<p>Du skal slutteligt vide at det er muligt at klage til Datatilsynet over behandlingen af personoplysningerne.
</p>

{% endblock content %}