{% import "macros/common_macros.html" as common_macros %}

{% set truncate_summary = 300 %}

{% macro parse_search_title(result) %}
{% if result.label %}
<div class="search-summary">{{ result.label|truncate(truncate_summary) }}</div>
{% endif %}
{% if result.summary %}
<div class="search-summary">{{ result.summary|truncate(truncate_summary) }}</div>
{% endif %}
{% endmacro %}


{% macro parse_search_result(search_result, meta) %}
{% set start = search_result["start"]|int %}
{% set size = search_result["size"]|int %}
{% set total = search_result["total"]|int %}
{% if size > total %}
{% set size = total %}
{% endif %}

<h3 class="record-header">Arkivalier</h3>

<p>
    
    Viser {{ size }} ud af {{ total }} arkivalier
    {% if total > 0 %}
    <a href="/search?events={{ meta['id_real'] }}">Vis alle relevante arkivalier</a>
    {% endif %}
</p>


<div class="search-results">

    {% for result in search_result.result %}
    {% set current = loop.index + start %}

    <div class="search-result">
        <a class="search-link" href="/records/{{ result.id }}?search={{ current }}">

            {% if result.thumbnail %}
            <div class="search-thumbnail">
                <img src="{{ result.thumbnail }}" alt="{{ result.label }}">
            </div>
            {% endif %}

            <div class="search-details">
                
                {{ parse_search_title(result) }}
                {% if result.collectors_label %}
                {{ common_macros.parse_string('collectors', result.collectors_label, translate('label_collectors')) }}
                {% endif %}
                {{ common_macros.parse_string('date_normalized', result.date_normalized, translate('label_date_normalized')) }}
                {% if result.content_type %}
                {{ common_macros.parse_string('content_type', result.content_type, translate('label_content_type')) }}
                {% endif %}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endmacro %}